<div class="modal-body rounded">
    <h4 class="create-record">CREATE RECORD</h4>
    <p>
        <div class="avatar" ng-style="{ 'background-image': 'url(./' + vm.user.image + ')' }" ng-if="vm.user.image"></div>
        <div class="avatar-name">
            <strong id="username-uppercase">{{ vm.user.username || 'Username is not set' | uppercase }}</strong>
        </div>
        <div class="clearfix"></div>
    </p>
    <div class="row">
        <div class="col-sm-4 form-group" ng-class="{ 'has-error': vm.submited && !vm.data.markerId }">
            <strong class="dark-text">Marker ID </strong>
            <small class="mandatory">*Mandatory</small>
            <input class="form-control" ng-model="vm.data.markerId" placeholder="Input a Marker ID" maxlength="20" />
            <div class="app-autocomplete" ng-if="vm.data.markerId">
                <div class="app-autocomplete-item" ng-repeat="item in vm.suggestMarkerIds()" ng-click="vm.data.markerId = item">
                    {{ item }}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4 form-group">
            <strong class="dark-text">Latitude </strong>
            <input class="form-control" ng-model="vm.data.lat" placeholder="Lat" type="number" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 form-group">
            <strong class="dark-text">Longitude </strong>
            <input class="form-control" ng-model="vm.data.lng" placeholder="Long" type="number" />
        </div>
    </div>
    <div class="row">
        <div class="form-group" ng-class="{ 'col-sm-4 form-group': vm.data.status == 5, 'col-sm-4 form-group': vm.data.status != 5, 'has-error': vm.submited && !vm.data.routeName }">
            <strong class="dark-text">Route Name </strong>
            <small class="mandatory">*Mandatory</small>
            <input class="form-control" ng-model="vm.data.routeName" placeholder="Input a Route Name" />
            <div class="app-autocomplete" ng-if="vm.data.routeName">
                <div class="app-autocomplete-item" ng-repeat="item in vm.suggestRouteNames()" ng-click="vm.data.routeName = item">
                    {{ item }}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="status-drop" class="col-sm-4 form-group" ng-class="{ 'has-error': vm.submited && !vm.data.status }">
            <strong class="dark-text">Status </strong>
            <small class="mandatory">*Mandatory</small>
            <select ng-model="vm.data.status" class="form-control">
                <option value="" disabled>Select a status</option>
                <option value="1">Good</option>
                <option value="2">Bad</option>
                <option value="3">Ugly</option>
                <option value="4">Planned</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <strong class="dark-text">Description</strong>
            <textarea ng-model="vm.data.description" class="form-control" rows="6" maxlength="200" />
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-12">
            <strong class="dark-text">Image</strong>
            <input type="file" id="fileUpload" />
            <canvas id="canvas" width="0" height="0"></canvas>
        </div>
    </div>
    <hr />
    <button class="btn btn-primary" ng-click="vm.submit()" ng-disabled="vm.submited && !(vm.data.status && vm.data.routeName && vm.data.markerId)">
        Yes</button>
    <button class="btn btn-default" ng-click="vm.cancel()">No</button>
</div>