<div ng-if="vm.isRegisterPage && !vm.forgotPass"
     class="auth">
    <h4>Register</h4>
    <div id="register-form"
         class="row">
        <div class="col-sm-6 form-group">
            <strong>Email:</strong>
            <input class="form-control"
                   ng-model="vm.email"
                   placeholder="Email"
                   type="email" />
        </div>

        <div class="col-sm-6 form-group">
            <strong>Username:</strong>
            <input class="form-control"
                   ng-model="vm.username"
                   placeholder="Username"
                   name="username"
                   maxlength="10" />
        </div>

        <div class="col-sm-6 form-group">
            <strong>Company:</strong>
            <input class="form-control"
                   ng-model="vm.company"
                   placeholder="Company"
                   name="company" />
        </div>
    </div>
    <div id="user-pass"
         class="row">
        <div class="col-sm-6 form-group">
            <strong>Password:</strong>
            <input class="form-control"
                   ng-model="vm.password"
                   placeholder="Password"
                   type="password" />
        </div>

        <div class="col-sm-6 form-group">
            <strong>Retype Password:</strong>
            <input class="form-control"
                   ng-model="vm.retypePassword"
                   placeholder="Retype password"
                   type="password" />
        </div>
    </div>

    <button class="btn btn-danger"
            ng-click="vm.register()">Register</button>
    or
    <a ui-sref="login">Login</a>
    or
    <a ng-click="vm.forgotPass = true">Forgot password</a>
</div>

<div ng-if="!vm.isRegisterPage && !vm.forgotPass"
     class="auth">
    <h4>Login</h4>
    <div id="input-boxes"
         class="row">
        <div class="col-sm-6 form-group">
            <strong>Username:</strong>
            <input class="form-control"
                   ng-model="vm.username"
                   placeholder="Username"
                   name="username"
                   text="username" />
        </div>

        <div class="col-sm-6 form-group">
            <strong>Password:</strong>
            <input class="form-control"
                   ng-model="vm.password"
                   placeholder="Password"
                   type="password" />
        </div>
    </div>

    <button id="register-btn"
            class="btn btn-primary"
            ng-click="vm.login()">Login</button>
    or
    <a ng-click="vm.gotoRegister()">Register</a>
    or
    <a ng-click="vm.forgotPass = true">Forgot password</a>
</div>

<div ng-if="vm.forgotPass"
     class="auth">
    <h4>Enter your mail</h4>
    <div id="input-boxes"
         class="row">
        <div class="col-sm-6 form-group">
            <strong>Email:</strong>
            <input class="form-control"
                   ng-model="vm.email"
                   placeholder="Email"
                   type="email" />
        </div>
    </div>

    <button id="register-btn"
            class="btn btn-primary"
            ng-click="vm.sendEmail()">Send</button>
    or
    <a ng-click="vm.gotoRegister()">Register</a>
    or
    <a ng-click="vm.forgotPass = false; vm.isRegisterPage = false; vm.err = undefined">Login</a>
</div>

<div ng-if="vm.err"
     class="text text-danger auth">
    {{ vm.err.data.message }}
</div>
