<div class="page">

    <div class="row ui-section">
        <div class="col-lg-8 clearfix">
            <h2 class="section-header">Google Map</h2>
        </div>
        <div class="col-md-12">
            <div class="row">1
                <div class="col-md-12">
                    <section class="panel panel-default">
                        <div class="panel-body">
                            <map class="ui-map" zoom="11" center="[40.74, -74.18]" scrollwheel="false">
                                <marker position="[40.72, -74.20]" title="marker" animation="Animation.DROP"></marker>
                                <marker position="[40.73, -74.19]" title="drag me" draggable="true"></marker>
                            </map>
                        </div>
                    </section>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <section class="panel panel-default">
                        <div class="panel-body" data-ng-controller="MapDemoCtrl">
                            <map class="ui-map" zoom="14" center="[43.6650000, -79.4103000]"></map>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>

</div>
