<div class="page-container">
    <div ng-include="'./modules/header/header.html'"></div>

    <div class="page-main-sidebar"
         ng-class="'page-' + pageName(globalCtrl.state.current.name)">
        <div ui-view></div>
    </div>

    <div ng-controller="MapController as mapCtrl"
         ng-class="{'map-hide': globalCtrl.noMapStates.indexOf(globalCtrl.state.current.name) > -1}"
         ng-if="globalCtrl.state.current.name !== 'app.register'"
         class="app-panel app-panel--map">
        <div class="app-panel--map-overview">
            <div class="app-panel--map-overview-title">
                Map overview
            </div>
            <span ng-cloak>
                {{ globalCtrl.subtitle }}
            </span>
        </div>
        <div id="map"
             ng-init="mapCtrl.showMap()"
             ng-class="globalCtrl.filters"></div>

        <!--<div class="app-panel-map-sidebar">-->
            <!--<div class="app-panel-map-sidebar-title app-panel-map-sidebar-group">-->
                <!--Station Analytics-->
            <!--</div>-->
            <!--<div class="app-panel-map-sidebar-group"-->
                 <!--ng-if="mapCtrl.chart">-->
                <!--<div class="row">-->
                    <!--&lt;!&ndash;div class="sidebar-chart-label col-sm-6 col-sm-offset-6">-->
                        <!--TOTAL:-->
                        <!--<span class="grey">(64)</span>-->
                    <!--</div&ndash;&gt;-->
                <!--</div>-->

                <!--<div class="row">-->
                    <!--<div class="col-sm-6 form-group doughnut">-->
                        <!--<canvas id="doughnut"-->
                                <!--class="chart chart-doughnut"-->
                                <!--chart-data="mapCtrl.chart.data"-->
                                <!--chart-labels="mapCtrl.chart.labels"-->
                                <!--width="10"-->
                                <!--height="10"-->
                                <!--responsive=false>-->
                        <!--</canvas>-->
                    <!--</div>-->

                    <!--<div  class="col-sm-6 form-group label_label"-->
                         <!--ng-cloak>-->
                        <!--<div class="sidebar-chart-label">-->
                            <!--<div class="box"-->
                                 <!--ng-style="{ 'background-color': mapCtrl.chart.colors[0] }"></div>-->
                            <!--GOOD-->
                            <!--<span class="grey">({{ mapCtrl.chart.data[0] }})</span>-->
                        <!--</div>-->
                        <!--<div class="sidebar-chart-label">-->
                            <!--<div class="box"-->
                                 <!--ng-style="{ 'background-color': mapCtrl.chart.colors[1] }"></div>-->
                            <!--BAD-->
                            <!--<span class="grey">({{ mapCtrl.chart.data[1] }})</span>-->
                        <!--</div>-->
                        <!--<div class="sidebar-chart-label">-->
                            <!--<div class="box"-->
                                 <!--ng-style="{ 'background-color': mapCtrl.chart.colors[2] }"></div>-->
                            <!--UGLY-->
                            <!--<span class="grey">({{ mapCtrl.chart.data[2] }})</span>-->
                        <!--</div>-->
                        <!--<div class="sidebar-chart-label">-->
                            <!--<div class="box"-->
                                 <!--ng-style="{ 'background-color': mapCtrl.chart.colors[3] }"></div>-->
                            <!--PLANNED-->
                            <!--<span class="grey">({{ mapCtrl.chart.data[3] }})</span>-->
                        <!--</div>-->
                    <!--</div>-->

                    <!--<div class="col-sm-12 form-group">-->
                        <!--<canvas id="bar_2"-->
                                <!--class="chart chart-bar"-->
                                <!--chart-data="mapCtrl.chart.data"-->
                                <!--chart-labels="mapCtrl.chart.labels"-->
                                <!--height="27"-->
                                <!--width="40"-->
                                <!--responsive=false-->
                                <!--chart-options="mapCtrl.chart.Options">-->
                        <!--</canvas>-->
                    <!--</div>-->
                    <!--<br>-->

                    <!--<div class="col-sm-12 form-group">-->
                        <!--<canvas id="radar"-->
                                <!--class="chart chart-radar"-->
                                <!--chart-data="mapCtrl.chart.data"-->
                                <!--chart-labels="mapCtrl.chart.labels"-->
                                <!--height="27"-->
                                <!--width="40"-->
                                <!--responsive=false-->
                                <!--chart-options="mapCtrl.chart.routeOptions">-->
                        <!--</canvas>-->
                    <!--</div>-->
                    <!--<br>-->

                    <!--&lt;!&ndash;div class="col-sm-12 form-group">-->
                        <!--<canvas id="horizontal-bar" class="chart chart-bar"  chart-data="mapCtrl.chart.routeData" chart-labels="mapCtrl.chart.routeLabels" height="27" width="40" responsive=false chart-options="mapCtrl.chart.routeOptions">-->
                        <!--</canvas>-->
                    <!--</div&ndash;&gt;-->
                    <!--<br>-->
                    <!--<div id="text_above">-->
                        <!--<h4 id="text_above"-->
                            <!--class="ng-scope">Update after Marker positioned</h4>-->
                        <!--<A HREF="javascript:history.go(0)">-->
                            <!--<button id="bottom-update"-->
                                    <!--class="ng-scope">UPDATE</button>-->
                        <!--</a>-->
                    <!--</div>-->


                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    </div>
</div>
