<div class="footer">
    <div class="pull-right">
        <ul class="list-inline">
            <li>
                <a ui-sref="app.main({ appId: appId() })" ng-class="{'active': pageName(globalCtrl.state.current.name) == 'main'}">Main</a>
            </li>
            <li>
                <a ui-sref="app.detail({ appId: appId() })" ng-class="{'active': pageName(globalCtrl.state.current.name) == 'detail'}">Detail</a>
            </li>
            <li>
                <a ui-sref="app.chart({ appId: appId() })" ng-class="{'active': pageName(globalCtrl.state.current.name) == 'chart'}">Chart</a>
            </li>
            <li>
                <a ui-sref="app.markers({ appId: appId() })" ng-class="{'active': pageName(globalCtrl.state.current.name) == 'markers'}">List of markers</a>
            </li>
            <li>
                <a ui-sref="app.route({ appId: appId() })-markers" ng-class="{'active': pageName(globalCtrl.state.current.name) == 'route-markers'}">Route Markers</a>
            </li>
            <li>
                <a ui-sref="app.reports({ appId: appId() })" ng-class="{'active': pageName(globalCtrl.state.current.name) == 'reports'}">Report</a>
            </li>
            <li>
                <a ui-sref="app.profile({ appId: appId() })" ng-class="{'active': pageName(globalCtrl.state.current.name) == 'profile'}">Profile</a>
            </li>
        </ul>
    </div>
    <div class="footer-copyright">
        <strong>&copy;</strong> Andromedia - 2018
    </div>
</div>
