<div class="page-container">
    <div ng-include="'./modules/header/header.html'"></div>

    <div class="page-main-sidebar"
         ng-class="'page-' + pageName(globalCtrl.state.current.name)">
        <div ui-view></div>
    </div>

    <div ng-controller="MapController as mapCtrl"
         ng-class="{'map-hide': globalCtrl.noMapStates.indexOf(globalCtrl.state.current.name) > -1}"
         ng-if="globalCtrl.state.current.name !== 'app.register'"
         class="app-panel app-panel--map">
        <div class="app-panel--map-overview">
            <div class="app-panel--map-overview-title">
                Map overview
            </div>

            <span ng-cloak>
                {{ globalCtrl.subtitle }}
            </span>
        </div>

        <div id="map"
             ng-init="mapCtrl.showMap()"
             ng-class="globalCtrl.filters"></div>
    </div>
</div>
