<style>
    .page-header.navbar .page-logo {
        color: #f3f5f7;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 31px;
        letter-spacing: 2px;
        line-height: 57px;
        text-shadow: 0 0 10px rgba(0, 0, 0, .3);
        width: 251px;
        margin-left: -8px;
        height: 15px;
    }

    td,
    th {
        padding: 21px 13px;
        color: #c1c1c1;
        font-weight: 900;
        font-size: initial;
        color: #ffffff;
    }

    img.ng-scope {
        width: 83px;
        height: 83px;
    }

    td {
        padding: 14px 8px;
        color: #c1c1c1;
        font-weight: 900;
        font-size: initial;
        color: #ffffff;
        white-space: normal;
    }

</style>
<div class="page-main overflow-scroll">
    <p style="display:none"> Filter: <span class="filter label label-good"
              ng-class="{'filter-disabled': !vm.filters.good}"
              ng-click="vm.filters.good = !vm.filters.good; vm.filterMarker()">Good</span>
        <span class="filter label label-bad"
              ng-class="{'filter-disabled': !vm.filters.bad}"
              ng-click="vm.filters.bad = !vm.filters.bad; vm.filterMarker()">Bad</span>
        <span class="filter label label-ugly"
              ng-class="{'filter-disabled': !vm.filters.ugly}"
              ng-click="vm.filters.ugly = !vm.filters.ugly; vm.filterMarker()">Ugly</span>
        <span class="filter label label-planned"
              ng-class="{'filter-disabled': !vm.filters.planned}"
              ng-click="vm.filters.planned = !vm.filters.planned; vm.filterMarker()">Planned</span>
    </p>
    <input class="form-control"
           ng-model="vm.search"
           placeholder="Search"
           maxlength="100" />
    <table>
        <tr>
            <th ng-click="reverse = sort === 'image' ? !reverse : false; sort = 'image'"
                class="sortable"> Picture <i class="fa fa-sort-asc"
                   ng-if="sort === 'image' && !reverse"></i>
                <i class="fa fa-sort-desc"
                   ng-if="sort === 'image' && reverse"></i>
                <i class="fa fa-sort"
                   ng-if="sort !== 'image'"></i>
            </th>
            <th ng-click="reverse = sort === 'markerId' ? !reverse : false; sort = 'markerId'"
                class="sortable"> Marker ID <i class="fa fa-sort-asc"
                   ng-if="sort === 'markerId' && !reverse"></i>
                <i class="fa fa-sort-desc"
                   ng-if="sort === 'markerId' && reverse"></i>
                <i class="fa fa-sort"
                   ng-if="sort !== 'markerId'"></i>
            </th>
            <th ng-click="reverse = sort === 'description' ? !reverse : false; sort = 'description'"
                class="sortable"> Description <i class="fa fa-sort-asc"
                   ng-if="sort === 'description' && !reverse"></i>
                <i class="fa fa-sort-desc"
                   ng-if="sort === 'description' && reverse"></i>
                <i class="fa fa-sort"
                   ng-if="sort !== 'description'"></i>
            </th>
            <th ng-click="reverse = sort === 'status' ? !reverse : false; sort = 'status'"
                class="sortable"> Status <i class="fa fa-sort-asc"
                   ng-if="sort === 'status' && !reverse"></i>
                <i class="fa fa-sort-desc"
                   ng-if="sort === 'status' && reverse"></i>
                <i class="fa fa-sort"
                   ng-if="sort !== 'status'"></i>
            </th>
            <th ng-click="reverse = sort === 'routeName' ? !reverse : false; sort = 'routeName'"
                class="sortable"> Route Name <i class="fa fa-sort-asc"
                   ng-if="sort === 'routeName' && !reverse"></i>
                <i class="fa fa-sort-desc"
                   ng-if="sort === 'routeName' && reverse"></i>
                <i class="fa fa-sort"
                   ng-if="sort !== 'routeName'"></i>
            </th>
            <th></th>
            <th ng-click="reverse = sort === 'create' ? !reverse : false; sort = 'create'"
                class="sortable"> Created <i class="fa fa-sort-asc"
                   ng-if="sort === 'create' && !reverse"></i>
                <i class="fa fa-sort-desc"
                   ng-if="sort === 'create' && reverse"></i>
                <i class="fa fa-sort"
                   ng-if="sort !== 'create'"></i>
            </th>
            <th ng-click="reverse = sort === 'edit' ? !reverse : false; sort = 'edit'"
                class="sortable"> Edited <i class="fa fa-sort-asc"
                   ng-if="sort === 'edit' && !reverse"></i>
                <i class="fa fa-sort-desc"
                   ng-if="sort === 'edit' && reverse"></i>
                <i class="fa fa-sort"
                   ng-if="sort !== 'edit'"></i>
            </th>
            <!--th ng-click="reverse = sort === 'lat' ? !reverse : false; sort = 'lat'" class="sortable">
                Lat
                <i class="fa fa-sort-asc" ng-if="sort === 'lat' && !reverse"></i>
                <i class="fa fa-sort-desc" ng-if="sort === 'lat' && reverse"></i>
                <i class="fa fa-sort" ng-if="sort !== 'lat'"></i>
            </th>
            <th ng-click="reverse = sort === 'long' ? !reverse : false; sort = 'long'" class="sortable">
                Long
                <i class="fa fa-sort-asc" ng-if="sort === 'long' && !reverse"></i>
                <i class="fa fa-sort-desc" ng-if="sort === 'long' && reverse"></i>
                <i class="fa fa-sort" ng-if="sort !== 'long'"></i>
            </th-->
            <th>
            </th>
            <th ng-click="reverse = sort === 'user.username' ? !reverse : false; sort = 'user.username'"
                class="sortable"> User <i class="fa fa-sort-asc"
                   ng-if="sort === 'user.username' && !reverse"></i>
                <i class="fa fa-sort-desc"
                   ng-if="sort === 'user.username' && reverse"></i>
                <i class="fa fa-sort"
                   ng-if="sort !== 'user.username'"></i>
            </th>
            <th ng-click="reverse = sort === 'user.company' ? !reverse : false; sort = 'user.company'"
                class="sortable"> Company <i class="fa fa-sort-asc"
                   ng-if="sort === 'user.company' && !reverse"></i>
                <i class="fa fa-sort-desc"
                   ng-if="sort === 'user.company' && reverse"></i>
                <i class="fa fa-sort"
                   ng-if="sort !== 'user.company'"></i>
            </th>
            <th>Modify</th>
        </tr>
        <tbody ng-repeat="(index, item) in vm.list | orderBy : sort : reverse"
               ng-if="vm.filters[vm.statuses[item.status]] && routeFiltersByName[item.routeName]
               && (item.markerId.toLowerCase().indexOf(vm.search.toLowerCase()) > -1 || !vm.search)">
            <tr>
                <td>
                    <img ng-src="{{ './' + item.image }}"
                         height="50"
                         ng-if="!item.uploadImage && item.image" />
                    <img ng-src="{{ item.uploadImage }}"
                         height="50"
                         ng-if="item.uploadImage" />
                    <div ng-show="vm.editingIndex === index + 1 && !vm.historyIndex">
                        <a id="drop-down"
                           class="btn btn-primary"
                           ng-click="vm.upload(index, 0)">
                            <span ng-if="!item.image">Upload</span>
                            <span ng-if="item.image">U</span>
                        </a>
                    </div>
                </td>
                <!-- <td ng-if="(vm.editingIndex !== index + 1 || vm.historyIndex) && appId() === 'master'">{{ item.appId }}</td> -->
                <td ng-if="vm.editingIndex !== index + 1 || vm.historyIndex">{{ item.markerId }}</td>
                <td ng-if="vm.editingIndex !== index + 1 || vm.historyIndex">
                    <pre class="app-pre"
                         ng-bind-html="item.description || 'No description'"></pre>
                </td>
                <td ng-if="vm.editingIndex !== index + 1 || vm.historyIndex">
                    <span class="label label-good"
                          ng-if="item.status == 1"> Good </span>
                    <span class="label label-bad"
                          ng-if="item.status == 2"> Bad </span>
                    <span class="label label-ugly"
                          ng-if="item.status == 3"> Ugly </span>
                    <span class="label label-planned"
                          ng-if="item.status == 4"> Planned </span>
                </td>
                <td ng-if="vm.editingIndex !== index + 1 || vm.historyIndex">{{ item.routeName }}</td>
                <!--td ng-if="vm.editingIndex !== index + 1 || vm.historyIndex">{{ item.lat }}</td>
            <td ng-if="vm.editingIndex !== index + 1 || vm.historyIndex">{{ item.lng }}</td-->
                <td ng-if="vm.editingIndex === index + 1 && !vm.historyIndex">
                    <input class="form-control"
                           ng-model="vm.editingItem.markerId" />
                </td>
                <td ng-if="vm.editingIndex === index + 1 && !vm.historyIndex">
                    <textarea class="form-control"
                              ng-model="vm.editingItem.description"></textarea>
                </td>
                <td ng-if="vm.editingIndex === index + 1 && !vm.historyIndex"
                    class="page-main__status">
                    <select ng-model="vm.editingItem.status"
                            class="form-control">
                        <option value="1">Good</option>
                        <option value="2">Bad</option>
                        <option value="3">Ugly</option>
                        <option value="4">Planned</option>
                    </select>
                </td>
                <td ng-if="vm.editingIndex === index + 1 && !vm.historyIndex">
                    <input class="form-control"
                           ng-model="vm.editingItem.routeName" />
                </td>
                <td></td>
                <!--td>
                <input type="number"
                       class="form-control"
                       ng-if="vm.editingIndex === index + 1 && !vm.historyIndex"
                       ng-model="vm.editingItem.lat" />
            </td>
            <td>
                <input type="number"
                       class="form-control"
                       ng-if="vm.editingIndex === index + 1 && !vm.historyIndex"
                       ng-model="vm.editingItem.lng" />
            </td-->
                <td>{{ item.create | amDateFormat: 'MM.DD.YYYY  h:mm:ss a' }}</td>
                <td>{{ item.edit | amDateFormat: 'DD.MM.YYYY   h:mm:ss a' }}</td>
                <td class="avatar-group">
                    <!--<div class="avatar small"-->
                    <!--ng-style="{ 'background-image': 'url(./' + item.user.image + ')' }"></div>-->
                    <div class="avatar-name small">
                        <strong>{{ item.user.username }}</strong>
                    </div>
                </td>
                <td>{{ item.user.company }}</td>
                <td>
                    <div ng-if="(!vm.editingIndex || vm.editingIndex === index + 1) && !vm.historyIndex"
                         class="page-main__actions">
                        <a class="btn btn-primary"
                           ng-click="vm.addHistory(index)"
                           ng-if="(vm.editingIndex !== 1 || vm.historyIndex)">
                            <i class="fa fa-plus"></i>
                        </a>
                        <a class="btn btn-warning"
                           ng-if="vm.editingIndex !== index + 1 || vm.historyIndex"
                           ng-click="vm.edit(index, 0)">
                            <i class="fa fa-pencil"></i>
                        </a>
                        <a class="btn btn-success"
                           ng-if="vm.editingIndex === index + 1 && !vm.historyIndex"
                           ng-click="vm.save()">
                            <i class="fa fa-save"></i>
                        </a>
                        <a class="btn btn-warning"
                           ng-if="vm.editingIndex === index + 1 && !vm.historyIndex"
                           ng-click="vm.cancel()">
                            <i class="fa fa-times"></i>
                        </a>
                        <a class="btn btn-danger"
                           ng-click="vm.delete(index)"
                           ng-if="vm.editingIndex !== index + 1 || vm.historyIndex">
                            <i class="fa fa-trash"></i>
                        </a>
                        <a class="btn btn-primary"
                           ui-sref="app.report({ id: item._id, appId: appId() })">
                            <i class="fa fa-eye"></i>
                        </a>
                    </div>
                </td>
            </tr>
            <!-- History -->
            <tr ng-repeat="(historyIndex, history) in item.history | limitTo: (vm.editingIndex === index + 1 && 3) || 2"
                ng-if="(historyIndex !== 0 || (vm.editingIndex === index + 1 && vm.historyIndex === 1))
                && (historyIndex !== 1 || (vm.editingIndex !== index + 1 || vm.historyIndex !== 1))">
                <td class="history-image">
                    <img ng-src="./{{ history.image }}"
                         height="40"
                         ng-if="!history.uploadImage && history.image" />
                    <img ng-src="{{ history.uploadImage }}"
                         height="40"
                         ng-if="history.uploadImage" />
                    <div ng-if="vm.editingIndex === index + 1 && vm.historyIndex === historyIndex + 1">
                        <a class="btn btn-primary"
                           ng-click="vm.upload(index, historyIndex + 1)">
                            <span ng-if="!history.image">Upload</span>
                            <span ng-if="history.image">Update</span>
                        </a>
                    </div>
                </td>
                <td></td>
                <td ng-if="vm.editingIndex !== index + 1 || vm.historyIndex !== historyIndex + 1">
                    <pre class="app-pre"
                         ng-bind-html="history.description || 'No description'"></pre>
                </td>
                <td ng-if="vm.editingIndex !== index + 1 || vm.historyIndex !== historyIndex + 1">
                    <span class="label label-good"
                          ng-if="history.status == 1"> Good </span>
                    <span class="label label-bad"
                          ng-if="history.status == 2"> Bad </span>
                    <span class="label label-ugly"
                          ng-if="history.status == 3"> Ugly </span>
                    <span class="label label-planned"
                          ng-if="history.status == 4"> Planned </span>
                </td>
                <td ng-if="vm.editingIndex === index + 1 && vm.historyIndex === historyIndex + 1">
                    <textarea class="form-control"
                              ng-model="vm.editingHistoryItem.description"></textarea>
                </td>
                <td ng-if="vm.editingIndex === index + 1 && vm.historyIndex === historyIndex + 1"
                    class="page-main__status">
                    <select ng-model="vm.editingHistoryItem.status"
                            class="form-control">
                        <option value="1">Good</option>
                        <option value="2">Bad</option>
                        <option value="3">Ugly</option>
                    </select>
                </td>
                <td colspan="2"></td>
                <td class="td-time">{{ history.create | amDateFormat: 'DD.MM.YYYY   h:mm:ss a' }}</td>
                <td class="td-time">{{ history.edit | amDateFormat: 'DD.MM.YYYY   h:mm:ss a' }}</td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <div ng-if="(!vm.editingIndex || (vm.editingIndex === index + 1 && vm.historyIndex === historyIndex + 1))"
                         class="page-main__actions">
                        <a class="btn btn-warning"
                           ng-if="vm.editingIndex !== index + 1 || vm.historyIndex !== historyIndex + 1"
                           ng-click="vm.edit(index, historyIndex + 1)">
                            <i class="fa fa-pencil"></i>
                        </a>
                        <a class="btn btn-success"
                           ng-if="vm.editingIndex === index + 1 && vm.historyIndex === historyIndex + 1"
                           ng-click="vm.save()">
                            <i class="fa fa-save"></i>
                        </a>
                        <a class="btn btn-warning"
                           ng-if="vm.editingIndex === index + 1 && vm.historyIndex === historyIndex + 1"
                           ng-click="vm.cancel()"
                           onclick="myFunction()">
                            <i class="fa fa-times"></i>
                        </a>
                        <a class="btn btn-danger"
                           ng-click="vm.delete(index, historyIndex + 1)"
                           ng-if="vm.editingIndex !== index + 1 || vm.historyIndex !== historyIndex + 1">
                            <i class="fa fa-trash"></i>
                        </a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<!--div class="padding"
     ng-if="!vm.editingIndex">
    <a class="btn btn-primary"
       ng-click="vm.add()">Add marker</a>
</div-->
<script>
    function myFunction() {
        location.reload();
    }

</script>
<!--&lt;!&ndash;&lt;!&ndash;===============================================================================================&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">&ndash;&gt;-->
<!--&lt;!&ndash;===============================================================================================&ndash;&gt;-->
<!--<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">-->
<!--&lt;!&ndash;===============================================================================================&ndash;&gt;-->
<!--<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">-->
<!--&lt;!&ndash;===============================================================================================&ndash;&gt;-->
<!--<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">-->
<!--&lt;!&ndash;===============================================================================================&ndash;&gt;-->
<!--<link rel="stylesheet" type="text/css" href="vendor/perfect-scrollbar/perfect-scrollbar.css">-->
<!--&lt;!&ndash;===============================================================================================&ndash;&gt;-->
<!--<link rel="stylesheet" type="text/css" href="css/util.css">-->
<!--<link rel="stylesheet" type="text/css" href="css/main.css">-->
<!--&lt;!&ndash;===============================================================================================&ndash;&gt;-->
<!--<style>-->
<!--.wrap-table100 {-->
<!--width: 100%;-->
<!--border-radius: 10px;-->
<!--overflow: hidden;-->
<!--}-->
<!--.row {-->
<!--background: #fff;-->
<!--}-->
<!--.container-table100 {-->
<!--width: 100%;-->
<!--min-height: unset;-->
<!--background: none;-->
<!--display: -webkit-box;-->
<!--display: -webkit-flex;-->
<!--display: -moz-box;-->
<!--display: -ms-flexbox;-->
<!--display: flex;-->
<!--align-items: unset;-->
<!--justify-content: center;-->
<!--flex-wrap: wrap;-->
<!--padding: unset;-->
<!--}-->
<!--.row.header .cell {-->
<!--width: 190px;-->
<!--}-->
<!--.row .cell {-->
<!--width: 190px;-->
<!--}-->
<!--.cell.ng-binding {-->
<!--width: 190px;-->
<!--}-->
<!--.cell {-->
<!--width: 190px;-->
<!--}-->
<!--.page-main__actions.ng-scope {-->
<!--padding: 21px 13px;-->
<!--}-->
<!--</style>-->
<!--<div class="limiter">-->
<!--<div class="container-table100">-->
<!--<div class="wrap-table100">-->
<!--<div class="table">-->
<!--<div class="row header">-->
<!--<div class="cell">-->
<!--<th ng-click="reverse = sort === 'image' ? !reverse : false; sort = 'image'"-->
<!--class="sortable"> Picture <i class="fa fa-sort-asc"-->
<!--ng-if="sort === 'image' && !reverse"></i>-->
<!--<i class="fa fa-sort-desc"-->
<!--ng-if="sort === 'image' && reverse"></i>-->
<!--<i class="fa fa-sort"-->
<!--ng-if="sort !== 'image'"></i>-->
<!--</th>-->
<!--</div>-->
<!--<div class="cell">-->
<!--<th ng-click="reverse = sort === 'markerId' ? !reverse : false; sort = 'markerId'"-->
<!--class="sortable"> Marker ID <i class="fa fa-sort-asc"-->
<!--ng-if="sort === 'markerId' && !reverse"></i>-->
<!--<i class="fa fa-sort-desc"-->
<!--ng-if="sort === 'markerId' && reverse"></i>-->
<!--<i class="fa fa-sort"-->
<!--ng-if="sort !== 'markerId'"></i>-->
<!--</th>-->
<!--</div>-->
<!--<div class="cell">-->
<!--<th ng-click="reverse = sort === 'description' ? !reverse : false; sort = 'description'"-->
<!--class="sortable"> Description <i class="fa fa-sort-asc"-->
<!--ng-if="sort === 'description' && !reverse"></i>-->
<!--<i class="fa fa-sort-desc"-->
<!--ng-if="sort === 'description' && reverse"></i>-->
<!--<i class="fa fa-sort"-->
<!--ng-if="sort !== 'description'"></i>-->
<!--</th>-->
<!--</div>-->
<!--<div class="cell">-->
<!--<th ng-click="reverse = sort === 'status' ? !reverse : false; sort = 'status'"-->
<!--class="sortable"> Status <i class="fa fa-sort-asc"-->
<!--ng-if="sort === 'status' && !reverse"></i>-->
<!--<i class="fa fa-sort-desc"-->
<!--ng-if="sort === 'status' && reverse"></i>-->
<!--<i class="fa fa-sort"-->
<!--ng-if="sort !== 'status'"></i>-->
<!--</th>-->
<!--</div>-->
<!--<div class="cell">-->
<!--<th ng-click="reverse = sort === 'routeName' ? !reverse : false; sort = 'routeName'"-->
<!--class="sortable"> Route Name <i class="fa fa-sort-asc"-->
<!--ng-if="sort === 'routeName' && !reverse"></i>-->
<!--<i class="fa fa-sort-desc"-->
<!--ng-if="sort === 'routeName' && reverse"></i>-->
<!--<i class="fa fa-sort"-->
<!--ng-if="sort !== 'routeName'"></i>-->
<!--</th>-->
<!--</div>-->
<!--<div class="cell">-->
<!--<th ng-click="reverse = sort === 'date' ? !reverse : false; sort = 'date'"-->
<!--class="sortable"> Date <i class="fa fa-sort-asc"-->
<!--ng-if="sort === 'date' && !reverse"></i>-->
<!--<i class="fa fa-sort-desc"-->
<!--ng-if="sort === 'date' && reverse"></i>-->
<!--<i class="fa fa-sort"-->
<!--ng-if="sort !== 'date'"></i>-->
<!--</th>-->
<!--</div>-->
<!--<div class="cell">-->
<!--<th ng-click="reverse = sort === 'user.username' ? !reverse : false; sort = 'user.username'"-->
<!--class="sortable"> User <i class="fa fa-sort-asc"-->
<!--ng-if="sort === 'user.username' && !reverse"></i>-->
<!--<i class="fa fa-sort-desc"-->
<!--ng-if="sort === 'user.username' && reverse"></i>-->
<!--<i class="fa fa-sort"-->
<!--ng-if="sort !== 'user.username'"></i>-->
<!--</th>-->
<!--</div>-->
<!--<div class="cell">-->
<!--<th ng-click="reverse = sort === 'user.company' ? !reverse : false; sort = 'user.company'"-->
<!--class="sortable"> Company <i class="fa fa-sort-asc"-->
<!--ng-if="sort === 'user.company' && !reverse"></i>-->
<!--<i class="fa fa-sort-desc"-->
<!--ng-if="sort === 'user.company' && reverse"></i>-->
<!--<i class="fa fa-sort"-->
<!--ng-if="sort !== 'user.company'"></i>-->
<!--</th>-->
<!--</div>-->
<!--</div>-->
<!--<div class="row" ng-repeat="(index, item) in vm.list | orderBy : sort : reverse"-->
<!--ng-if="vm.filters[vm.statuses[item.status]]">-->
<!--<div class="cell">-->
<!--<img ng-src="./{{ item.image }}"-->
<!--height="50"-->
<!--ng-if="!item.uploadImage && item.image" />-->
<!--<img ng-src="{{ item.uploadImage }}"-->
<!--height="50"-->
<!--ng-if="item.uploadImage" />-->
<!--<div ng-show="vm.editingIndex === index + 1 && !vm.historyIndex">-->
<!--<a class="btn btn-primary"-->
<!--ng-click="vm.upload(index, 0)">-->
<!--<span ng-if="!item.image">Upload</span>-->
<!--<span ng-if="item.image">Update</span>-->
<!--</a>-->
<!--</div>-->
<!--</div>-->
<!--<div class="cell">-->
<!--<td ng-if="vm.editingIndex !== index + 1 || vm.historyIndex">{{ item.markerId }}</td>-->
<!--</div>-->
<!--<div class="cell">-->
<!--<td ng-if="vm.editingIndex !== index + 1 || vm.historyIndex">{{ item.description || 'No description' }}</td>-->
<!--</div>-->
<!--<div class="cell">-->
<!--<td ng-if="vm.editingIndex !== index + 1 || vm.historyIndex">-->
<!--<span class="label label-good"-->
<!--ng-if="item.status == 1"> Good </span>-->
<!--<span class="label label-bad"-->
<!--ng-if="item.status == 2"> Bad </span>-->
<!--<span class="label label-ugly"-->
<!--ng-if="item.status == 3"> Ugly </span>-->
<!--<span class="label label-planned"-->
<!--ng-if="item.status == 4"> Planned </span>-->
<!--</td>-->
<!--</div>-->
<!--<div class="cell">-->
<!--<td ng-if="vm.editingIndex !== index + 1 || vm.historyIndex">{{ item.routeName }}</td>-->
<!--</div>-->
<!--<div class="cell">-->
<!--<td ng-if="vm.editingIndex !== index + 1 || vm.historyIndex">{{ item.create | amDateFormat: 'L' }}</td>-->
<!--</div>-->
<!--<div class="cell">-->
<!--<td class="avatar-group">-->
<!--<div class="avatar small"-->
<!--ng-style="{ 'background-image': 'url(./' + item.user.image + ')' }">-->
<!--</div>-->
<!--<div class="avatar-name small">-->
<!--<strong>{{ item.user.username }}</strong>-->
<!--</div>-->
<!--</td>-->
<!--</div>-->
<!--<div class="cell">-->
<!--<td>{{ item.user.company }}</td>-->
<!--</div>-->
<!--<div class="cell">-->
<!--<td>-->
<!--<div ng-if="(!vm.editingIndex || vm.editingIndex === index + 1) && !vm.historyIndex"-->
<!--class="page-main__actions">-->
<!--<a class="btn btn-primary"-->
<!--ng-click="vm.addHistory(index)"-->
<!--ng-if="(vm.editingIndex !== 1 || vm.historyIndex)">-->
<!--<i class="fa fa-plus"></i>-->
<!--</a>-->
<!--<a class="btn btn-warning"-->
<!--ng-if="vm.editingIndex !== index + 1 || vm.historyIndex"-->
<!--ng-click="vm.edit(index, 0)">-->
<!--<i class="fa fa-pencil"></i>-->
<!--</a>-->
<!--<a class="btn btn-success"-->
<!--ng-if="vm.editingIndex === index + 1 && !vm.historyIndex"-->
<!--ng-click="vm.save()">-->
<!--<i class="fa fa-save"></i>-->
<!--</a>-->
<!--<a class="btn btn-warning"-->
<!--ng-if="vm.editingIndex === index + 1 && !vm.historyIndex"-->
<!--ng-click="vm.cancel()">-->
<!--<i class="fa fa-times"></i>-->
<!--</a>-->
<!--<a class="btn btn-danger"-->
<!--ng-click="vm.delete(index)"-->
<!--ng-if="vm.editingIndex !== index + 1 || vm.historyIndex">-->
<!--<i class="fa fa-trash"></i>-->
<!--</a>-->
<!--</div>-->
<!--</td>-->
<!--</div>-->
<!--</div>-->
<!--&lt;!&ndash; History &ndash;&gt;-->
<!--<div class="row" ng-repeat="(historyIndex, history) in item.history | limitTo: (vm.editingIndex === index + 1 && 4) || 3"-->
<!--ng-if="(historyIndex !== 0 || (vm.editingIndex === index + 1 && vm.historyIndex === 1))-->
<!--&& (historyIndex !== 1 || (vm.editingIndex !== index + 1 || vm.historyIndex !== 1))">-->
<!--<div class="cell">-->
<!--<td class="history-image">-->
<!--<img ng-src="./{{ history.image }}"-->
<!--height="40"-->
<!--ng-if="!history.uploadImage && history.image" />-->
<!--<img ng-src="{{ history.uploadImage }}"-->
<!--height="40"-->
<!--ng-if="history.uploadImage" />-->
<!--<div ng-if="vm.editingIndex === index + 1 && vm.historyIndex === historyIndex + 1">-->
<!--<a class="btn btn-primary"-->
<!--ng-click="vm.upload(index, historyIndex + 1)">-->
<!--<span ng-if="!history.image">Upload</span>-->
<!--<span id="up_button" ng-if="history.image">Update</span>-->
<!--</a>-->
<!--</div>-->
<!--</td>-->
<!--</div>-->
<!--<div class="cell">-->
<!--<td ng-if="vm.editingIndex !== index + 1 || vm.historyIndex !== historyIndex + 1">{{ history.description || 'No description' }}</td>-->
<!--</div>-->
<!--<div class="cell">-->
<!--<td ng-if="vm.editingIndex !== index + 1 || vm.historyIndex !== historyIndex + 1">-->
<!--<span class="label label-good"-->
<!--ng-if="history.status == 1"> Good </span>-->
<!--<span class="label label-bad"-->
<!--ng-if="history.status == 2"> Bad </span>-->
<!--<span class="label label-ugly"-->
<!--ng-if="history.status == 3"> Ugly </span>-->
<!--<span class="label label-planned"-->
<!--ng-if="history.status == 4"> Planned </span>-->
<!--</td>-->
<!--</div>-->
<!--<div class="cell">-->
<!--<td ng-if="vm.editingIndex === index + 1 && vm.historyIndex === historyIndex + 1">-->
<!--<textarea class="form-control"-->
<!--ng-model="vm.editingHistoryItem.description"></textarea>-->
<!--</td>-->
<!--</div>-->
<!--<div class="cell">-->
<!--<td ng-if="vm.editingIndex === index + 1 && vm.historyIndex === historyIndex + 1"-->
<!--class="page-main__status">-->
<!--<select ng-model="vm.editingHistoryItem.status"-->
<!--class="form-control">-->
<!--<option value="1">Good</option>-->
<!--<option value="2">Bad</option>-->
<!--<option value="3">Ugly</option>-->
<!--</select>-->
<!--</td>-->
<!--</div>-->
<!--<div class="cell">-->
<!--<td>{{ history.create | amDateFormat: 'L' }}</td>-->
<!--</div>-->
<!--<div class="cell">-->
<!--<td>{{ history.edit | amDateFormat: 'L' }}</td>-->
<!--</div>-->
<!--<div class="cell">-->
<!--<td>-->
<!--<div ng-if="(!vm.editingIndex || (vm.editingIndex === index + 1 && vm.historyIndex === historyIndex + 1))"-->
<!--class="page-main__actions">-->
<!--<a class="btn btn-warning"-->
<!--ng-if="vm.editingIndex !== index + 1 || vm.historyIndex !== historyIndex + 1"-->
<!--ng-click="vm.edit(index, historyIndex + 1)">-->
<!--<i class="fa fa-pencil"></i>-->
<!--</a>-->
<!--<a class="btn btn-success"-->
<!--ng-if="vm.editingIndex === index + 1 && vm.historyIndex === historyIndex + 1"-->
<!--ng-click="vm.save()">-->
<!--<i class="fa fa-save"></i>-->
<!--</a>-->
<!--<a class="btn btn-warning"-->
<!--ng-if="vm.editingIndex === index + 1 && vm.historyIndex === historyIndex + 1"-->
<!--ng-click="vm.cancel()">-->
<!--<i class="fa fa-times"></i>-->
<!--</a>-->
<!--<a class="btn btn-danger"-->
<!--ng-click="vm.delete(index, historyIndex + 1)"-->
<!--ng-if="vm.editingIndex !== index + 1 || vm.historyIndex !== historyIndex + 1">-->
<!--<i class="fa fa-trash"></i>-->
<!--</a>-->
<!--</div>-->
<!--</td>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
