<div class="footer">
    <div class="pull-right">
        <ul class="list-inline">
            <li>
                <a ui-sref="main" ng-class="{'active': globalCtrl.state.current.name == 'main'}">Main</a>
            </li>
            <li>
                <a ui-sref="detail" ng-class="{'active': globalCtrl.state.current.name == 'detail'}">Detail</a>
            </li>
            <li>
                <a ui-sref="chart" ng-class="{'active': globalCtrl.state.current.name == 'chart'}">Chart</a>
            </li>
            <li>
                <a ui-sref="markers" ng-class="{'active': globalCtrl.state.current.name == 'markers'}">List of markers</a>
            </li>
            <li>
                <a ui-sref="route-markers" ng-class="{'active': globalCtrl.state.current.name == 'route-markers'}">Route Markers</a>
            </li>
            <li>
                <a ui-sref="reports" ng-class="{'active': globalCtrl.state.current.name == 'reports'}">Report</a>
            </li>
            <li>
                <a ui-sref="profile" ng-class="{'active': globalCtrl.state.current.name == 'profile'}">Profile</a>
            </li>
        </ul>
    </div>
    <div class="footer-copyright">
        <strong>&copy;</strong> Andromedia - 2018
    </div>
</div>