<div class="modal-body">
    <h4>Create Record?</h4>
    <p>
        <div class="avatar" ng-style="{ 'background-image': 'url(./' + vm.user.image + ')' }" ng-if="vm.user.image"></div>
        <div class="avatar-name">
            <strong>{{ vm.user.username || 'Username is not set' }}</strong>
        </div>
        <div class="clearfix"></div>
    </p>
    <div class="row">
        <div class="col-sm-4 form-group">
            <strong>Marker ID:</strong>
            <input class="form-control" ng-model="vm.data.markerId" placeholder="Marker ID" maxlength="20" />
        </div>
        <div class="col-sm-4 form-group">
            <strong>Lat:</strong>
            <input class="form-control" ng-model="vm.data.lat" placeholder="Lat" type="number" />
        </div>
        <div class="col-sm-4 form-group">
            <strong>Long:</strong>
            <input class="form-control" ng-model="vm.data.lng" placeholder="Long" type="number" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 form-group">
            <strong>Status:</strong>
            <select ng-model="vm.data.status" class="form-control">
                <option value="" disabled>Choose a status</option>
                <option value="1">Good</option>
                <option value="2">Bad</option>
                <option value="3">Ugly</option>
                <option value="4">Planned</option>
                <option value="5">Route</option>
            </select>
        </div>
        <div class="form-group" ng-class="{ 'col-sm-4': vm.data.status == 5, 'col-sm-8': vm.data.status != 5 }">
            <strong>Route Name:</strong>
            <input class="form-control" ng-model="vm.data.routeName" placeholder="Route Name" />
        </div>
        <div class="col-sm-4 form-group" ng-if="vm.data.status == 5">
            <strong>Route markers:</strong>
            <select ng-model="vm.data.route" class="form-control">
                <option value="" disabled>Choose a route</option>
                <option value="1">Route Marker 1</option>
                <option value="2">Route Marker 2</option>
                <option value="3">Route Marker 3</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <strong>Description:</strong>
            <textarea ng-model="vm.data.description" class="form-control" rows="6" maxlength="200" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <strong>Image:</strong>
            <input type="file" id="fileUpload" />
            <canvas id="canvas" width="0" height="0"></canvas>
        </div>
    </div>
    <hr />
    <button class="btn btn-primary" ng-click="vm.submit()">Yes</button>
    <button class="btn btn-default" ng-click="vm.cancel()">No</button>
</div>