<div class="col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 admin">
    <h3>Admin</h3>

    <div ng-repeat-start="(index, item) in $ctrl.list"
         ng-if="item._id"
         class="row admin-row">
        <div class="col-sm-9">{{ item.name }}</div>

        <div class="col-sm-3 text-right">
            <a ng-click="$ctrl.onDelete(item)">
                <i class="fa fa-trash-o"></i>
            </a>
            /
            <a ng-click="$ctrl.onEdit(item, index)">
                <i class="fa fa-pencil"></i>
            </a>
        </div>
    </div>

    <div ng-if="$ctrl.edit.success === item._id">
        Update success
    </div>

    <div ng-if="$ctrl.edit.item === item"
         class="admin-edit">
        <input class="form-control"
               id="editing-item"
               ng-model="item.name"
               ng-blur="$ctrl.onSave(item)"
               placeholder="App name" />
    </div>

    <div ng-if="$ctrl.edit.item === item && $ctrl.edit.error"
         ng-repeat-end>
        {{ $ctrl.edit.error }}
    </div>

    <div class="admin-edit"
         ng-if="!$ctrl.edit.item">
        <button ng-click="$ctrl.onCreate()"
                class="btn btn-primary">
            <i class="fa fa-plus"></i>
        </button>
        <a class="pull-right"
           ui-sref="select({ next: 'main' })">Go to select app page</a>
    </div>
</div>
