<div ng-if="vm.isRegisterPage">
    <h4>Register</h4>
    <div class="row">
        <div class="col-sm-6 form-group">
            <strong>Email:</strong>
            <input class="form-control" ng-model="vm.email" placeholder="Email" type="email" />
        </div>

        <div class="col-sm-6 form-group">
            <strong>Username:</strong>
            <input class="form-control" ng-model="vm.username" placeholder="Username" type="username" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 form-group">
            <strong>Password:</strong>
            <input class="form-control" ng-model="vm.password" placeholder="Password" type="password" />
        </div>

        <div class="col-sm-6 form-group">
            <strong>Retype Password:</strong>
            <input class="form-control" ng-model="vm.retypePassword" placeholder="Retype password" type="password" />
        </div>
    </div>

    <button class="btn btn-danger" ng-click="vm.register()">Register</button>
    or
    <a ng-click="vm.isRegisterPage = false; vm.err = undefined">Login</a>
</div>
<div ng-if="!vm.isRegisterPage">
    <h4>Login</h4>
    <div class="row">
        <div class="col-sm-6 form-group">
            <strong>Username:</strong>
            <input class="form-control" ng-model="vm.username" placeholder="Email" type="username" />
        </div>

        <div class="col-sm-6 form-group">
            <strong>Password:</strong>
            <input class="form-control" ng-model="vm.password" placeholder="Password" type="password" />
        </div>
    </div>

    <button class="btn btn-primary" ng-click="vm.login()">Login</button>
    or
    <a ng-click="vm.isRegisterPage = true; vm.err = undefined">Register</a>
</div>

<div ng-if="vm.err" class="text text-danger">
    {{ vm.err.data.message }}
</div>