<div class="page-container">
        <div ng-include="'./modules/header/header.html'"></div>
<div class="col-md-6 col-md-offset-1">
        <div>Water Check Area Selection</div>

        <select class="form-control"
                ng-change="$ctrl.onSelect()"
                ng-model="$ctrl.appId">
                <option disabled
                        value="">Select a water check area</option>

                <option value="master" ng-if="$ctrl.showMaster">Master</option>

                <option ng-repeat="item in $ctrl.list"
                        value="{{ item._id }}">{{ item.name }}</option>
        </select>
</div>
</div>

