.pulse-card {
    .card-content {
        height: 220px;
    }
    .fa-plus {
        font-size: 70px
    }
}

.load-pulse-title {
    color: white;
    margin-top: 70px;
    text-align: center;
    text-shadow: 0 0 3px rgba(0, 0, 0, .5);
    transform: translateX(-50%);
    white-space: nowrap;
}

.fence-title {
    color: white;
    font-size: 1.2em;
    text-shadow: 0 0 3px rgba(0, 0, 0, .5);
    transform: translateX(-50%);
    white-space: nowrap;
    margin-top: 10px;
}

.card-chart {
    box-sizing: border-box;
    height: 120px;
    margin: auto;
    padding: 15px 0;
    width: 60%;
    .chart {
        width: 100% !important;
        height: 90px !important;
    }
}

.color-picker-container {
    label {
        font-size: 11px;
    }
}

.color-picker-wrapper .input-group .color-picker-input-swatch {
    background: transparent;
    border: none;
    border-bottom: #cccccc 1px solid;
    padding-bottom: 6px;
    width: 100%;
}

.color-picker-wrapper .input-group .input-group-addon:first-child {
    border-radius: 26px;
    border: white 2px solid;
    width: 26px;
}

.load {
    visibility: hidden;
}

.show-pulse .load {
    visibility: visible;
}

.map-custom-control {
    position: absolute;
    top: 30px;
    left: 45px;
    z-index: 99999;
}

.pulse {
    .card-image,
    .card-image-content {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 200px;
    }
    .card-image {
        background: #333333;
        &:hover .card-image-text {
            color: gold;
        }
    }
    .card-image-text {
        bottom: 0;
        font-size: 2rem;
        left: 0;
        line-height: 200px;
        position: absolute;
        right: 0;
        text-align: center;
        text-shadow: 0 0 5px rgba(0, 0, 0, .8);
        top: 0;
        z-index: 2;
    }
    .card-new {
        height: 600px;
    }
}

.mt {
    margin-top: 20px;
}

.profile-img {
    position: relative;
    .profile-popup {
        background: white;
        border-radius: 4px;
        box-shadow: 0 0 10px rgba(0, 0, 0, .8);
        display: none;
        left: 0;
        position: absolute;
        padding: 20px;
        top: 140px;
        z-index: 999;
        &.active {
            display: block;
        }
        &:before {
            border-bottom: white 8px solid;
            border-left: transparent 8px solid;
            border-right: transparent 8px solid;
            content: '';
            left: 50px;
            position: absolute;
            top: -8px;
        }
    }
    .profile-default {
        border-radius: 40px;
        border: white 2px solid;
        box-shadow: 0 0 5px rgba(0, 0, 0, .8);
        box-sizing: border-box;
        display: inline-block;
        height: 44px;
        margin-bottom: 10px;
        margin-right: 10px;
        width: 44px;
        img {
            max-width: 40px
        }
    }
}