<div class="page-content">
    <div class="wrapper-content">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Flexible table</h5>
                    </div>
                    <div class="ibox-content collapse in">
                        <div class="widgets-container">
                            <div>
                                <table id="example" class="table  responsive nowrap table-bordered" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th>Sensor ID</th>
                                            <th>TimeStamp</th>
                                            <th>Been Alive (Seconds)</th>
                                            <th>ALERT</th>
                                            <th>Latitude</th>
                                            <th>Longitude</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- ng-repeat="item in data" is like for (i = 0; i < data.length; i++) { item = data[i] } -->
                                        <tr ng-repeat="item in data">
                                            <td id="sensor_1">
                                                {{ item.sensor_1 }}
                                            </td>
                                            <td id="timestamp">
                                                {{ item.timestamp }}
                                            </td>
                                            <td id="elapsed_time">
                                                {{ item.elapsed_time }}
                                            </td>
                                            <td id="opt_read">
                                                {{ item.opt_read }}
                                            </td>
                                            <td id="lat">
                                                {{ item.lat }}
                                            </td>
                                            <td id="lon">
                                                {{ item.lon }}
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>