<div class="pull-right">
    <ul class="list-inline">
        <li>
            <a title="" href="index.html">Dashboard</a>
        </li>
        <li>
            <a title="" href="mailbox.html"> Inbox </a>
        </li>
        <li>
            <a title="" href="blog.html">Blog</a>
        </li>
        <li>
            <a title="" href="contacts.html">Contacts</a>
        </li>
    </ul>
</div>
<div>
    <strong>Copyright</strong> AdminBag Company &copy; 2017
</div>