<div class="page-content">
    <div class="wrapper-content">
        <div class="row map-3d-sidebar">
            <div class="sliderconBox">
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 filterLeftBox">
                    <!-- Left Sidebar-->
                    <div class="left-sidebar">
                        <div class="left-sidebar-title">
                            <h3>MASTER</h3>
                        </div>
                        <div class="left-layout">
                            <div class="sidebar-3d">
                                <div id='listings' class='listings'></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="map-3d" class="map-3d" ng-init="boot()"></div>
    </div>
</div>