<!-- BEGIN HEADER INNER -->
<div class="page-header-inner ">
    <!-- Branding -->
    <div class="branding">
        <a class="brand" href="index.html">
            <span>
                <strong>MASTER</strong> | SLAVE</span>
        </a>
        <a href="#" class="offcanvas-toggle visible-xs-inline">
            <i class="fa fa-bars"></i>
        </a>
    </div>
    <!-- Branding end -->
    <!-- Left-side navigation -->
    <ul class="nav-left pull-left list-unstyled list-inline">
        <li class="sidebar-collapse divided-right">
            <a href="#" class="collapse-sidebar">
                <i class="fa fa-outdent"></i>
            </a>
        </li>
        <li class="dropdown divided-right settings">
            <a class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-cog"></i>
            </a>
        </li>
    </ul>
    <!-- Left-side navigation end -->

    <!-- Search -->
    <div class="search" id="main-search">
        <input type="text" class="form-control underline-input" placeholder="Search...">
    </div>
    <!-- Search end -->
</div>