<div class="page-content">
    <div class="wrapper-content">
        <div class="row">
            <div class="sliderconBox">
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 filterLeftBox">
                    <!-- Left Sidebar-->
                    <div class="left-sidebar">
                        <div class="left-sidebar-title">
                            <h3>MASTER</h3>
                        </div>
                        <div class="left-layout">
                            <div class="single-layout">
                                <div class="layout-title">
                                    <h4>FILTER FIND</h4>
                                </div>
                                <div class="layout-list">
                                    <ul>
                                        <li>
                                            <div class="i-checks">
                                                <div class="icheckbox_square-green" ng-class="{ 'checked': check1 }" ng-click="check1 = !check1">
                                                    <input type="checkbox" class="iCheck">
                                                    <ins class="iCheck-helper"></ins>
                                                </div>
                                                Online Devices
                                                <span>(4)</span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="i-checks">
                                                <div class="icheckbox_square-green" ng-class="{ 'checked': check3 }" ng-click="check3 = !check3">
                                                    <input type="checkbox" class="iCheck">
                                                    <ins class="iCheck-helper"></ins>
                                                </div> Offline Devices
                                                <span>(6)</span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- End Price Filter Area -->
                            <div class="single-layout">
                                <div class="layout-title">
                                    <h4>LH</h4>
                                </div>
                                <div class="layout-list">
                                    <ul>
                                        <li>
                                            <div class="i-checks">
                                                <div class="icheckbox_square-green" ng-class="{ 'checked': check4 }" ng-click="check4 = !check4">
                                                    <input type="checkbox" class="iCheck">
                                                    <ins class="iCheck-helper"></ins>
                                                </div> Loc_x
                                                <span>(4)</span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="i-checks">
                                                <div class="icheckbox_square-green" ng-class="{ 'checked': check5 }" ng-click="check5 = !check5">
                                                    <input type="checkbox" class="iCheck">
                                                    <ins class="iCheck-helper"></ins>
                                                </div> Loc_x
                                                <span>(6)</span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="i-checks">
                                                <div class="icheckbox_square-green" ng-class="{ 'checked': check6 }" ng-click="check6 = !check6">
                                                    <input type="checkbox" class="iCheck">
                                                    <ins class="iCheck-helper"></ins>
                                                </div> Loc_x
                                                <span>(2)</span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="i-checks">
                                                <div class="icheckbox_square-green" ng-class="{ 'checked': check7 }" ng-click="check7 = !check7">
                                                    <input type="checkbox" class="iCheck">
                                                    <ins class="iCheck-helper"></ins>
                                                </div> Loc_x
                                                <span>(3)</span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="i-checks">
                                                <div class="icheckbox_square-green" ng-class="{ 'checked': check8 }" ng-click="check8 = !check8">
                                                    <input type="checkbox" class="iCheck">
                                                    <ins class="iCheck-helper"></ins>
                                                </div> Loc_x
                                                <span>(1)</span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="i-checks">
                                                <div class="icheckbox_square-green" ng-class="{ 'checked': check9 }" ng-click="check9 = !check9">
                                                    <input type="checkbox" class="iCheck">
                                                    <ins class="iCheck-helper"></ins>
                                                </div> Loc_x
                                                <span>(5)</span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="i-checks">
                                                <div class="icheckbox_square-green" ng-class="{ 'checked': check10 }" ng-click="check10 = !check10">
                                                    <input type="checkbox" class="iCheck">
                                                    <ins class="iCheck-helper"></ins>
                                                </div> Loc_x
                                                <span>(4)</span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="single-layout">
                                <div class="layout-title">
                                    <h4>Self Service Test</h4>
                                </div>
                                <div class="layout-list">
                                    <ul>
                                        <li>
                                            <div class="i-checks">
                                                <div class="icheckbox_square-green" ng-class="{ 'checked': check11 }" ng-click="check11 = !check11">
                                                    <input type="checkbox" class="iCheck">
                                                    <ins class="iCheck-helper"></ins>
                                                </div> PASS
                                                <span>(4)</span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="i-checks">
                                                <div class="icheckbox_square-green" ng-class="{ 'checked': check12 }" ng-click="check12 = !check12">
                                                    <input type="checkbox" class="iCheck">
                                                    <ins class="iCheck-helper"></ins>
                                                </div> FAIL
                                                <span>(6)</span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="i-checks">
                                                <div class="icheckbox_square-green" ng-class="{ 'checked': check13 }" ng-click="check13 = !check13">
                                                    <input type="checkbox" class="iCheck">
                                                    <ins class="iCheck-helper"></ins>
                                                </div> UNKNOWN
                                                <span>(2)</span>
                                            </div>
                                        </li>

                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- Start List -->
                <div class="col-md-9  filterRihgtBox">
                    <!-- grid box start -->
                    <div class="col-md-4 col-sm-6 TumFBox listBox" ng-repeat="(index, item) in data">
                        <div class="single-product">
                            <a ui-sref="master_detail({index: index})" class="quick-view">
                                Quick view
                            </a>
                            <!--img src="assets/images/productDetail/placeholders.jpg"-->
                            <div class="text-grid pading1x sel-txt">
                                <p>
                                    <span class="col-md-9 paddingNone"> MASTER # {{item.name}} </span>
                                    <span class="paddingNone col-md-3 medium pull-right">
                                        <span class="label label-sm label-success"> ON </span>
                                    </span>
                                </p>
                                <br>
                                <p>
                                    <span class="col-md-9 paddingNone"> ID # {{item.id}} </span>
                                </p>
                                <br>
                                <p>
                                    <span class="col-md-9 paddingNone"> LICENCE # {{item.licence}} </span>
                                </p>
                                <br>
                                <p>
                                    <span class="col-md-9 paddingNone"> KEEP ALIVE # {{item.elapsed_time}} </span>
                                </p>
                                <div class="content-grid">
                                    <a class="btn  btn-sm red   btn-outline pull-right" href="javascript:;">
                                        <i class="fa fa-medkit"></i>
                                    </a>
                                    <div class="chart-item">
                                        <canvas class="chart chart-line" chart-data="chartData" chart-labels="labels"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- grid box End -->
                </div>
                <!-- End List -->
            </div>
        </div>
    </div>
</div>