<div class="page-sidebar">
    <ul class="page-sidebar-menu  page-header-fixed ">
        <!-- START RESPONSIVE SEARCH FORM -->
        <li class="sidebar-search-wrapper">
            <form class="sidebar-search " action="search_results.html" method="POST">
                <a href="javascript:;" class="remove">
                    <i class="icon-close"></i>
                </a>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                        <a href="javascript:;" class="btn submit">
                            <i class="icon-magnifier"></i>
                        </a>
                    </span>
                </div>
            </form>
        </li>
        <!-- END RESPONSIVE SEARCH FORM -->
        <li class="nav-item">
            <a class="nav-link" ui-sref="master">
                <i class="fa fa-database"></i>
                <span class="title">MASTER DATABASE</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" ui-sref="slave">
                <i class="fa fa-database"></i>
                <span class="title">SLAVE DATABASE</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" ui-sref="datatable">
                <i class="fa fa-database"></i>
                <span class="title">DATATABLE</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" ui-sref="global_map">
                <i class="fa fa-map-marker"></i>
                <span class="title">GLOBAL MAP</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" ui-sref="global_map_3d">
                <i class="fa fa-globe"></i>
                <span class="title">3D MAP</span>
            </a>
        </li>

    </ul>
</div>