<div class="page-content">
    <div class="wrapper-content ">
        <div class="ibox product-detail white-bg">
            <div class="ibox-content">
                <div class="row">
                    <div class="col-md-5">
                        <section class="product-images">
                            <div class="widgets-container">
                                <div>MAP BOX GLOBAL MAP HERE</div>
                            </div>
                        </section>
                        <div id="map-detail"></div>
                        <hr>
                        <div>
                            <div class="btn-group">
                                <a href="ecommerce-cart.html" class="btn green  btn-sm">
                                    <i class="fa fa-cart-plus"></i> Query Device </a>
                                <button class="btn btn-white btn-sm">
                                    <i class="fa fa-star"></i> Add to wishlist </button>
                                <button class="btn btn-white btn-sm">
                                    <i class="fa fa-envelope"></i> Contact with author </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <h2 class="font-bold m-b-xs"> {{ data.name }} </h2>
                        <small>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</small>
                        <div>
                            <span>
                                <h2 class="product-main-price">{{ data.id }} {{ data.address }} </h2>
                            </span>
                        </div>
                        <hr>
                        <h4>Device description</h4>
                        <div class="small text-muted"> A cultural icon. Always original. Etiam euismod eleifend ipsum, at posuere augue. Pellentesque mi
                            felis, aliquam at iaculis eu, mi felis, aliquam at iaculis mi felis, aliquam at iaculis finibus
                            eu ex. Integer efficitur tincidunt malesuada. Sed sit amet molestie elit, vel placerat ipsum.
                            <br>
                            <br> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam euismod eleifend ipsum, at posuere
                            augue. Pellentesque mi felis, aliquam at iaculis eu, mi felis, aliquam at iaculis mi felis, aliquam
                            at iaculis finibus eu ex. Integer efficitur tincidunt malesuada. Sed sit amet molestie elit,
                            vel placerat ipsum.
                        </div>
                        <div>
                            <br>
                            <h3>Chart Metric</h3>

                            <div class="row">
                                <!-- Line Chart Example-->

                                <!-- Column Chart-->
                                <div class="col-lg-12">
                                    <div class="ibox float-e-margins">

                                        <!-- / ibox-title -->
                                        <div class="ibox-content collapse in">
                                            <div class="demo-container">
                                                <canvas class="chart chart-bar" chart-data="chartData" chart-labels="labels" chart-options="chartOptions"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>