.leaflet-div-icon {
    background: transparent;
    border: none;
}

.load {
    animation: pulse 2s infinite;
    border-radius: 50%;
    cursor: pointer;
    display: block;
    height: 40px;
    margin: -15px;
    position: relative;
    width: 40px;
    z-index: 2;
}

.load.white {
    background-color: hsla(100, 0%, 100%, 1);
    box-shadow: hsla(100, 0%, 100%, 0.4);
    animation: pulse_white 2s infinite;
}

.load.green {
    background-color: hsla(95, 62%, 65%, 1);
    box-shadow: hsla(95, 62%, 65%, 0.4);
    animation: pulse_green 2s infinite;
}

.load.dark-green {
    background-color: hsla(130, 51%, 31%, 1);
    box-shadow: hsla(130, 51%, 31%, 0.4);
    animation: pulse_dark-green 2s infinite;
}

.load.blue,
.pulse-inactive .load {
    background-color: hsla(223, 60%, 79%, 1) !important;
    box-shadow: hsla(223, 60%, 79%, 0.4) !important;
    animation: pulse_blue 2s infinite !important;
}

.load.dark-blue {
    background-color: hsla(216, 83%, 58%, 1);
    box-shadow: hsla(216, 83%, 58%, 0.4);
    animation: pulse_dark-blue 2s infinite;
}

.load.yellow {
    background-color: hsla(61, 82%, 60%, 1);
    box-shadow: hsla(61, 82%, 60%, 0.4);
    animation: pulse_yellow 2s infinite;
}

.load.dark-yellow {
    background-color: hsla(39, 90%, 38%, 1);
    box-shadow: hsla(39, 90%, 38%, 0.4);
    animation: pulse_dark-yellow 2s infinite;
}

.load.purple {
    background-color: hsla(315, 51%, 65%, 1);
    box-shadow: hsla(315, 51%, 65%, 0.4);
    animation: pulse_purple 2s infinite;
}

.load.dark-purple {
    background-color: hsla(285, 67%, 37%, 1);
    box-shadow: hsla(285, 67%, 37%, 0.4);
    animation: pulse_dark-purple 2s infinite;
}

.load.red {
    background-color: hsla(0, 100%, 50%, 1);
    box-shadow: hsla(0, 100%, 50%, 0.4);
    animation: pulse_red 2s infinite;
}

.load.dark-red {
    background-color: hsla(0, 91%, 32%, 1);
    box-shadow: hsla(0, 91%, 32%, 0.4);
    animation: pulse_dark-red 2s infinite;
}

.load-pulse-container.white {
    background-color: hsla(100, 0%, 100%, 1);
}

.load-pulse-container.green {
    background-color: hsla(95, 62%, 65%, 1);
}

.load-pulse-container.dark-green {
    background-color: hsla(130, 51%, 31%, 1);
}

.load-pulse-container.blue,
.pulse-inactive .load-pulse-container {
    background-color: hsla(223, 60%, 79%, 1) !important;
}

.load-pulse-container.dark-blue {
    background-color: hsla(216, 83%, 58%, 1);
}

.load-pulse-container.yellow {
    background-color: hsla(61, 82%, 60%, 1);
}

.load-pulse-container.dark-yellow {
    background-color: hsla(39, 90%, 38%, 1);
}

.load-pulse-container.purple {
    background-color: hsla(315, 51%, 65%, 1);
}

.load-pulse-container.dark-purple {
    background-color: hsla(285, 67%, 37%, 1);
}

.load-pulse-container.red {
    background-color: hsla(0, 100%, 50%, 1);
}

.load-pulse-container.dark-red {
    background-color: hsla(0, 91%, 32%, 1);
}

.load-pulse {
    animation: pulse 2000ms linear infinite;
    position: absolute;
    -webkit-animation: pulse 2000ms linear infinite;
    -moz-animation: pulse 2000ms linear infinite;
    top: 20px;
    left: 20px;
}

.load-pulse-container {
    margin-top: -30px;
    left: 0;
    /** height is required as absolute value **/
    border-radius: 100px;
}

.load-pulse-container:after,
.load-pulse-container:before {
    margin: 0px;
    margin-left: -30px;
    display: inline-block;
    position: absolute;
    content: "";
    width: 60px;
    height: 60px;
    border-radius: 60px;
}

.load-pulse-container.white:after,
.load-pulse-container.white:before {
    background-color: hsla(100, 0%, 100%, 1);
}

.load-pulse-container.green:after,
.load-pulse-container.green:before {
    background-color: hsla(95, 62%, 65%, 1);
}

.load-pulse-container.dark-green:after,
.load-pulse-container.dark-green:before {
    background-color: hsla(130, 51%, 31%, 1);
}

.load-pulse-container.blue:after,
.load-pulse-container.blue:before,
.pulse-inactive .load-pulse-container:after,
.pulse-inactive .load-pulse-container:before {
    background-color: hsla(223, 60%, 79%, 1) !important;
}

.load-pulse-container.dark-blue:after,
.load-pulse-container.dark-blue:before {
    background-color: hsla(216, 83%, 58%, 1);
}

.load-pulse-container.yellow:after,
.load-pulse-container.yellow:before {
    background-color: hsla(61, 82%, 60%, 1);
}

.load-pulse-container.dark-yellow:after,
.load-pulse-container.dark-yellow:before {
    background-color: hsla(39, 90%, 38%, 1);
}

.load-pulse-container.purple:after,
.load-pulse-container.purple:before {
    background-color: hsla(315, 51%, 65%, 1);
}

.load-pulse-container.dark-purple:after,
.load-pulse-container.dark-purple:before {
    background-color: hsla(285, 67%, 37%, 1);
}

.load-pulse-container.red:after,
.load-pulse-container.red:before {
    background-color: hsla(0, 100%, 50%, 1);
}

.load-pulse-container.dark-red:after,
.load-pulse-container.dark-red:before {
    background-color: hsla(0, 91%, 32%, 1);
}

.load-pulse-container:after {
    z-index: -100;
    -webkit-animation: outer-ripple 2000ms linear infinite;
    animation: outer-ripple 2000ms linear infinite;
}

.load-pulse-container:before {
    z-index: -200;
    -webkit-animation: inner-ripple 2000ms linear infinite;
    animation: inner-ripple 2000ms linear infinite;
}

.load .fa {
    color: white;
    width: 40px;
    text-align: center;
    line-height: 40px;
}

@-webkit-keyframes pulse_white {
    0% {
        -moz-box-shadow: 0 0 0 0 hsla(100, 0%, 100%, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 0 hsla(100, 0%, 100%, 0.4);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 hsla(100, 0%, 100%, 0.4);
    }
}

@keyframes pulse_white {
    0% {
        -moz-box-shadow: 0 0 0 0 hsla(100, 0%, 100%, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 0 hsla(100, 0%, 100%, 0.4);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 hsla(100, 0%, 100%, 0.4);
    }
}

@-webkit-keyframes pulse_green {
    0% {
        -moz-box-shadow: 0 0 0 0 hsla(95, 62%, 65%, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 0 hsla(95, 62%, 65%, 0.4);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 hsla(95, 62%, 65%, 0.4);
    }
}

@keyframes pulse_green {
    0% {
        -moz-box-shadow: 0 0 0 0 hsla(95, 62%, 65%, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 0 hsla(95, 62%, 65%, 0.4);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 hsla(95, 62%, 65%, 0.4);
    }
}

@-webkit-keyframes pulse_dark-green {
    0% {
        -moz-box-shadow: 0 0 0 0 hsla(130, 51%, 31%, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 0 hsla(130, 51%, 31%, 0.4);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 hsla(130, 51%, 31%, 0.4);
    }
}

@keyframes pulse_dark-green {
    0% {
        -moz-box-shadow: 0 0 0 0 hsla(130, 51%, 31%, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 0 hsla(130, 51%, 31%, 0.4);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 hsla(130, 51%, 31%, 0.4);
    }
}

@-webkit-keyframes pulse_blue {
    0% {
        -moz-box-shadow: 0 0 0 0 hsla(223, 60%, 79%, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 0 hsla(223, 60%, 79%, 0.4);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 hsla(223, 60%, 79%, 0.4);
    }
}

@keyframes pulse_blue {
    0% {
        -moz-box-shadow: 0 0 0 0 hsla(223, 60%, 79%, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 0 hsla(223, 60%, 79%, 0.4);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 hsla(223, 60%, 79%, 0.4);
    }
}

@-webkit-keyframes pulse_dark-blue {
    0% {
        -moz-box-shadow: 0 0 0 0 hsla(216, 83%, 58%, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 0 hsla(216, 83%, 58%, 0.4);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 hsla(216, 83%, 58%, 0.4);
    }
}

@keyframes pulse_dark-blue {
    0% {
        -moz-box-shadow: 0 0 0 0 hsla(216, 83%, 58%, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 0 hsla(216, 83%, 58%, 0.4);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 hsla(216, 83%, 58%, 0.4);
    }
}

@-webkit-keyframes pulse_yellow {
    0% {
        -moz-box-shadow: 0 0 0 0 hsla(61, 82%, 60%, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 0 hsla(61, 82%, 60%, 0.4);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 hsla(61, 82%, 60%, 0.4);
    }
}

@keyframes pulse_yellow {
    0% {
        -moz-box-shadow: 0 0 0 0 hsla(61, 82%, 60%, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 0 hsla(61, 82%, 60%, 0.4);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 hsla(61, 82%, 60%, 0.4);
    }
}

@-webkit-keyframes pulse_dark-yellow {
    0% {
        -moz-box-shadow: 0 0 0 0 hsla(39, 90%, 38%, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 0 hsla(39, 90%, 38%, 0.4);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 hsla(39, 90%, 38%, 0.4);
    }
}

@keyframes pulse_dark-yellow {
    0% {
        -moz-box-shadow: 0 0 0 0 hsla(39, 90%, 38%, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 0 hsla(39, 90%, 38%, 0.4);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 hsla(39, 90%, 38%, 0.4);
    }
}

@-webkit-keyframes pulse_purple {
    0% {
        -moz-box-shadow: 0 0 0 0 hsla(315, 51%, 65%, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 0 hsla(315, 51%, 65%, 0.4);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 hsla(315, 51%, 65%, 0.4);
    }
}

@keyframes pulse_purple {
    0% {
        -moz-box-shadow: 0 0 0 0 hsla(315, 51%, 65%, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 0 hsla(315, 51%, 65%, 0.4);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 hsla(315, 51%, 65%, 0.4);
    }
}

@-webkit-keyframes pulse_dark-purple {
    0% {
        -moz-box-shadow: 0 0 0 0 hsla(285, 67%, 37%, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 0 hsla(285, 67%, 37%, 0.4);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 hsla(285, 67%, 37%, 0.4);
    }
}

@keyframes pulse_dark-purple {
    0% {
        -moz-box-shadow: 0 0 0 0 hsla(285, 67%, 37%, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 0 hsla(285, 67%, 37%, 0.4);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 hsla(285, 67%, 37%, 0.4);
    }
}

@-webkit-keyframes pulse_red {
    0% {
        -moz-box-shadow: 0 0 0 0 hsla(0, 100%, 50%, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 0 hsla(0, 100%, 50%, 0.4);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 hsla(0, 100%, 50%, 0.4);
    }
}

@keyframes pulse_red {
    0% {
        -moz-box-shadow: 0 0 0 0 hsla(0, 100%, 50%, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 0 hsla(0, 100%, 50%, 0.4);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 hsla(0, 100%, 50%, 0.4);
    }
}

@-webkit-keyframes pulse_dark-red {
    0% {
        -moz-box-shadow: 0 0 0 0 hsla(0, 91%, 32%, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 0 hsla(0, 91%, 32%, 0.4);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 hsla(0, 91%, 32%, 0.4);
    }
}

@keyframes pulse_dark-red {
    0% {
        -moz-box-shadow: 0 0 0 0 hsla(0, 91%, 32%, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 0 hsla(0, 91%, 32%, 0.4);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 hsla(0, 91%, 32%, 0.4);
    }
}

@keyframes outer-ripple {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        filter: alpha(opacity=50);
        opacity: 0.5;
    }
    80% {
        -webkit-transform: scale(3.5);
        transform: scale(3.5);
        filter: alpha(opacity=0);
        opacity: 0;
    }
    100% {
        -webkit-transform: scale(3.5);
        transform: scale(3.5);
        filter: alpha(opacity=0);
        opacity: 0;
    }
}

@-webkit-keyframes outer-ripple {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        filter: alpha(opacity=50);
        opacity: 0.5;
    }
    80% {
        -webkit-transform: scale(3.5);
        transform: scale(3.5);
        filter: alpha(opacity=0);
        opacity: 0;
    }
    100% {
        -webkit-transform: scale(3.5);
        transform: scale(3.5);
        filter: alpha(opacity=0);
        opacity: 0;
    }
}

/* inner ripple */

@keyframes inner-ripple {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        filter: alpha(opacity=50);
        opacity: 0.5;
    }
    30% {
        -webkit-transform: scale(1);
        transform: scale(1);
        filter: alpha(opacity=50);
        opacity: 0.5;
    }
    100% {
        -webkit-transform: scale(2.5);
        transform: scale(2.5);
        filter: alpha(opacity=0);
        opacity: 0;
    }
}

@-webkit-keyframes inner-ripple {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        filter: alpha(opacity=50);
        opacity: 0.5;
    }
    30% {
        -webkit-transform: scale(1);
        transform: scale(1);
        filter: alpha(opacity=50);
        opacity: 0.5;
    }
    100% {
        -webkit-transform: scale(2.5);
        transform: scale(2.5);
        filter: alpha(opacity=0);
        opacity: 0;
    }
}

.leaflet-marker-icon {
    .load-tooltip {
        background: rgba(255, 255, 255, .9);
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, .83) 0 0 5px;
        left: -70px;
        opacity: 0;
        padding: 15px;
        position: absolute;
        top: 40px;
        transition: opacity .3s ease, transform .3s ease;
        transform: scale(0.01);
        width: 240px;
    }
    &:hover {
        z-index: 999 !important;
        .load-tooltip {
            opacity: 1;
            transform: scale(1);
        }
    }
}

.load.status {
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
}

.load.good {
    background-image: url('../assets/images/good.png')
}

.load.bad {
    background-image: url('../assets/images/bad.png')
}

.load.ugly {
    background-image: url('../assets/images/ugly.png')
}
