<!-- Register -->
<div class="page-signin"
     ng-if="$ctrl.type === 0">
    <div class="wrapper">
        <div class="main-body">
            <div class="body-inner">
                <div class="card bg-white">
                    <div class="card-content">

                        <section class="logo text-center">
                            <h1>Register</h1>
                        </section>

                        <form class="form-horizontal">
                            <fieldset>
                                <div class="form-group">
                                    <div class="ui-input-group">
                                        <input type="text"
                                               required
                                               class="form-control"
                                               name="email"
                                               ng-model="$ctrl.email">
                                        <span class="input-bar"></span>
                                        <label>Email</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="ui-input-group">
                                        <input type="text"
                                               required
                                               class="form-control"
                                               name="username"
                                               ng-model="$ctrl.username">
                                        <span class="input-bar"></span>
                                        <label>Username</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="ui-input-group">
                                        <input type="text"
                                               required
                                               class="form-control"
                                               name="company"
                                               ng-model="$ctrl.company">
                                        <span class="input-bar"></span>
                                        <label>Company</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="ui-input-group">
                                        <input type="password"
                                               required
                                               class="form-control"
                                               name="password"
                                               ng-model="$ctrl.password">
                                        <span class="input-bar"></span>
                                        <label>Password</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="ui-input-group">
                                        <input type="password"
                                               required
                                               class="form-control"
                                               name="retypePassword"
                                               ng-model="$ctrl.retypePassword">
                                        <span class="input-bar"></span>
                                        <label>Retype Password</label>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <div class="card-action no-border text-right">
                        <span ng-if="$ctrl.err"
                              class="text text-danger pull-left">
                            {{ $ctrl.err.data.message }}
                        </span>

                        <a href="javascript:;"
                           ng-click="$ctrl.register()"
                           class="color-primary">Register</a>
                    </div>
                </div>

                <div class="additional-info">
                    <a href="javascript:"
                       ng-click="$ctrl.changeType(1)">Login</a>
                    <span class="divider-h"></span>
                    <a href="javascript:"
                       ng-click="$ctrl.changeType(2)">Forgot your password?</a>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Login -->
<div class="page-signin"
     ng-if="$ctrl.type === 1">
    <div class="wrapper">
        <div class="main-body">
            <div class="body-inner">
                <div class="card bg-white">
                    <div class="card-content">

                        <section class="logo text-center">
                            <h1>Login</h1>
                        </section>

                        <form class="form-horizontal">
                            <fieldset>
                                <div class="form-group">
                                    <div class="ui-input-group">
                                        <input type="text"
                                               required
                                               class="form-control"
                                               name="username"
                                               ng-model="$ctrl.username">
                                        <span class="input-bar"></span>
                                        <label>Username</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="ui-input-group">
                                        <input type="password"
                                               required
                                               class="form-control"
                                               name="password"
                                               ng-model="$ctrl.password">
                                        <span class="input-bar"></span>
                                        <label>Password</label>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <div class="card-action no-border text-right">
                        <span ng-if="$ctrl.err"
                              class="text text-danger pull-left">
                            {{ $ctrl.err.data.message }}
                        </span>

                        <a href="javascript:;"
                           ng-click="$ctrl.login()"
                           class="color-primary">Sign in</a>
                    </div>
                </div>

                <div class="additional-info">
                    <a href="javascript:"
                       ng-click="$ctrl.changeType(0)">Register</a>
                    <span class="divider-h"></span>
                    <a href="javascript:"
                       ng-click="$ctrl.changeType(2)">Forgot your password?</a>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Forgot password -->
<div class="page-signin"
     ng-if="$ctrl.type === 2">
    <div class="wrapper">
        <div class="main-body">
            <div class="body-inner">
                <div class="card bg-white">
                    <div class="card-content">

                        <section class="logo text-center">
                            <h1>Forgot password</h1>
                        </section>

                        <form class="form-horizontal">
                            <fieldset>
                                <div class="form-group">
                                    <div class="ui-input-group">
                                        <input type="text"
                                               required
                                               class="form-control"
                                               name="email"
                                               ng-model="$ctrl.email">
                                        <span class="input-bar"></span>
                                        <label>Enter your email</label>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <div class="card-action no-border text-right">
                        <span ng-if="$ctrl.err"
                              class="text text-danger pull-left">
                            {{ $ctrl.err.data.message }}
                        </span>

                        <a href="javascript:;"
                           ng-click="$ctrl.sendEmail()"
                           class="color-primary">Send</a>
                    </div>
                </div>

                <div class="additional-info">
                    <a href="javascript:"
                       ng-click="$ctrl.changeType(1)">Login</a>
                    <span class="divider-h"></span>
                    <a href="javascript:"
                       ng-click="$ctrl.changeType(0)">Register</a>
                </div>

            </div>
        </div>
    </div>
</div>
