<section class="page">

    <section class="row ui-section">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <div class="card bg-white">
                        <div class="card-image">
                            <img src="assets/images/assets/600_400-1.jpg">
                            <span class="card-title">NEW</span>
                        </div>
                        <div class="card-content">
                            <a class="card-button pull-right" href="javascript:;">
                                <button class="btn btn-icon btn-icon-round btn-floating btn-danger"><i class="material-icons">help_outline</i></button>
                            </a>
                            <p>Create a new GEO Fence</p>
                        </div>
                        <div class="card-action">
                            <a href="javascript:;">NEW FENCE</a>
                            <!--a href="javascript:;">A link</a-->
                        </div>
                    </div>
                </div>




                <div class="col-md-4">
                    <div class="card bg-white">
                        <div class="card-image">
                            <img src="assets/images/assets/600_400-1.jpg">
                            <span class="card-title">OPEN</span>
                        </div>
                        <div class="card-content">
                            <a class="card-button pull-right" href="javascript:;">
                                <button class="btn btn-icon btn-icon-round btn-floating btn-danger"><i class="material-icons">help_outline</i></button>
                            </a>
                            <p>Open an existing Geo Fence</p>
                        </div>
                        <div class="card-action">
                            <a href="#!/table/data">OPEN FENCE</a>
                            <!--ul><a href="#!/table/data"><i  id="open-icon" class="material-icons">open_in_browser</i></a></ul-->
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card bg-white">
                        <div class="card-image">
                            <img src="assets/images/assets/600_400-1.jpg">
                            <span class="card-title">DOCUMENTATIOIN</span>
                        </div>
                        <div class="card-content">
                            <a class="card-button pull-right" href="javascript:;">
                                <button class="btn btn-icon btn-icon-round btn-floating btn-danger"><i class="material-icons">help_outline</i></button>
                            </a>
                            <p>Documentation can be found </p>
                        </div>
                        <div class="card-action">
                            <a href="#!/table/data">DOCS</a>
                            <!--ul><a href="#!/table/data"><i  id="open-icon" class="material-icons">open_in_browser</i></a></ul-->
                        </div>
                    </div>
                </div





            </div>
        </div>
    </section>


</section>
