@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Dosis:300,700|Ubuntu+Mono|Lato:300,400,700,300italic,400italic&subset=latin,latin-ext);
.page {
    padding: 20px;
}

html {
    background-color: #2f4050;
}

#header {
    z-index: 1001;
    -webkit-transition: right 0.25s cubic-bezier(0.6, 0.04, 0.98, 0.335), padding-right 0.25s cubic-bezier(0.6, 0.04, 0.98, 0.335);
    -moz-transition: right 0.25s cubic-bezier(0.6, 0.04, 0.98, 0.335), padding-right 0.25s cubic-bezier(0.6, 0.04, 0.98, 0.335);
    transition: right 0.25s cubic-bezier(0.6, 0.04, 0.98, 0.335), padding-right 0.25s cubic-bezier(0.6, 0.04, 0.98, 0.335);
}

#header .branding {
    background-color: #2b3643;
    width: 250px;
    height: 45px;
    float: left;
    padding: 0 15px;
}

#header .branding a.brand {
    font-family: "Dosis", "Arial", sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: white;
    padding-left: 30px;
    height: 45px;
    line-height: 45px;
    background: url(../images/minovate-logo.png) no-repeat 0 10px;
    float: left;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
}

#header .branding a.brand:hover {
    text-decoration: none;
}

#header .branding .offcanvas-toggle {
    color: white;
    margin-left: 5px;
    opacity: .5;
    padding: 1px 4px;
    font-size: 18px;
}

#header .branding .offcanvas-toggle:hover {
    opacity: 1;
}

#header .search {
    display: inline-block;
    margin-left: 15px;
    position: relative;
}

#header .search .form-control {
    margin-top: 3px;
}

#header .search:after {
    content: '\f002';
    display: inline-block;
    font-family: "FontAwesome";
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    top: 0;
    right: 0;
    line-height: 43px;
    color: rgba(255, 255, 255, 0.25);
}

#header .search .underline-input {
    color: rgba(255, 255, 255, 0.7);
    border-color: rgba(255, 255, 255, 0.25);
    font-family: "Ubuntu Mono", sans-serif;
    font-size: 16px;
}

#header .search .underline-input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.25);
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
}

#header .search .underline-input::-moz-placeholder {
    color: rgba(255, 255, 255, 0.25);
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
}

#header .search .underline-input:-moz-placeholder {
    color: rgba(255, 255, 255, 0.25);
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
}

#header .search .underline-input:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.25);
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
}

#header .search .underline-input:focus {
    border-color: rgba(255, 255, 255, 0.7);
}

#header .search .underline-input:focus::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.7);
}

#header .search .underline-input:focus::-moz-placeholder {
    color: rgba(255, 255, 255, 0.7);
}

#header .search .underline-input:focus:-moz-placeholder {
    color: rgba(255, 255, 255, 0.7);
}

#header .search .underline-input:focus:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.7);
}

#header .nav-right,
#header .nav-left {
    margin-bottom: 0;
}

#header .nav-right>li,
#header .nav-left>li {
    margin-top: 3px;
    vertical-align: top;
}

#header .nav-right>li>a,
#header .nav-left>li>a {
    color: rgba(255, 255, 255, 0.7);
    line-height: 42px;
    padding: 0 10px;
    display: inline-block;
    position: relative;
}

#header .nav-right>li>a:hover,
#header .nav-left>li>a:hover {
    color: white;
}

#header .nav-right>li>a>.badge,
#header .nav-left>li>a>.badge {
    position: absolute;
    top: 7px;
    left: 1px;
}

#header .nav-right>li.nav-profile,
#header .nav-left>li.nav-profile {
    margin-top: 0;
}

#header .nav-right>li.nav-profile>a,
#header .nav-left>li.nav-profile>a {
    font-size: 12px;
}

#header .nav-right>li.nav-profile>a img,
#header .nav-left>li.nav-profile>a img {
    margin-top: -2px;
}

#header .nav-right>li.nav-profile>a span,
#header .nav-left>li.nav-profile>a span {
    margin: 0 5px;
    line-height: 45px;
}

#header .nav-right>li.nav-profile>a span>i,
#header .nav-left>li.nav-profile>a span>i {
    margin-left: 5px;
}

#header .nav-right>li.toggle-right-sidebar,
#header .nav-left>li.toggle-right-sidebar {
    margin-top: 0;
    padding: 0;
}

#header .nav-right>li.toggle-right-sidebar>a,
#header .nav-left>li.toggle-right-sidebar>a {
    background-color: #493d55;
    line-height: 45px;
    padding: 0 15px;
}

#header .nav-left {
    margin-left: 0;
}

#header .nav-left>li.divided-right {
    margin-top: 0;
    border-color: rgba(255, 255, 255, 0.1);
}

#header .nav-left>li.divided-right>a {
    line-height: 45px;
}

@media only screen and (max-width: 992px) {
    .appWrapper.sidebar-sm #header .branding,
    .appWrapper:not(.sidebar-sm):not(.sidebar-xs) #header .branding {
        width: 80px;
    }
    .appWrapper.sidebar-sm #header .branding .brand>span,
    .appWrapper:not(.sidebar-sm):not(.sidebar-xs) #header .branding .brand>span {
        display: none;
    }
    .appWrapper.sidebar-sm #header .branding .brand,
    .appWrapper:not(.sidebar-sm):not(.sidebar-xs) #header .branding .brand {
        margin-left: 12px;
    }
    .appWrapper:not(.sidebar-sm):not(.sidebar-xs) #header .branding {
        width: 40px;
    }
    .appWrapper:not(.sidebar-sm):not(.sidebar-xs) #header .branding .brand {
        margin-left: -9px;
    }
}

@media only screen and (max-width: 768px) {
    .appWrapper.sidebar-xs #header {
        position: relative;
        z-index: 22;
    }
    .appWrapper.sidebar-xs #header .branding {
        float: none;
        width: 100% !important;
        text-align: center;
        position: relative;
    }
    .appWrapper.sidebar-xs #header .branding>a {
        float: none;
        width: auto;
        background-position: 8px 1px;
    }
    .appWrapper.sidebar-xs #header .branding .brand>span {
        display: inline-block;
        margin-left: 10px;
    }
    .appWrapper.sidebar-xs #header .search {
        position: absolute;
        left: 0;
        top: 0;
        width: 120px;
    }
    .appWrapper.sidebar-xs #header .nav-left {
        position: absolute;
        right: 0;
        top: 0;
    }
    .appWrapper.sidebar-xs #header .nav-left .sidebar-collapse {
        display: none;
    }
    .appWrapper.sidebar-xs #header .nav-left .settings .dropdown-menu {
        right: 0;
        left: auto;
    }
    .appWrapper.sidebar-xs #header .nav-left .settings .dropdown-menu.with-arrow:before {
        right: 12px;
        left: auto;
    }
    .appWrapper.sidebar-xs #header .nav-left .settings .dropdown-menu.with-arrow:after {
        right: 13px;
        left: auto;
    }
    .appWrapper.sidebar-xs #header .nav-right {
        float: left !important;
        padding-left: 10px;
    }
    .appWrapper.sidebar-xs #header .nav-right .nav-profile {
        position: absolute;
        bottom: 0;
        right: 40px;
    }
    .appWrapper.sidebar-xs #header .nav-right .nav-profile>a>span {
        display: none;
    }
    .appWrapper.sidebar-xs #header .nav-right .nav-profile .dropdown-menu {
        left: auto;
        right: 0;
    }
    .appWrapper.sidebar-xs #header .nav-right .nav-profile .dropdown-menu.with-arrow:before {
        right: 12px;
        left: auto;
    }
    .appWrapper.sidebar-xs #header .nav-right .nav-profile .dropdown-menu.with-arrow:after {
        right: 13px;
        left: auto;
    }
    .appWrapper.sidebar-xs #header .nav-right .toggle-right-sidebar {
        position: absolute;
        bottom: 0;
        right: 0;
    }
    .appWrapper.sidebar-xs #header .nav-right .users .dropdown-menu,
    .appWrapper.sidebar-xs #header .nav-right .messages .dropdown-menu,
    .appWrapper.sidebar-xs #header .nav-right .notifications .dropdown-menu {
        left: 0;
        right: auto;
    }
    .appWrapper.sidebar-xs #header .nav-right .users .dropdown-menu.with-arrow:before,
    .appWrapper.sidebar-xs #header .nav-right .messages .dropdown-menu.with-arrow:before,
    .appWrapper.sidebar-xs #header .nav-right .notifications .dropdown-menu.with-arrow:before {
        left: 12px;
        right: auto;
    }
    .appWrapper.sidebar-xs #header .nav-right .users .dropdown-menu.with-arrow:after,
    .appWrapper.sidebar-xs #header .nav-right .messages .dropdown-menu.with-arrow:after,
    .appWrapper.sidebar-xs #header .nav-right .notifications .dropdown-menu.with-arrow:after {
        left: 13px;
        right: auto;
    }
    .appWrapper.sidebar-xs.header-static.aside-fixed #header .search {
        left: 40px;
    }
    .appWrapper.sidebar-xs.header-fixed #header {
        position: fixed;
    }
}

@media only screen and (max-width: 480px) {
    .appWrapper.sidebar-xs #header .branding {
        text-align: left;
        padding-left: 10px;
    }
    .appWrapper.sidebar-xs #header .branding>a {
        background-position: 0 1px;
    }
    .appWrapper.sidebar-xs #header .branding .brand>span {
        display: none;
    }
    .appWrapper.sidebar-xs #header .search {
        left: 40px;
    }
    .appWrapper.sidebar-xs.header-static.aside-fixed #header .search {
        left: 80px;
    }
    .appWrapper.sidebar-xs.sidebar-offcanvas #header .search {
        left: 70px;
    }
}

@media only screen and (max-width: 420px) {
    .appWrapper.sidebar-xs #header .nav-right>li {
        position: static !important;
    }
    .appWrapper.sidebar-xs #header .nav-right>li.toggle-right-sidebar {
        position: absolute !important;
    }
    .appWrapper.sidebar-xs #header .nav-right>li .dropdown-menu {
        left: 0 !important;
        right: 0 !important;
    }
    .appWrapper.sidebar-xs #header .nav-right>li .dropdown-menu.with-arrow:before,
    .appWrapper.sidebar-xs #header .nav-right>li .dropdown-menu.with-arrow:after {
        display: none !important;
    }
}

.appWrapper.sidebar-xs .sidebar-collapse i:before {
    content: "\f03c";
}

.appWrapper.aside-fixed #sidebar {
    position: fixed;
    top: 45px;
    bottom: 0;
}

.appWrapper.aside-static #wrap {
    position: relative;
}

.appWrapper.aside-static #wrap #controls {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
}

.appWrapper.aside-static #wrap #controls.dropdown-open {
    right: 0;
}

.appWrapper.aside-static #sidebar {
    position: static;
    float: left;
    padding-top: 45px;
    min-height: 100%;
}

.appWrapper.aside-static.header-static #sidebar {
    padding-top: 45px;
}

#sidebar {
    width: 250px;
    padding: 0;
    background-color: #493d55;
    z-index: 21;
    -webkit-overflow-scrolling: touch;
    -webkit-overflow-scrolling: -blackberry-touch;
}

#sidebar .panel-group {
    margin-bottom: 0;
}

#sidebar .panel-group .panel+.panel {
    margin-top: 0;
}

#sidebar .panel-group .panel {
    border-radius: 0;
    border: 0;
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#sidebar .panel-group .panel>.panel-heading {
    background-color: transparent;
    border: 0;
    text-transform: uppercase;
    padding: 0;
}

#sidebar .panel-group .panel>.panel-heading .panel-title {
    margin: 0 15px;
}

#sidebar .panel-group .panel>.panel-heading .panel-title>a {
    display: block;
    position: relative;
    padding: 15px 15px 0;
    margin: 0 -15px;
    cursor: pointer;
    font-size: 10px;
    color: rgba(255, 255, 255, 0.2);
    text-decoration: none;
}

#sidebar .panel-group .panel>.panel-heading .panel-title>a:after {
    content: '';
    display: block;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    margin-top: 15px;
}

#sidebar .panel-group .panel>.panel-heading .panel-title>a:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
}

#sidebar .panel-group .panel>.panel-heading .panel-title>a>i {
    position: absolute;
    right: 15px;
}

#sidebar .panel-group .panel>.panel-heading+.panel-collapse>.panel-body {
    border-top: 0;
}

#sidebar .panel-group .panel .panel-title>a.collapsed {
    background-color: rgba(0, 0, 0, 0.05);
    color: rgba(255, 255, 255, 0.5);
    padding: 15px;
}

#sidebar .panel-group .panel .panel-title>a.collapsed:after {
    display: none;
}

#sidebar .panel-group .panel .panel-title>a.collapsed:hover {
    color: white;
}

#sidebar .panel-group .panel .panel-title>a.collapsed>i:before {
    content: "\f107";
}

#sidebar .panel-group .panel .panel-body {
    color: rgba(255, 255, 255, 0.5);
}

#sidebar .summary .media .media-body {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.3);
    text-transform: uppercase;
}

#sidebar .summary .media .media-body .media-heading {
    font-weight: 700;
    color: rgba(255, 255, 255, 0.5);
}

#sidebar .settings label {
    font-weight: 400;
}

#sidebar .settings .onoffswitch {
    right: -10px;
}

#sidebar .settings .onoffswitch .onoffswitch-label {
    filter: alpha(opacity=40);
    opacity: 0.4;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

#sidebar .settings .onoffswitch-checkbox:checked+.onoffswitch-label {
    filter: alpha(opacity=100);
    opacity: 1;
}

#sidebar-wrap {
    -webkit-overflow-scrolling: touch;
    -webkit-overflow-scrolling: -blackberry-touch;
    width: 100%;
    height: 100%;
}

#navigation {
    margin: 0 -15px;
    padding: 0;
    -webkit-overflow-scrolling: touch;
    -webkit-overflow-scrolling: -blackberry-touch;
    list-style: none;
    background-color: #493d55;
}

#navigation>li>a>i {
    display: inline-block;
    margin-right: 10px;
    text-align: center;
    font-size: 14px;
    width: 20px;
    line-height: 1;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

#navigation>li {
    position: relative;
    margin: 0;
    overflow: hidden;
    z-index: 10;
}

#navigation>li.open>a,
#navigation>li:hover>a {
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
}

#navigation>li.open>i,
#navigation>li:hover>i {
    color: white;
}

#navigation>li.active>a {
    background-color: #16a085;
    color: white;
}

#navigation>li.active>i {
    color: white;
}

#navigation>li.active .ink {
    z-index: 9;
}

#navigation>li a {
    font-size: 13px;
    color: rgba(255, 255, 255, 0.5);
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
}

#navigation>li a:hover {
    text-decoration: none;
}

#navigation>li .ink {
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 100%;
    transform: scale(0);
    width: 250px !important;
    height: 250px !important;
}

#navigation>li .ink.animate {
    -webkit-animation: ripple 0.65s linear;
    -moz-animation: ripple 0.65s linear;
    animation: ripple 0.65s linear;
}

#navigation>li>a {
    font-weight: 700;
    position: relative;
    display: block;
    padding: 12px 15px;
}

#navigation>li>a>.badge {
    position: absolute;
    top: 7px;
    left: 25px;
}

#navigation>li>a>.label {
    position: absolute;
    top: 13px;
    right: 10px;
}

#navigation .dropdown>a>i:last-of-type {
    font-size: 10px;
    position: absolute;
    top: 17px;
    right: 0px;
}

#navigation .dropdown.open>a>i:last-of-type:before {
    content: "\f068";
}

#navigation .dropdown>a>.label {
    right: 35px;
}

#navigation .dropdown>ul {
    display: none;
    background-color: rgba(0, 0, 0, 0.15);
    list-style: none;
    padding: 5px 0;
}

#navigation .dropdown>ul li {
    position: relative;
    padding: 0;
}

#navigation .dropdown>ul li:hover>a,
#navigation .dropdown>ul li.active>a {
    color: #16a085;
}

#navigation .dropdown>ul li:last-child>a {
    border-bottom: 0;
}

.form-control {
    color: #616f77;
    outline: 0;
    vertical-align: top;
    background-color: #fff;
    filter: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 2px;
    border: 1px solid #dbe0e2;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.form-control:not(select) {
    -webkit-appearance: none !important;
}

.form-control::-webkit-input-placeholder {
    -webkit-transition: color 0.2s linear;
    -moz-transition: color 0.2s linear;
    transition: color 0.2s linear;
    color: #bfc7cb;
    font-style: italic;
    font-size: 12px;
    line-height: 20px;
}

.form-control::-moz-placeholder {
    -webkit-transition: color 0.2s linear;
    -moz-transition: color 0.2s linear;
    transition: color 0.2s linear;
    color: #bfc7cb;
    font-style: italic;
    font-size: 12px;
    line-height: 20px;
}

.form-control:-moz-placeholder {
    -webkit-transition: color 0.2s linear;
    -moz-transition: color 0.2s linear;
    transition: color 0.2s linear;
    color: #bfc7cb;
    font-style: italic;
    font-size: 12px;
    line-height: 20px;
}

.form-control:-ms-input-placeholder {
    -webkit-transition: color 0.2s linear;
    -moz-transition: color 0.2s linear;
    transition: color 0.2s linear;
    color: #bfc7cb;
    font-style: italic;
    font-size: 12px;
    line-height: 20px;
}

.form-control.input-lg::-webkit-input-placeholder {
    font-size: 18px;
}

.form-control.input-lg::-moz-placeholder {
    font-size: 18px;
}

.form-control.input-lg:-moz-placeholder {
    font-size: 18px;
}

.form-control.input-lg:-ms-input-placeholder {
    font-size: 18px;
}

.form-control.input-sm::-webkit-input-placeholder {
    line-height: 18px;
}

.form-control.input-sm::-moz-placeholder {
    line-height: 18px;
}

.form-control.input-sm:-moz-placeholder {
    line-height: 18px;
}

.form-control.input-sm:-ms-input-placeholder {
    line-height: 18px;
}

.form-control:hover:not(:disabled) {
    border-color: #b1bac0;
}

.form-control:focus,
.form-control:focus:hover {
    outline: none;
    border: 1px solid;
    border-color: #22beef;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-control.underline-input {
    background: none;
    border: 0;
    border-bottom: 1px solid;
    border-radius: 0;
    -webkit-appearance: none !important;
    vertical-align: middle;
    padding-left: 0;
    border-color: #dbe0e2;
}

.form-control.underline-input:focus:hover {
    border: 0;
    border-bottom: 1px solid #22beef;
}

.form-control.underline-input:focus {
    border-color: #22beef;
}

.form-control.rounded {
    border-radius: 600px;
}

.form-control.input-unstyled {
    border: 0;
    padding: 0;
    background-color: transparent;
}

.form-control.input-unstyled::-webkit-input-placeholder {
    font-size: 16px;
}

.form-control.input-unstyled::-moz-placeholder {
    font-size: 16px;
}

.form-control.input-unstyled:-moz-placeholder {
    font-size: 16px;
}

.form-control.input-unstyled:-ms-input-placeholder {
    font-size: 16px;
}

.form-control.input-unstyled:focus,
.form-control.input-unstyled:focus:hover {
    border: 0;
}

.form-group.legend h1,
.form-group.legend h2,
.form-group.legend h3,
.form-group.legend h4,
.form-group.legend h5,
.form-group.legend h6 {
    color: #428bca;
    margin-bottom: 3px;
}

.form-group.legend p {
    font-size: 12px;
    color: #95a2a9;
    border-bottom: 1px dotted #cacaca;
    padding-bottom: 5px;
}

label {
    font-weight: 400;
}

.input-group-addon {
    border-radius: 2px;
}

.input-group-addon input[type="radio"],
.input-group-addon input[type="checkbox"] {
    margin-top: 3px;
}

.input-group .btn {
    border-radius: 2px;
}

.form-validation .form-control.has-focus+.help-block {
    display: none;
}

.form-validation .form-control.has-visited:not(.has-focus)+.help-block {
    display: block;
}

.form-validation .form-control.ng-dirty.ng-invalid,
.form-validation .form-control.ng-dirty.ng-invalid[type="checkbox"]+i {
    border-color: #ff7b76;
}

.form-validation .form-control.ng-dirty.ng-invalid+.help-block,
.form-validation .form-control.ng-dirty.ng-invalid[type="checkbox"]+i+.help-block {
    color: #ff635c;
}

.form-validation .form-control.ng-dirty.ng-valid {
    border-color: #b2e600;
}

.form-validation .form-control.ng-dirty.ng-valid+.help-block {
    color: #aadc00;
}

.has-error .form-control,
.has-error .form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #ff7b76;
}

.has-error .form-control.has-focus,
.has-error .form-control:focus.has-focus {
    border-color: #22beef;
}

.has-error .form-control.has-visited:not(.has-focus),
.has-error .form-control:focus.has-visited:not(.has-focus) {
    border-color: #ff7b76;
}

.has-error .control-label,
.has-error .help-block {
    color: #ff635c;
}

.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline {
    color: #616f77;
}

.has-error .checkbox-custom>i,
.has-error .checkbox-custom:hover>i {
    border-color: #ff7b76;
}

.has-success .form-control,
.has-success .form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #b2e600;
}

.has-success .form-control.has-focus,
.has-success .form-control:focus.has-focus {
    border-color: #22beef;
}

.has-success .form-control.has-visited:not(.has-focus),
.has-success .form-control:focus.has-visited:not(.has-focus) {
    border-color: #b2e600;
}

.has-success .control-label,
.has-success .help-block {
    color: #aadc00;
}

.has-success .radio,
.has-success .checkbox,
.has-success .radio-inline,
.has-success .checkbox-inline {
    color: #616f77;
}

.has-success .checkbox-custom>i {
    border-color: #b2e600;
}

.has-warning .form-control,
.has-warning .form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #ffcd33;
}

.has-warning .form-control.has-focus,
.has-warning .form-control:focus.has-focus {
    border-color: #22beef;
}

.has-warning .form-control.has-visited:not(.has-focus),
.has-warning .form-control:focus.has-visited:not(.has-focus) {
    border-color: #ffcd33;
}

.has-warning .control-label,
.has-warning .help-block {
    color: #ffc71a;
}

.has-warning .radio,
.has-warning .checkbox,
.has-warning .radio-inline,
.has-warning .checkbox-inline {
    color: #616f77;
}

.has-warning .checkbox-custom>i {
    border-color: #ffcd33;
}

.checkbox-custom,
.checkbox-custom-alt {
    padding-left: 20px;
    cursor: pointer;
}

.checkbox-custom input,
.checkbox-custom-alt input {
    position: absolute;
    opacity: 0;
}

.checkbox-custom input:checked+i,
.checkbox-custom-alt input:checked+i {
    border-color: #428bca;
    background-color: #428bca;
}

.checkbox-custom input:checked+i:before,
.checkbox-custom-alt input:checked+i:before {
    top: 3px;
    left: 3px;
    width: 12px;
    height: 12px;
    background-color: #fff;
}

.checkbox-custom input:checked+span .active,
.checkbox-custom-alt input:checked+span .active {
    display: inherit;
}

.checkbox-custom input[type='radio']+i,
.checkbox-custom input[type='radio']+i:before,
.checkbox-custom-alt input[type='radio']+i,
.checkbox-custom-alt input[type='radio']+i:before {
    border-radius: 50%;
}

.checkbox-custom input[disabled]+i,
.checkbox-custom-alt input[disabled]+i {
    border-color: #e2e2e2;
    background-color: #f2f2f2;
}

.checkbox-custom input[disabled]+i:before,
.checkbox-custom-alt input[disabled]+i:before {
    background-color: #e2e2e2;
}

.checkbox-custom>i,
.checkbox-custom-alt>i {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-top: -2px;
    margin-right: 4px;
    margin-left: -20px;
    line-height: 1;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

.checkbox-custom>i:before,
.checkbox-custom-alt>i:before {
    position: absolute;
    top: 50%;
    left: -100%;
    width: 0;
    height: 0;
    background-color: transparent;
    content: "";
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
    z-index: 1;
}

html.boxed-layout #header {
    position: relative !important;
}

html.boxed-layout .appWrapper.header-static.aside-fixed #header .branding {
    left: auto;
    margin-left: -250px;
}

html.boxed-layout .appWrapper.header-static.aside-fixed.sidebar-sm #header .branding {
    margin-left: -80px;
}

html.boxed-layout .appWrapper.header-static.aside-fixed.sidebar-xs #header .branding {
    margin-left: -40px;
}

html.boxed-layout .appWrapper.header-fixed.aside-static #header {
    position: fixed !important;
    left: auto;
    right: auto;
    width: 100%;
}

@media only screen and (min-width: 768px) {
    html.boxed-layout #wrap {
        width: 750px;
    }
    html.boxed-layout .appWrapper.header-fixed.aside-static #header {
        width: 750px;
    }
}

@media only screen and (min-width: 992px) {
    html.boxed-layout #wrap {
        width: 970px;
    }
    html.boxed-layout .appWrapper.header-fixed.aside-static #header {
        width: 970px;
    }
}

@media only screen and (min-width: 1200px) {
    html.boxed-layout #wrap {
        width: 1170px;
    }
    html.boxed-layout .appWrapper.header-fixed.aside-static #header {
        width: 1170px;
    }
}