<div class="page-main overflow-scroll">
    <table>

        <tr>
            <th ng-click="reverse = sort === 'image' ? !reverse : false; sort = 'image'" class="sortable">
                Picture
                <i class="fa fa-sort-asc" ng-if="sort === 'image' && !reverse"></i>
                <i class="fa fa-sort-desc" ng-if="sort === 'image' && reverse"></i>
                <i class="fa fa-sort" ng-if="sort !== 'image'"></i>
            </th>
            <th ng-click="reverse = sort === 'markerId' ? !reverse : false; sort = 'markerId'" class="sortable" ng-if="appId() === 'master'">
                App ID
                <i class="fa fa-sort-asc" ng-if="sort === 'appid' && !reverse"></i>
                <i class="fa fa-sort-desc" ng-if="sort === 'appid' && reverse"></i>
                <i class="fa fa-sort" ng-if="sort !== 'appid'"></i>
            </th>
            <th ng-click="reverse = sort === 'markerId' ? !reverse : false; sort = 'markerId'" class="sortable">
                Marker ID
                <i class="fa fa-sort-asc" ng-if="sort === 'markerId' && !reverse"></i>
                <i class="fa fa-sort-desc" ng-if="sort === 'markerId' && reverse"></i>
                <i class="fa fa-sort" ng-if="sort !== 'markerId'"></i>
            </th>
            <th ng-click="reverse = sort === 'description' ? !reverse : false; sort = 'description'" class="sortable">
                Description
                <i class="fa fa-sort-asc" ng-if="sort === 'description' && !reverse"></i>
                <i class="fa fa-sort-desc" ng-if="sort === 'description' && reverse"></i>
                <i class="fa fa-sort" ng-if="sort !== 'description'"></i>
            </th>
            <th ng-click="reverse = sort === 'status' ? !reverse : false; sort = 'status'" class="sortable">
                Status
                <i class="fa fa-sort-asc" ng-if="sort === 'status' && !reverse"></i>
                <i class="fa fa-sort-desc" ng-if="sort === 'status' && reverse"></i>
                <i class="fa fa-sort" ng-if="sort !== 'status'"></i>
            </th>
            <th ng-click="reverse = sort === 'routeName' ? !reverse : false; sort = 'routeName'" class="sortable">
                Route Name
                <i class="fa fa-sort-asc" ng-if="sort === 'routeName' && !reverse"></i>
                <i class="fa fa-sort-desc" ng-if="sort === 'routeName' && reverse"></i>
                <i class="fa fa-sort" ng-if="sort !== 'routeName'"></i>
            </th>
            <th ng-click="reverse = sort === 'lat' ? !reverse : false; sort = 'lat'" class="sortable">
                Lat
                <i class="fa fa-sort-asc" ng-if="sort === 'lat' && !reverse"></i>
                <i class="fa fa-sort-desc" ng-if="sort === 'lat' && reverse"></i>
                <i class="fa fa-sort" ng-if="sort !== 'lat'"></i>
            </th>
            <th ng-click="reverse = sort === 'long' ? !reverse : false; sort = 'long'" class="sortable">
                Long
                <i class="fa fa-sort-asc" ng-if="sort === 'long' && !reverse"></i>
                <i class="fa fa-sort-desc" ng-if="sort === 'long' && reverse"></i>
                <i class="fa fa-sort" ng-if="sort !== 'long'"></i>
            </th>
            <th>
            </th>
            <th>
            </th>
            <th ng-click="reverse = sort === 'user.username' ? !reverse : false; sort = 'user.username'" class="sortable">
                User
                <i class="fa fa-sort-asc" ng-if="sort === 'user.username' && !reverse"></i>
                <i class="fa fa-sort-desc" ng-if="sort === 'user.username' && reverse"></i>
                <i class="fa fa-sort" ng-if="sort !== 'user.username'"></i>
            </th>
            <th ng-click="reverse = sort === 'user.company' ? !reverse : false; sort = 'user.company'" class="sortable">
                Company
                <i class="fa fa-sort-asc" ng-if="sort === 'user.company' && !reverse"></i>
                <i class="fa fa-sort-desc" ng-if="sort === 'user.company' && reverse"></i>
                <i class="fa fa-sort" ng-if="sort !== 'user.company'"></i>
            </th>
            <th></th>
        </tr>
        <tbody ng-repeat="(index, item) in vm.list | orderBy : sort : reverse">
            <tr>
                <td>
                    <img ng-src="./{{ item.image }}" height="50" ng-if="!item.uploadImage && item.image" />
                    <img ng-src="{{ item.uploadImage }}" height="50" ng-if="item.uploadImage" />
                    <div ng-show="vm.editingIndex === index + 1 && !vm.historyIndex">
                        <a class="btn btn-primary" ng-click="vm.upload(index, 0)">
                            <span ng-if="!item.image">Upload</span>
                            <span ng-if="item.image">Update</span>
                        </a>
                    </div>
                </td>
                <td ng-if="(vm.editingIndex !== index + 1 || vm.historyIndex) && appId() === 'master'">{{ item.appId }}</td>
                <td ng-if="vm.editingIndex !== index + 1 || vm.historyIndex">{{ item.markerId }}</td>
                <td ng-if="vm.editingIndex !== index + 1 || vm.historyIndex">{{ item.description || 'No description' }}</td>
                <td ng-if="vm.editingIndex !== index + 1 || vm.historyIndex">
                    <span class="label label-good" ng-if="item.status == 1">
                        Good
                    </span>
                    <span class="label label-bad" ng-if="item.status == 2">
                        Bad
                    </span>
                    <span class="label label-ugly" ng-if="item.status == 3">
                        Ugly
                    </span>
                    <span class="label label-planned" ng-if="item.status == 4">
                        Planned
                    </span>
                </td>
                <td ng-if="vm.editingIndex !== index + 1 || vm.historyIndex">{{ item.routeName }}</td>
                <td ng-if="vm.editingIndex !== index + 1 || vm.historyIndex">{{ item.lat }}</td>
                <td ng-if="vm.editingIndex !== index + 1 || vm.historyIndex">{{ item.lng }}</td>
                <td ng-if="vm.editingIndex === index + 1 && !vm.historyIndex">
                    <input class="form-control" ng-model="vm.editingItem.markerId" />
                </td>
                <td ng-if="vm.editingIndex === index + 1 && !vm.historyIndex">
                    <textarea class="form-control" ng-model="vm.editingItem.description"></textarea>
                </td>
                <td ng-if="vm.editingIndex === index + 1 && !vm.historyIndex" class="page-main__status">
                    <select ng-model="vm.editingItem.status" class="form-control">
                        <option value="1">Good</option>
                        <option value="2">Bad</option>
                        <option value="3">Ugly</option>
                        <option value="4">Planned</option>
                    </select>
                </td>
                <td ng-if="vm.editingIndex === index + 1 && !vm.historyIndex">
                    <input class="form-control" ng-model="vm.editingItem.routeName" />
                </td>
                <td ng-if="vm.editingIndex === index + 1 && !vm.historyIndex">
                    <input type="number" class="form-control" ng-model="vm.editingItem.lat" />
                </td>
                <td ng-if="vm.editingIndex === index + 1 && !vm.historyIndex">
                    <input type="number" class="form-control" ng-model="vm.editingItem.lng" />
                </td>
                <td>{{ item.create | amDateFormat: 'L' }}</td>
                <td>{{ item.edit | amDateFormat: 'L' }}</td>
                <td class="avatar-group">
                    <div class="avatar small" ng-style="{ 'background-image': 'url(./' + item.user.image + ')' }"></div>
                    <div class="avatar-name small">
                        <strong>{{ item.user.username }}</strong>
                    </div>
                </td>
                <td>{{ item.user.company }}</td>
                <td>
                    <div ng-if="(!vm.editingIndex || vm.editingIndex === index + 1) && !vm.historyIndex" class="page-main__actions">
                        <a class="btn btn-primary" ng-click="vm.addHistory(index)" ng-if="!item.history.length && (vm.editingIndex !== index + 1 || vm.historyIndex)">
                            <i class="fa fa-plus"></i>
                        </a>
                        <a class="btn btn-warning" ng-if="vm.editingIndex !== index + 1 || vm.historyIndex" ng-click="vm.edit(index, 0)">
                            <i class="fa fa-pencil"></i>
                        </a>
                        <a class="btn btn-success" ng-if="vm.editingIndex === index + 1 && !vm.historyIndex" ng-click="vm.save()">
                            <i class="fa fa-save"></i>
                        </a>
                        <a class="btn btn-warning" ng-if="vm.editingIndex === index + 1 && !vm.historyIndex" ng-click="vm.cancel()">
                            <i class="fa fa-times"></i>
                        </a>
                        <a class="btn btn-danger" ng-click="vm.delete(index)" ng-if="vm.editingIndex !== index + 1 || vm.historyIndex">
                            <i class="fa fa-trash"></i>
                        </a>
                    </div>
                </td>
            </tr>

            <!-- History -->
            <tr ng-repeat="(historyIndex, history) in item.history">
                <td class="history-image">
                    <img ng-src="./{{ history.image }}" height="40" ng-if="!history.uploadImage && history.image" />
                    <img ng-src="{{ history.uploadImage }}" height="40" ng-if="history.uploadImage" />
                    <div ng-if="vm.editingIndex === index + 1 && vm.historyIndex === historyIndex + 1">
                        <a class="btn btn-primary" ng-click="vm.upload(index, historyIndex + 1)">
                            <span ng-if="!history.image">Upload</span>
                            <span ng-if="history.image">Update</span>
                        </a>
                    </div>
                </td>
                <td></td>
                <td ng-if="vm.editingIndex !== index + 1 || vm.historyIndex !== historyIndex + 1">{{ history.description || 'No description' }}</td>
                <td ng-if="vm.editingIndex !== index + 1 || vm.historyIndex !== historyIndex + 1">
                    <span class="label label-good" ng-if="history.status == 1">
                        Good
                    </span>
                    <span class="label label-bad" ng-if="history.status == 2">
                        Bad
                    </span>
                    <span class="label label-ugly" ng-if="history.status == 3">
                        Ugly
                    </span>
                    <span class="label label-planned" ng-if="history.status == 4">
                        Planned
                    </span>
                </td>
                <td ng-if="vm.editingIndex === index + 1 && vm.historyIndex === historyIndex + 1">
                    <textarea class="form-control" ng-model="vm.editingHistoryItem.description"></textarea>
                </td>
                <td ng-if="vm.editingIndex === index + 1 && vm.historyIndex === historyIndex + 1" class="page-main__status">
                    <select ng-model="vm.editingHistoryItem.status" class="form-control">
                        <option value="1">Good</option>
                        <option value="2">Bad</option>
                        <option value="3">Ugly</option>
                    </select>
                </td>
                <td colspan="2"></td>
                <td>{{ history.create | amDateFormat: 'L' }}</td>
                <td>{{ history.edit | amDateFormat: 'L' }}</td>
                <td></td>
                <td>
                    <div ng-if="(!vm.editingIndex || (vm.editingIndex === index + 1 && vm.historyIndex === historyIndex + 1))" class="page-main__actions">
                        <a class="btn btn-primary" ng-click="vm.addHistory(index)" ng-if="item.history.length === historyIndex + 1 && (vm.editingIndex !== index + 1 || vm.historyIndex !== historyIndex + 1)">
                            <i class="fa fa-plus"></i>
                        </a>
                        <a class="btn btn-warning" ng-if="vm.editingIndex !== index + 1 || vm.historyIndex !== historyIndex + 1" ng-click="vm.edit(index, historyIndex + 1)">
                            <i class="fa fa-pencil"></i>
                        </a>
                        <a class="btn btn-success" ng-if="vm.editingIndex === index + 1 && vm.historyIndex === historyIndex + 1" ng-click="vm.save()">
                            <i class="fa fa-save"></i>
                        </a>
                        <a class="btn btn-warning" ng-if="vm.editingIndex === index + 1 && vm.historyIndex === historyIndex + 1" ng-click="vm.cancel()">
                            <i class="fa fa-times"></i>
                        </a>
                        <a class="btn btn-danger" ng-click="vm.delete(index, historyIndex + 1)" ng-if="vm.editingIndex !== index + 1 || vm.historyIndex !== historyIndex + 1">
                            <i class="fa fa-trash"></i>
                        </a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="padding" ng-if="!vm.editingIndex">
    <a class="btn btn-primary" ng-click="vm.add()">Add marker</a>
</div>
