<style>
    canvas#doughnut,
    canvas#route-doughnut {
        padding: 50px;
    }

    canvas#bar,
    canvas#route-bar {
        margin-top: 100px;
        margin-left: 97px;
    }

    canvas#line,
    canvas#route-line {
        margin-top: 100px;
        margin-left: 237px;
    }

    .page-main-sidebar.page-chart,
    .page-main-sidebar.page-markers,
    .page-main-sidebar.page-reports,
    .page-main-sidebar.page-report,
    .page-main-sidebar.page-register,
    .page-main-sidebar.page-login,
    .page-main-sidebar.page-profile {
        background: #1e2e4a;
        overflow: unset;
        position: absolute;
        width: 100%;
    }

    .col-xs-6.ng-scope {
        margin-left: 50px;
        margin-top: 47px;
    }

    @media (min-width: 768px) {
        .col-sm-3 {
            width: 20%;
        }
    }

    td,
    th {
        padding: unset;
        font-weight: 900;
        font-size: initial;
        color: #ffffff;
    }

    td {
        padding: 14px 13px;
        white-space: normal;
    }

    div#pie-stats,
    div#route-pie-stats {
        margin-top: 92px;
    }

    div#rm_padding {
        margin-left: 240px;
        margin-top: 49px;
    }

</style>

<div class="row">
    <div class="col-sm-3">
        <canvas id="doughnut"
                class="chart chart-doughnut"
                chart-data="chartCtrl.data"
                chart-labels="chartCtrl.labels">
        </canvas>
    </div>

    <div id="pie-stats"
         class="col-sm-3">
        <div ng-repeat="(index, item) in chartCtrl.labels">
            <i class="fa fa-map-marker"></i>
            {{ chartCtrl.data[index]/chartCtrl.total * 100 | number: 2 }}% - {{ item }}
        </div>
    </div>

    <div class="col-sm-3">
        <canvas id="bar"
                class="chart chart-bar"
                chart-data="chartCtrl.data"
                chart-labels="chartCtrl.labels"
                chart-options="chartCtrl.chartOptions">
        </canvas>
    </div>

    <div class="col-sm-3"
         id="rm_padding">
        <table>
            <tr>
                <th>Status</th>
                <th>Number of markers</th>
            </tr>

            <tbody ng-repeat="(index, item) in chartCtrl.labels">
                <tr>
                    <td>{{ item }}</td>
                    <td>
                        {{ chartCtrl.routeDataFiltered[index] }}
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="clearfix"></div>
    </div>
</div>

<div class="row">
    <div class="col-sm-3">
        <canvas id="route-doughnut"
                class="chart chart-doughnut"
                chart-data="chartCtrl.routeDataAll"
                chart-labels="chartCtrl.routeLabelAll">
        </canvas>
    </div>

    <div id="route-pie-stats"
         class="col-sm-3">
        <div ng-repeat="(index, item) in chartCtrl.routeLabelAll">
            <i class="fa fa-map-marker"></i> {{ chartCtrl.routeDataAll[index]/chartCtrl.total * 100 | number: 2 }}% -
            {{ item }}
        </div>
    </div>

    <div class="col-sm-3">
        <canvas id="route-bar"
                class="chart chart-bar"
                chart-data="chartCtrl.routeDataAll"
                chart-labels="chartCtrl.routeLabelAll"
                chart-options="chartCtrl.chartOptions">
        </canvas>
    </div>
</div>
