<div ng-if="vm.user" class="container">
    <br><br>
    <h4>Profile</h4>

    <div class="row">
        <div class="col-sm-6 form-group">
            <strong>EMAIL: </strong>
            <span>{{ vm.user.email }}</span>
        </div>

        <div class="col-sm-6 form-group">
            <strong>USERNAME: </strong>
            <span>{{ vm.user.username }}</span>
        </div>
    </div>

    <!--<div id="full-name" class="row">-->
        <!--<div class="col-sm-6 form-group">-->
            <!--<strong>FULL NAME:</strong>-->
            <!--<input class="form-control" ng-model="vm.user.name" placeholder="Name" type="text" />-->
        <!--</div>-->
    <!--</div>-->

    <div class="row">
        <div class="col-sm-6">
            <strong>IMAGE:</strong>
            <p>
                <img ng-src="{{ vm.user.image }}" class="img-responsive" ng-if="!vm.imageUpdated" />
                <canvas id="profile-image" width="0" height="0" ng-init="vm.initCanvas()"></canvas>
            </p>
            <input type="file" id="fileUpload" ng-change="vm.readImage()" ng-model="file" />
        </div>
    </div>
    <br>

    <!--<div class="row">-->
        <!--<div class="col-sm-12">-->
            <!--<strong>BIO:</strong>-->
            <!--<textarea ng-model="vm.user.bio" class="form-control" rows="6" maxlength="200" />-->
        <!--</div>-->
    <!--</div>-->

    <hr />

    <button id="submit-btn" class="btn btn-primary" ng-click="vm.submit()" ng-disabled="vm.loading">
        <span ng-if="vm.loading">
            <i class="fa fa-spinner fa-spin"></i>
        </span>
        Submit
    </button>
</div>