<style>
    .page-header.navbar .top-menu .navbar-nav {
        display: block;
        margin-right: -15px;
        margin-left: 15px;
        padding: 0;
    }

    .page-header.navbar #search {
        float: right;
        background: transparent;
        border: rgba(255, 255, 255, .1) 1px solid;
        margin: 5px;
    }

</style>

<div class="page-header navbar navbar-fixed-top">
    <!-- BEGIN HEADER INNER -->
    <div class="page-header-inner">
        <!-- BEGIN LOGO -->
        <div class="page-logo">
            <img class="logo-default"
                 alt="logo"
                 src="https://www.shoresafety.se/wp-content/themes/shoresafety/images/ss_logo.jpg">
            <div id="logo-text">Shore Safety | v1.5</div>
        </div>

        <!-- BEGIN TOP NAVIGATION MENU -->
        <div class="top-menu"
             ng-if="globalCtrl.isLoggedIn()">
            <ul class="nav navbar-nav">
                <li ui-sref="app.main({ appId: appId() })"
                    ng-class="{'active': pageName(globalCtrl.state.current.name) == 'main'}">
                    <div class="nav-content">
                        Main
                        <i class="fa fa-angle-down"></i>
                    </div>
                </li>

                <li ui-sref="app.markers({ appId: appId() })"
                    ng-class="{'active': pageName(globalCtrl.state.current.name) == 'markers'}">
                    <div class="nav-content">
                        Station Directory
                        <i class="fa fa-angle-down"></i>
                    </div>
                </li>

                <li ui-sref="app.chart({ appId: appId() })"
                    ng-class="{'active': pageName(globalCtrl.state.current.name) == 'chart'}">
                    <div class="nav-content">
                        Charts
                        <i class="fa fa-angle-down"></i>
                    </div>
                </li>

                <li ui-sref="app.reports({ appId: appId() })"
                    ng-class="{'active': pageName(globalCtrl.state.current.name) == 'reports'}">
                    <div class="nav-content">
                        Station Reports
                        <i class="fa fa-angle-down"></i>
                    </div>
                </li>

                <li>
                    <input class="form-control"
                           ng-show="$root.isSearchShowing"
                           ng-model="$root.search"
                           id="search"
                           placeholder="Search"
                           maxlength="100" />
                </li>
            </ul>

            <ul class="nav navbar-nav auth pull-right">
                <li id="username"
                    class="header-username">
                    <strong>{{ globalCtrl.user().username | uppercase  }}</strong>
                </li>

                <li class="dropdown dropdown-user dropdown-hover">
                    <a data-close-others="true"
                       data-hover="dropdown"
                       data-toggle="dropdown"
                       class="dropdown-toggle"
                       href="javascript:;">
                        <img ng-src="{{ globalCtrl.user().image || './image/placeholders.jpg' }}"
                             class="img-circle"
                             alt="">
                        <i class="fa fa-angle-down"></i>
                    </a>

                    <ul class="dropdown-menu dropdown-menu-default active">
                        <li>
                            <a ui-sref="app.profile({ appId: appId() })"
                               ng-class="{'active': pageName(globalCtrl.state.current.name) == 'profile'}">
                                <i class="fa fa-user"></i> {{ globalCtrl.user().username }} Profile
                            </a>
                        </li>
                        <li>
                            <a ng-click="globalCtrl.logout()">
                                <i class="fa fa-sign-out"></i> Logout
                            </a>
                        </li>
                    </ul>
                </li>
                <!-- END USER LOGIN DROPDOWN -->
            </ul>
        </div>
        <!-- END TOP NAVIGATION MENU -->
    </div>
    <!-- END HEADER INNER -->
</div>
