.fa-database:before {
    content: "\f1c0";
    color: white;
}

.fa-bar-chart-o:before {
    content: "\f080";
    color: white;
}

.fa-exclamation-triangle:before {
    content: "\f071";
    color: white;
}

.fa-map-marker:before {
    content: "\f041";
    color: white;
}

.dataTable th {
    text-transform: uppercase;
}

#map {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
}

div.load {
    animation: pulse 2s infinite;
    border-radius: 50% !important;
    cursor: pointer;
    display: block;
    height: 40px;
    margin: -15px;
    position: relative;
    width: 40px;
    z-index: 2;
}

.load.white {
    background-color: hsla(100, 0%, 100%, 1);
    box-shadow: hsla(100, 0%, 100%, 0.4);
    animation: pulse_white 2s infinite;
}

.load.green {
    background-color: hsla(95, 62%, 65%, 1);
    box-shadow: hsla(95, 62%, 65%, 0.4);
    animation: pulse_green 2s infinite;
}

.load.dark-green {
    background-color: hsla(130, 51%, 31%, 1);
    box-shadow: hsla(130, 51%, 31%, 0.4);
    animation: pulse_dark-green 2s infinite;
}

.load.blue {
    background-color: hsla(223, 60%, 79%, 1);
    box-shadow: hsla(223, 60%, 79%, 0.4);
    animation: pulse_blue 2s infinite;
}

.load.dark-blue {
    background-color: hsla(216, 83%, 58%, 1);
    box-shadow: hsla(216, 83%, 58%, 0.4);
    animation: pulse_dark-blue 2s infinite;
}

.load.yellow {
    background-color: hsla(61, 82%, 60%, 1);
    box-shadow: hsla(61, 82%, 60%, 0.4);
    animation: pulse_yellow 2s infinite;
}

.load.dark-yellow {
    background-color: hsla(39, 90%, 38%, 1);
    box-shadow: hsla(39, 90%, 38%, 0.4);
    animation: pulse_dark-yellow 2s infinite;
}

.load.orange {
    background-color: hsla(40, 82%, 60%, 1);
    box-shadow: hsla(40, 82%, 60%, 0.4);
    animation: pulse_orange 2s infinite;
}

.load.purple {
    background-color: hsla(315, 51%, 65%, 1);
    box-shadow: hsla(315, 51%, 65%, 0.4);
    animation: pulse_purple 2s infinite;
}

.load.dark-purple {
    background-color: hsla(285, 67%, 37%, 1);
    box-shadow: hsla(285, 67%, 37%, 0.4);
    animation: pulse_dark-purple 2s infinite;
}

.load.red {
    background-color: hsla(0, 100%, 50%, 1);
    box-shadow: hsla(0, 100%, 50%, 0.4);
    animation: pulse_red 2s infinite;
}

.load.dark-red {
    background-color: hsla(0, 91%, 32%, 1);
    box-shadow: hsla(0, 91%, 32%, 0.4);
    animation: pulse_dark-red 2s infinite;
}

.load-pulse-container.white {
    background-color: hsla(100, 0%, 100%, 1);
}

.load-pulse-container.green {
    background-color: hsla(95, 62%, 65%, 1);
}

.load-pulse-container.dark-green {
    background-color: hsla(130, 51%, 31%, 1);
}

.load-pulse-container.blue {
    background-color: hsla(223, 60%, 79%, 1);
}

.load-pulse-container.dark-blue {
    background-color: hsla(216, 83%, 58%, 1);
}

.load-pulse-container.yellow {
    background-color: hsla(61, 82%, 60%, 1);
}

.load-pulse-container.dark-yellow {
    background-color: hsla(39, 90%, 38%, 1);
}

.load-pulse-container.orange {
    background-color: hsla(40, 82%, 60%, 1);
}

.load-pulse-container.purple {
    background-color: hsla(315, 51%, 65%, 1);
}

.load-pulse-container.dark-purple {
    background-color: hsla(285, 67%, 37%, 1);
}

.load-pulse-container.red {
    background-color: hsla(0, 100%, 50%, 1);
}

.load-pulse-container.dark-red {
    background-color: hsla(0, 91%, 32%, 1);
}

.load-pulse {
    animation: pulse 2000ms linear infinite;
    position: absolute;
    -webkit-animation: pulse 2000ms linear infinite;
    -moz-animation: pulse 2000ms linear infinite;
    top: 20px;
    left: 20px;
}

.load-pulse-container {
    margin-top: -30px;
    left: 0;
    /** height is required as absolute value **/
    border-radius: 100px;
}

.load-pulse-container:after,
.load-pulse-container:before {
    margin: 0px;
    margin-left: -30px;
    display: inline-block;
    position: absolute;
    content: "";
    width: 60px;
    height: 60px;
    border-radius: 60px;
}

.load-pulse-container.white:after,
.load-pulse-container.white:before {
    background-color: hsla(100, 0%, 100%, 1);
}

.load-pulse-container.green:after,
.load-pulse-container.green:before {
    background-color: hsla(95, 62%, 65%, 1);
}

.load-pulse-container.dark-green:after,
.load-pulse-container.dark-green:before {
    background-color: hsla(130, 51%, 31%, 1);
}

.load-pulse-container.blue:after,
.load-pulse-container.blue:before {
    background-color: hsla(223, 60%, 79%, 1);
}

.load-pulse-container.dark-blue:after,
.load-pulse-container.dark-blue:before {
    background-color: hsla(216, 83%, 58%, 1);
}

.load-pulse-container.yellow:after,
.load-pulse-container.yellow:before {
    background-color: hsla(61, 82%, 60%, 1);
}

.load-pulse-container.dark-yellow:after,
.load-pulse-container.dark-yellow:before {
    background-color: hsla(39, 90%, 38%, 1);
}

.load-pulse-container.orange:after,
.load-pulse-container.orange:before {
    background-color: hsla(40, 82%, 60%, 1);
}

.load-pulse-container.purple:after,
.load-pulse-container.purple:before {
    background-color: hsla(315, 51%, 65%, 1);
}

.load-pulse-container.dark-purple:after,
.load-pulse-container.dark-purple:before {
    background-color: hsla(285, 67%, 37%, 1);
}

.load-pulse-container.red:after,
.load-pulse-container.red:before {
    background-color: hsla(0, 100%, 50%, 1);
}

.load-pulse-container.dark-red:after,
.load-pulse-container.dark-red:before {
    background-color: hsla(0, 91%, 32%, 1);
}

.load-pulse-container:after {
    z-index: -100;
    -webkit-animation: outer-ripple 2000ms linear infinite;
    animation: outer-ripple 2000ms linear infinite;
}

.load-pulse-container:before {
    z-index: -200;
    -webkit-animation: inner-ripple 2000ms linear infinite;
    animation: inner-ripple 2000ms linear infinite;
}

.load .fa {
    color: white;
    width: 40px;
    text-align: center;
    text-shadow: 0 0 3px rgba(0, 0, 0, .6);
    line-height: 40px;
}

@-webkit-keyframes pulse_white {
    0% {
        -moz-box-shadow: 0 0 0 0 hsla(100, 0%, 100%, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 0 hsla(100, 0%, 100%, 0.4);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 hsla(100, 0%, 100%, 0.4);
    }
}

@keyframes pulse_white {
    0% {
        -moz-box-shadow: 0 0 0 0 hsla(100, 0%, 100%, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 0 hsla(100, 0%, 100%, 0.4);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 hsla(100, 0%, 100%, 0.4);
    }
}

@-webkit-keyframes pulse_green {
    0% {
        -moz-box-shadow: 0 0 0 0 hsla(95, 62%, 65%, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 0 hsla(95, 62%, 65%, 0.4);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 hsla(95, 62%, 65%, 0.4);
    }
}

@keyframes pulse_green {
    0% {
        -moz-box-shadow: 0 0 0 0 hsla(95, 62%, 65%, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 0 hsla(95, 62%, 65%, 0.4);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 hsla(95, 62%, 65%, 0.4);
    }
}

@-webkit-keyframes pulse_dark-green {
    0% {
        -moz-box-shadow: 0 0 0 0 hsla(130, 51%, 31%, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 0 hsla(130, 51%, 31%, 0.4);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 hsla(130, 51%, 31%, 0.4);
    }
}

@keyframes pulse_dark-green {
    0% {
        -moz-box-shadow: 0 0 0 0 hsla(130, 51%, 31%, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 0 hsla(130, 51%, 31%, 0.4);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 hsla(130, 51%, 31%, 0.4);
    }
}

@-webkit-keyframes pulse_blue {
    0% {
        -moz-box-shadow: 0 0 0 0 hsla(223, 60%, 79%, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 0 hsla(223, 60%, 79%, 0.4);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 hsla(223, 60%, 79%, 0.4);
    }
}

@keyframes pulse_blue {
    0% {
        -moz-box-shadow: 0 0 0 0 hsla(223, 60%, 79%, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 0 hsla(223, 60%, 79%, 0.4);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 hsla(223, 60%, 79%, 0.4);
    }
}

@-webkit-keyframes pulse_dark-blue {
    0% {
        -moz-box-shadow: 0 0 0 0 hsla(216, 83%, 58%, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 0 hsla(216, 83%, 58%, 0.4);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 hsla(216, 83%, 58%, 0.4);
    }
}

@keyframes pulse_dark-blue {
    0% {
        -moz-box-shadow: 0 0 0 0 hsla(216, 83%, 58%, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 0 hsla(216, 83%, 58%, 0.4);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 hsla(216, 83%, 58%, 0.4);
    }
}

@-webkit-keyframes pulse_yellow {
    0% {
        -moz-box-shadow: 0 0 0 0 hsla(61, 82%, 60%, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 0 hsla(61, 82%, 60%, 0.4);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 hsla(61, 82%, 60%, 0.4);
    }
}

@keyframes pulse_yellow {
    0% {
        -moz-box-shadow: 0 0 0 0 hsla(61, 82%, 60%, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 0 hsla(61, 82%, 60%, 0.4);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 hsla(61, 82%, 60%, 0.4);
    }
}

@-webkit-keyframes pulse_dark-yellow {
    0% {
        -moz-box-shadow: 0 0 0 0 hsla(39, 90%, 38%, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 0 hsla(39, 90%, 38%, 0.4);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 hsla(39, 90%, 38%, 0.4);
    }
}

@keyframes pulse_dark-yellow {
    0% {
        -moz-box-shadow: 0 0 0 0 hsla(39, 90%, 38%, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 0 hsla(39, 90%, 38%, 0.4);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 hsla(39, 90%, 38%, 0.4);
    }
}

@-webkit-keyframes pulse_orange {
    0% {
        -moz-box-shadow: 0 0 0 0 hsla(40, 82%, 60%, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 0 hsla(40, 82%, 60%, 0.4);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 hsla(40, 82%, 60%, 0.4);
    }
}

@keyframes pulse_orange {
    0% {
        -moz-box-shadow: 0 0 0 0 hsla(40, 82%, 60%, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 0 hsla(40, 82%, 60%, 0.4);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 hsla(40, 82%, 60%, 0.4);
    }
}

@-webkit-keyframes pulse_purple {
    0% {
        -moz-box-shadow: 0 0 0 0 hsla(315, 51%, 65%, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 0 hsla(315, 51%, 65%, 0.4);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 hsla(315, 51%, 65%, 0.4);
    }
}

@keyframes pulse_purple {
    0% {
        -moz-box-shadow: 0 0 0 0 hsla(315, 51%, 65%, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 0 hsla(315, 51%, 65%, 0.4);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 hsla(315, 51%, 65%, 0.4);
    }
}

@-webkit-keyframes pulse_dark-purple {
    0% {
        -moz-box-shadow: 0 0 0 0 hsla(285, 67%, 37%, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 0 hsla(285, 67%, 37%, 0.4);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 hsla(285, 67%, 37%, 0.4);
    }
}

@keyframes pulse_dark-purple {
    0% {
        -moz-box-shadow: 0 0 0 0 hsla(285, 67%, 37%, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 0 hsla(285, 67%, 37%, 0.4);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 hsla(285, 67%, 37%, 0.4);
    }
}

@-webkit-keyframes pulse_red {
    0% {
        -moz-box-shadow: 0 0 0 0 hsla(0, 100%, 50%, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 0 hsla(0, 100%, 50%, 0.4);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 hsla(0, 100%, 50%, 0.4);
    }
}

@keyframes pulse_red {
    0% {
        -moz-box-shadow: 0 0 0 0 hsla(0, 100%, 50%, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 0 hsla(0, 100%, 50%, 0.4);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 hsla(0, 100%, 50%, 0.4);
    }
}

@-webkit-keyframes pulse_dark-red {
    0% {
        -moz-box-shadow: 0 0 0 0 hsla(0, 91%, 32%, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 0 hsla(0, 91%, 32%, 0.4);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 hsla(0, 91%, 32%, 0.4);
    }
}

@keyframes pulse_dark-red {
    0% {
        -moz-box-shadow: 0 0 0 0 hsla(0, 91%, 32%, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 0 hsla(0, 91%, 32%, 0.4);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 hsla(0, 91%, 32%, 0.4);
    }
}

@keyframes outer-ripple {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        filter: alpha(opacity=50);
        opacity: 0.5;
    }
    80% {
        -webkit-transform: scale(3.5);
        transform: scale(3.5);
        filter: alpha(opacity=0);
        opacity: 0;
    }
    100% {
        -webkit-transform: scale(3.5);
        transform: scale(3.5);
        filter: alpha(opacity=0);
        opacity: 0;
    }
}

@-webkit-keyframes outer-ripple {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        filter: alpha(opacity=50);
        opacity: 0.5;
    }
    80% {
        -webkit-transform: scale(3.5);
        transform: scale(3.5);
        filter: alpha(opacity=0);
        opacity: 0;
    }
    100% {
        -webkit-transform: scale(3.5);
        transform: scale(3.5);
        filter: alpha(opacity=0);
        opacity: 0;
    }
}


/* inner ripple */

@keyframes inner-ripple {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        filter: alpha(opacity=50);
        opacity: 0.5;
    }
    30% {
        -webkit-transform: scale(1);
        transform: scale(1);
        filter: alpha(opacity=50);
        opacity: 0.5;
    }
    100% {
        -webkit-transform: scale(2.5);
        transform: scale(2.5);
        filter: alpha(opacity=0);
        opacity: 0;
    }
}

@-webkit-keyframes inner-ripple {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        filter: alpha(opacity=50);
        opacity: 0.5;
    }
    30% {
        -webkit-transform: scale(1);
        transform: scale(1);
        filter: alpha(opacity=50);
        opacity: 0.5;
    }
    100% {
        -webkit-transform: scale(2.5);
        transform: scale(2.5);
        filter: alpha(opacity=0);
        opacity: 0;
    }
}

.listings {
    height: 100%;
    overflow: auto;
    padding-bottom: 60px;
}

.listings .item {
    display: block;
    border-bottom: 1px solid #eee;
    padding: 10px;
    text-decoration: none;
}

.listings .item:last-child {
    border-bottom: none;
}

.listings .item .title {
    display: block;
    color: #00853e;
    font-weight: 700;
}

.listings .item .title small {
    font-weight: 400;
}

.listings .item.active .title,
.listings .item .title:hover {
    color: #8cc63f;
}

.listings .item.active {
    background-color: #f8f8f8;
}

 ::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    border-left: 0;
    background: rgba(0, 0, 0, 0.1);
}

 ::-webkit-scrollbar-track {
    background: none;
}

 ::-webkit-scrollbar-thumb {
    background: #00853e;
    border-radius: 0;
}

.marker {
    border: none;
    cursor: pointer;
    height: 56px;
    width: 56px;
    background-image: url(marker.png);
    background-color: rgba(0, 0, 0, 0);
}

.clearfix {
    display: block;
}

.clearfix:after {
    content: '.';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}


/* Marker tweaks */

.mapboxgl-marker {
    top: -5px;
    left: -5px;
}

.mapboxgl-popup {
    padding-bottom: 50px;
}

.mapboxgl-popup-close-button {
    display: none;
}

.mapboxgl-popup-content {
    font: 400 15px/22px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
    padding: 0;
    width: 180px;
}

.mapboxgl-popup-content-wrapper {
    padding: 1%;
}

.mapboxgl-popup-content h3 {
    background: #91c949;
    color: #fff;
    margin: 0;
    display: block;
    padding: 10px;
    border-radius: 3px 3px 0 0;
    font-weight: 700;
    margin-top: -15px;
}

.mapboxgl-popup-content h4 {
    margin: 0;
    display: block;
    padding: 10px 10px 10px 10px;
    font-weight: 400;
}

.mapboxgl-popup-content div {
    padding: 10px;
}

.mapboxgl-container .leaflet-marker-icon {
    cursor: pointer;
}

.mapboxgl-popup-anchor-top>.mapboxgl-popup-content {
    margin-top: 15px;
}

.mapboxgl-popup-anchor-top>.mapboxgl-popup-tip {
    border-bottom-color: #91c949;
}

.pad2 {
    padding: 20px;
}

.map-3d {
    bottom: 0;
    left: 45px;
    position: fixed;
    top: 0;
    width: 100%;
}

.map-3d-sidebar .sliderconBox {
    position: relative;
    z-index: 9;
}

.map-3d-sidebar .left-layout {
    overflow: auto;
}

html {
    background-color: #364150;
}

#header .branding a.brand {
    font-family: "Dosis", "Arial", sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: white;
    padding-left: 30px;
    height: 45px;
    line-height: 45px;
    background: url() no-repeat 0 10px;
    float: left;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
}

.mapboxgl-ctrl.mapboxgl-ctrl-attrib {
    padding: 0 5px;
    background-color: rgba(255, 255, 255, .5);
    margin: 0;
    visibility: hidden;
}

a.mapboxgl-ctrl-logo {
    width: 85px;
    height: 21px;
    margin: 0 0 -3px -3px;
    display: block;
    background-repeat: no-repeat;
    cursor: pointer;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiP…gsOS40MyAxMC42Niw4LjUzIDExLjU2LDYuNjYgMTIuNDcsOC41MyAgICIvPjwvZz48L3N2Zz4=);
    visibility: hidden;
}

.gmaps {
    height: 727px;
    width: 100%;
    margin-bottom: 10px;
}
/* Additional */

.TumFBox img {
    width: 50%;
}

.single-product {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #ebebeb;
    overflow: hidden;
    padding-bottom: 10px;
    text-align: center;
    border-bottom: 1px solid #2b3643;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 2px 3px -2px rgba(0, 0, 0, 0.12), 0 1px 8px 0 rgba(0, 0, 0, 0.2);
    height: 201px;
}

.left-layout {
    background: #fff none repeat scroll 0 0;
    display: block;
    margin: 20px 0;
    padding: 0 20px 10px;
    height: 747px;
    border-bottom: 1px solid #2b3643;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 2px 3px -2px rgba(0, 0, 0, 0.12), 0 1px 8px 0 rgba(0, 0, 0, 0.2);
}

img.logo-default {
    position: absolute;
    width: 268px;
}

.page-header.navbar .page-logo .logo-default {
    margin: 13px 0 0;
    margin-left: 28px;
}

.left-sidebar-title h3 {
    background: #fff none repeat scroll 0 0;
    color: #323333;
    font-size: 14px;
    font-weight: 700;
    padding: 27px 20px;
    margin-top: 7px;
    text-transform: uppercase;
    border-bottom: 1px solid #2b3643;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 2px 3px -2px rgba(0, 0, 0, 0.12), 0 1px 8px 0 rgba(0, 0, 0, 0.2);
}

.content-grid {
    float: left;
    margin-top: 15px;
    text-align: left;
    width: 100%;
    padding-top: 24px;
}

.iCheck-helper {
    position: absolute;
    top: 0%;
    left: 0%;
    display: block;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background: rgb(255, 255, 255);
    border: 0px;
    opacity: 0;
}

.iCheck {
    position: absolute;
    opacity: 0;
}

.icheckbox_square-green {
    position: relative;
}


.page-content {
    background-color: #ffffff;
    margin-top: 0;
    padding: 0;
}

.widgets-container.slick-slide.slick-current.slick-active {
    width: 488px;
    height: 760px;
}

.gm-err-container {
    height: 727px;
    width: 100%;
    display: table;
    background-color: #e0e0e0;
    position: relative;
    left: 0;
    top: 0;
}

.TumFBox:hover .quick-view {
    z-index: 9;
    cursor: pointer;
}

#map-detail {
    height: 60vh;
    min-height: 400px;
    margin-top: 15px;
}

.single-product {
    height: 250px;
}

.chart-item {
    width: 200px;
    height: 200px;
}