<div class="page-container">
     <div class="page-content">
          <div class="map-container">
               <div id="map"></div>
               <div id='distance' class='distance-container'></div>
          </div>
          <div id="sidebar-1">
               <div class="context"></div>
               <br>
               <h3>Hum, Temp</h3>
               <div class="hum-temp"></div>
          </div>
          <div id="sidebar-2"></div>
          <div id="sidebar-3"></div>
     </div>
</div>