body {
    background: #39414b;
}

.container {
    height: 500px;
    width: 100%;
    position: relative;
}

.buttons {
    position: absolute;
    top: 4px;
    right: 8px;
    z-index: 100;
}

.btn {
    display: inline-block;
    padding: 4px 8px;
    background-color: #ccc;
    border-radius: 2px;
    border: 1px solid #999;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover {
    background-color: #999;
    transition: 250ms;
}

#map {
    height: 100%;
    width: 100%;
}


/* This is where you plug in the CSS for marker animations */

#markerLayer {
    animation: pulse .5s infinite alternate;
    -webkit-animation: pulse .5s infinite alternate;
    transform-origin: center;
    -webkit-transform-origin: center;
}

@-webkit-keyframes pulse {
    to {
        transform: scale(0.7);
        -webkit-transform: scale(0.7);
    }
}

@-webkit-keyframes wobble {
    from {
        -webkit-transform: none;
        transform: none;
    }
    15% {
        -webkit-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
        transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
    }
    30% {
        -webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
        transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
    }
    45% {
        -webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
        transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
    }
    60% {
        -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
        transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
    }
    75% {
        -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
        transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
    }
    to {
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes wobble {
    from {
        -webkit-transform: none;
        transform: none;
    }
    15% {
        -webkit-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
        transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
    }
    30% {
        -webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
        transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
    }
    45% {
        -webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
        transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
    }
    60% {
        -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
        transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
    }
    75% {
        -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
        transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
    }
    to {
        -webkit-transform: none;
        transform: none;
    }
}

@-webkit-keyframes flicker {
    from,
    50%,
    to {
        opacity: 1;
    }
    25%,
    75% {
        opacity: 0;
    }
}

@keyframes flicker {
    from,
    50%,
    to {
        opacity: 1;
    }
    25%,
    75% {
        opacity: 0;
    }
}

.navbar-inverse .navbar-collapse {
    float: right;
}

.navbar-inverse .navbar-collapse .btn {
    border: none;
    border-radius: 30px;
    margin-top: 25px;
    margin-left: 10px;
    height: 30px;
    line-height: 30px;
    padding: 0;
}

.navbar-inverse .navbar-collapse .btn.btn-primary {
    background: #6cdade;
    padding-left: 20px;
    padding-right: 20px;
}

.navbar-inverse .navbar-collapse .btn.btn-icon {
    background: #d6d6d6;
    color: white;
    height: 30px;
    width: 30px;
}

.navbar-inverse .navbar-collapse .btn.btn-icon i:before {
    font-size: 11px;
    line-height: 34px;
}

.navbar-header .navbar-nav>li>a {
    padding: 0;
    margin: 25px 25px 0 10px;
}

.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:focus {
    background-color: transparent;
}

.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a:focus {
    background: none;
}

.map-symbol-custom {
    height: 800px;
    width: 100%;
}

.page-content {
    position: relative;
}

.page-content .map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.panel-right {
    background: rgba(60, 68, 79, 0.8);
    border: none;
    color: #999;
    float: right;
    height: 800px;
    margin: 0;
    padding: 25px 20px;
    position: relative;
    width: 300px;
    z-index: 2;
}

.panel-right .title {
    color: white;
    margin-bottom: 10px;
    font-weight: 500;
}

.panel-right strong {
    color: white;
    font-weight: 500;
}

.panel-right h3 {
    font-size: 24px;
    color: #00a4a1;
}

.panel-right .btn {
    -webkit-appearance: none;
    border: #999 1px solid;
    color: #999;
    background: transparent;
    padding: 5px 20px;
}

.panel-right .btn:focus {
    border-color: #00a4a1;
    color: #00a4a1;
}


/*Google map items*/

a[href^="http://maps.google.co.uk/maps"] {
    display: none !important
}

a[href^="https://maps.google.co.uk/maps"] {
    display: none !important
}

.gmnoprint a,
.gmnoprint span,
.gm-style-cc {
    display: none;
}

.gmnoprint div {
    background: none !important;
}

.on-adding-new-marker {
    background-color: rgb(255, 255, 255);
    border-color: rgb(223, 223, 223);
    box-shadow: rgb(223, 223, 223) 0px 0px 0px 0px inset;
    transition: border 0.4s, box-shadow 0.4s, background-color 1.2s;
}

.on-adding-new-marker.active {
    background-color: rgb(33, 150, 243);
    border-color: rgb(33, 150, 243);
    box-shadow: rgb(33, 150, 243) 0px 0px 0px 12px inset;
}

.on-adding-new-marker small {
    left: 0px;
    transition: background-color 0.4s, left 0.2s;
}

.on-adding-new-marker.active small {
    left: 22px;
    background-color: rgb(255, 255, 255);
}