<div class="rm_padding">

    <div ng-if="vm.data" class="col-sm-6 col-sm-offset-3">
        <div class="row">
            <div class="col-sm-6 form-group">
                <br>

                <div class="row">
                    <div class="col-sm-12">
                        <h1>Station Report:</h1>
                    </div>
                </div>
                <strong>Station Marker ID:</strong>
                <div class="text-secondary">{{ vm.data.markerId }}</div>
            </div>

            <div class="col-sm-6 form-group">
                <strong>Station Status:</strong>
                <div class="text-secondary">{{ vm.labels[vm.data.status] }}
                    <span ng-if="vm.data.status === 5">{{ vm.data.route }}</span>
                </div>
            </div>
        </div>

        <div class="row" ng-if="vm.data.image">
            <div class="col-sm-12">
                <strong>Station Image:</strong><br><br>
                <div>
                    <img ng-src="./{{ vm.data.image }}" />
                </div><br>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 form-group">
                <strong>Route Name:</strong>
                <div class="text-secondary">{{ vm.data.routeName }}</div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 form-group">
                <strong>Latitude:</strong>
                <div class="text-secondary">{{ vm.data.lat }}</div>
            </div>

            <div class="col-sm-6 form-group">
                <strong>Longitude:</strong>
                <div class="text-secondary">{{ vm.data.lng }}</div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 form-group">
                <strong>Created:</strong>
                <div class="text-secondary">{{ vm.data.create | amDateFormat: 'L' }}</div>
            </div>

            <div class="col-sm-6 form-group" ng-if="vm.data.edit">
                <strong>Edit:</strong>
                <div class="text-secondary">{{ vm.data.edit | amDateFormat: 'L' }}</div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <strong>Station Description:</strong>
                <div class="text-secondary">
                    {{ vm.data.description }}
                </div>
            </div>
        </div>
        <br><br>
        <div ng-if="vm.data.history.length">
            <div class="row">
                <div class="col-sm-12">
                    <h1>Station History Report:</h1>
                </div>
            </div>

            <hr id="hr_line" ng-repeat-start="history in vm.data.history">
            <img ng-src="./{{ history.image }}" ng-if="history.image" />

            <div class="row"><br>
                <div class="col-sm-12">
                    <strong>Station Description:</strong>
                    <div class="text-secondary">{{ history.description || 'No description' }}</div>
                </div>
            </div>

            <div class="row" ng-repeat-end>
                <div class="col-sm-6"><br>
                    <strong>Created:</strong>
                    <div class="text-secondary">{{ history.create | amDateFormat: 'L' }}</div>
                </div>

                <div class="col-sm-6" ng-if="history.edit">
                    <strong>Edit:</strong>
                    <div class="text-secondary">{{ history.edit | amDateFormat: 'L' }}</div>
                </div>
            </div>
        </div>
    </div>

    <div ng-if="vm.shownList" class="overflow-scroll">
        <table>
            <tr>
                <th ng-if="!vm.printing">
                    <input type="checkbox" ng-model="vm.allSelected" ng-change="vm.toggleSelection()" />
                </th>
                <th>Picture</th>
                <th ng-if="appId() === 'master'">App ID</th>
                <th>Marker ID</th>
                <th>Description</th>
                <th>Status</th>
                <th ng-click="reverse = sort === 'routeName' ? !reverse : false; sort = 'routeName'" class="sortable">
                    Route Name
                    <i class="fa fa-sort-asc" ng-if="sort === 'routeName' && !reverse"></i>
                    <i class="fa fa-sort-desc" ng-if="sort === 'routeName' && reverse"></i>
                    <i class="fa fa-sort" ng-if="sort !== 'routeName'"></i>
                </th>
                <th>Lat</th>
                <th>Long</th>
                <th>Create</th>
                <th></th>
                <th>User</th>
                <th>Company</th>
                <th ng-if="!vm.printing"></th>
            </tr>


            <tbody ng-repeat="(index, item) in vm.shownList">
                <tr>
                    <td ng-if="!vm.printing">
                        <input type="checkbox" ng-model="vm.selections[index]" ng-change="vm.toggleSelection(index)" />
                    </td>
                    <td>
                        <img ng-src="./{{ item.image }}" height="50" ng-if="item.image" />
                    </td>
                    <td ng-if="appId() === 'master'">{{ item.appId }}</td>
                    <td>{{ item.markerId }}</td>
                    <td>{{ item.description || 'No description' }}</td>
                    <td>
                        <span class="label label-good" ng-if="item.status == 1">
                            Good
                        </span>
                        <span class="label label-bad" ng-if="item.status == 2">
                            Bad
                        </span>
                        <span class="label label-ugly" ng-if="item.status == 3">
                            Ugly
                        </span>
                        <span class="label label-planned" ng-if="item.status == 4">
                            Planned
                        </span>
                        <span class="label label-route" ng-if="item.status == 5">
                            Route {{ item.route }}
                        </span>
                    </td>
                    <td ng-if="vm.editingIndex !== index + 1 || vm.historyIndex">{{ item.routeName }}</td>
                    <td ng-if="vm.editingIndex === index + 1 && !vm.historyIndex">
                        <input class="form-control" ng-model="vm.editingItem.routeName" />
                    </td>
                    <td>{{ item.lat }}</td>
                    <td>{{ item.lng }}</td>
                    <td>{{ item.create | amDateFormat: 'L' }}</td>
                    <td>{{ item.edit | amDateFormat: 'L' }}</td>
                    <td class="avatar-group">
                        <div class="avatar small" ng-style="{ 'background-image': 'url(./' + item.user.image + ')' }"></div>
                        <div class="avatar-name small">
                            <strong>{{ item.user.username }}</strong>
                        </div>
                    </td>
                    <td>{{ item.user.company }}</td>
                    <td ng-if="!vm.printing">
                        <a class="btn btn-primary" ui-sref="app.report({ id: item._id, appId: appId() })">
                            <i class="fa fa-eye"></i>
                        </a>
                    </td>
                </tr>

                <!-- History -->
                <tr ng-repeat="(historyIndex, history) in item.history">
                    <td ng-if="!vm.printing">
                        <input type="checkbox" ng-model="vm.selections[index]" disabled />
                    </td>
                    <td class="history-image">
                        <img ng-src="./{{ history.image }}" height="40" ng-if="history.image" />
                    </td>
                    <td></td>
                    <td>{{ history.description || 'No description' }}</td>
                    <td>
                        <span class="label label-good" ng-if="history.status == 1">
                            Good
                        </span>
                        <span class="label label-bad" ng-if="history.status == 2">
                            Bad
                        </span>
                        <span class="label label-ugly" ng-if="history.status == 3">
                            Ugly
                        </span>
                        <span class="label label-ugly" ng-if="history.status == 4">
                            Ugly
                        </span>
                        <span class="label label-ugly" ng-if="history.status == 5">
                            Ugly
                        </span>
                    </td>
                    <td colspan="2"></td>
                    <td>{{ history.create | amDateFormat: 'L' }}</td>
                    <td>{{ history.edit | amDateFormat: 'L' }}</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-sm-12 btn-group">
        <a class="btn btn-primary" ng-click="vm.export()">
            <i class="fa fa-download"></i>
            Export
        </a>
        <div ng-if="vm.selections()">
            <a class="btn btn-primary green-btn" ui-sref="app.report({ id: vm.selections(), appId: appId() })">
                <i class="fa fa-eye"></i>
            </a>
        </div>
    </div>

    <div class="clearfix"></div>
</div>
