<style>

    #map {
        overflow: visible;
        padding: 0;
        z-index: 2;
        margin-left: -99px;
        min-width: calc(100% - -99px);
        height: calc(100% - 9px);
        width: 100%;
    }

    div#fooltip {
        width: 391px;
        height: 357px;

    }

    .gm-style>div>div>div>div {
        color: rgb(255, 105, 127) !important;
        font-size: 20px !important;
        line-height: 14px !important;
    }

    div#infobox {
        text-align: center;
    }

    h3#marker-id {
        text-align: center;
    }

    a, button, code, div, input, label, li, p, pre, select, span, svg, table, td, textarea, th, ul {
        border-radius: 12 !important;
    }

</style>


<div class="sidebar-group ">
    <div>SEARCH</div>
    <div class="search-area">
        <input type="text" class="form-control search-stations" ng-model="mainCtrl.searchText" ng-change="mainCtrl.search()" placeholder="Search Stations"
        />
    </div>
</div>
<div class="sidebar-group">
    <h4>FILTERS</h4>
    <label>
        <input type="checkbox" ng-model="mainCtrl.filters.good" ng-change="mainCtrl.filterMarker()" /> Good
    </label>
    <br />
    <label>
        <input type="checkbox" ng-model="mainCtrl.filters.ugly" ng-change="mainCtrl.filterMarker()" /> Ugly
    </label>
    <br />
    <label>
        <input type="checkbox" ng-model="mainCtrl.filters.bad" ng-change="mainCtrl.filterMarker()" /> Bad
    </label>
    <br>
    <label>
        <input type="checkbox" ng-model="mainCtrl.filters.planned" ng-change="mainCtrl.filterMarker()" /> Planned
    </label>
    <br />
</div>
<div class="sidebar-group">
    <h4>ROUTE FILTERS</h4>
    <label ng-repeat-start="(index, item) in mainCtrl.routeNames">
        <input type="checkbox" ng-model="mainCtrl.routeFilters[index]" ng-change="mainCtrl.filterRoute()" /> {{ item }}
    </label>
    <br ng-repeat-end />
</div>