.main-nav {
    position: relative;
    z-index: 1;
}

.navbar-header {
    background-color: #3a3b5e;
    height: 40px;
    line-height: 40px;
    margin: 0;
    padding: 0;
    width: 100%;
}

.navbar-header a {
    display: inline-block;
    margin: 0 15px;
    line-height: 40px;
}

.navbar-header a:link,
.navbar-header>a:visited {
    color: #c9c9c9;
}

.navbar-header a:hover,
.navbar-header>a.active {
    color: #56dce0;
}

.page-header .btn {
    display: inline-block;
    float: none;
}