<div class="navbar-header" ng-controller="HeaderController">
    <div class="col-md-6 text-left">
        <a>
            <i class="fa fa-bars"></i>
        </a>
    </div>
    <div class="col-md-6 text-right">
        <a>
            <i class="fa fa-envelope-o"></i>
        </a>
        <a>
            <i class="fa fa-user"></i>
        </a>
        <a>
            <i class="fa fa-sign-out"></i>
        </a>
    </div>
    <!--<a ng-click="clearData()" ng-show="server">Clear Data</a>
        <a ng-click="toggleHistory()" ng-show="server">Toggle History</a>
        <span ng-show="server">
        <span class="switchery switchery-default on-adding-new-marker" ng-class="{'active': onAddingNewMarker}" ng-click="toggleOnAddingNewMarker()">
            <small></small>
        </span> Move marker-->
    <!--</span>-->
</div>

<div class="page-header">
    <div class="row">
        <div class="col-sm-4">
            <div class="page-header__title">
                Map View
            </div>
            <div class="page-header__description">
                Here you can see the vehicles on the map view
            </div>
        </div>
        <div class="col-sm-4 text-center">
            <button class="btn round-btn">
                <i class="fa fa-map"></i>
            </button>
            <button class="btn round-btn">
                <i class="fa fa-copy"></i>
            </button>
            <button class="btn round-btn">
                <i class="fa fa-th-list"></i>
            </button>
        </div>
    </div>
</div>