<section class="page" data-ng-controller="DashboardCtrl">
    <section class="row ui-section">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <div class="card bg-white">
                        <div class="card-image">
                            <img src="assets/images/assets/600_400-1.jpg">
                            <span class="card-title">Data Stream 1</span>
                        </div>
                        <div class="card-content">
                            <a class="card-button pull-right"
                               href="javascript:;">
                                <button class="btn btn-icon btn-icon-round btn-floating btn-danger">
                                    <i class="material-icons">help_outline</i>
                                </button>
                            </a>
                            <p>
                                <ul>
                                    <li>Display Map with Pulse</li>
                                    <li>GPS Data coming from Phant - Longitude and Latitude</li>
                                </ul>
                            </p>
                        </div>
                        <div class="card-action">
                            <a ui-sref="geo/pulse({id: 1})">Data Stream 1</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card bg-white">
                        <div class="card-image">
                            <img src="assets/images/assets/600_400-2.jpg">
                            <span class="card-title">Data Stream 2</span>
                        </div>
                        <div class="card-content">
                            <a class="card-button pull-right"
                               href="javascript:;">
                                <button class="btn btn-icon btn-icon-round btn-floating btn-danger">
                                    <i class="material-icons">help_outline</i>
                                </button>
                            </a>
                            <p>
                                <ul>
                                    <li>Display Map with Pulse</li>
                                    <li>GPS Data coming from Phant - Longitude and Latitude</li>
                                </ul>
                            </p>
                        </div>
                        <div class="card-action">
                            <a ui-sref="geo/pulse({id: 2})">Data Stream 2</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card bg-white">
                        <div class="card-image">
                            <img src="assets/images/assets/600_400-3.jpg">
                            <span class="card-title">Data Stream 3</span>
                        </div>
                        <div class="card-content">
                            <a class="card-button pull-right"
                               href="javascript:;">
                                <button class="btn btn-icon btn-icon-round btn-floating btn-danger">
                                    <i class="material-icons">help_outline</i>
                                </button>
                            </a>
                            <p>
                                <ul>
                                    <li>Display Map with Face Marker - only 1 value</li>
                                    <li>3 States for the Face Marker // 0 = Green, 1 = Red, 2 = Yellow</li>
                                </ul>
                            </p>
                        </div>
                        <div class="card-action">
                            <a ui-sref="geo/pulse({id: 3})">Data Stream 3</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="card bg-dark-light">
                        <div class="card-content">
                            <span class="card-title">Data Stream 1 Table Statistics</span>
                            <p>Data Stream 1</p>
                        </div>
                        <div class="card-action">
                            <a ui-sref="geo/table({id: 1})">TABLE</a>
                            <a href="javascript:;">CHARTS</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card bg-primary">
                        <div class="card-content">
                            <span class="card-title">Data Stream 1 Table Statistics</span>
                            <p>Data Stream 1</p>
                            </div>
                        <div class="card-action">
                            <a ui-sref="geo/table({id: 2})">TABLE</a>
                            <a href="javascript:;">CHARTS</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card bg-info">
                        <div class="card-content">
                            <span class="card-title">Data Stream 1 Table Statistics</span>
                            <p>Data Stream 1</p>
                        </div>
                        <div class="card-action">
                            <a ui-sref="geo/table({id: 3})">TABLE</a>
                            <a href="javascript:;">CHARTS</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


</section>
