<div class="sidebar-group" ng-if="detailCtrl.marker.user">
    <div class="avatar small" ng-style="{ 'background-image': 'url(./' + detailCtrl.marker.user.image + ')' }"></div>
    <div class="avatar-name small">
        <strong>{{ detailCtrl.marker.user.username }}</strong>
    </div>
    <div class="clearfix"></div>
</div>

<div class="sidebar-group">
    <h3>
        <i class="fa fa-map-marker"></i> {{ detailCtrl.marker.markerId }} {{detailCtrl.marker.status}}
        <span class="pull-right label label-good" ng-if="detailCtrl.marker.status == 1">
            Good
        </span>
        <span class="pull-right label label-bad" ng-if="detailCtrl.marker.status == 2">
            Bad
        </span>
        <span class="pull-right label label-ugly" ng-if="detailCtrl.marker.status == 3">
            Ugly
        </span>
        <span class="pull-right label label-good" ng-if="detailCtrl.marker.status == 4">
            Planned
        </span>
        <span class="pull-right label label-bad" ng-if="detailCtrl.marker.status == 5">
            Route
        </span>
    </h3>
</div>
<div class="sidebar-group" ng-if="detailCtrl.marker.image">
    <h4>Image:</h4>
    <p>
        <img ng-src="{{ detailCtrl.marker.image }}" class="img-responsive" />
    </p>
</div>
<div class="sidebar-group">
    <h4>Description:</h4>
    <p>
        {{ detailCtrl.marker.description }}
        <i ng-if="!detailCtrl.marker.description">
            No description!
        </i>
    </p>
</div>
<div class="sidebar-group">
    <h4>Position:</h4>
    <p>
        Latitude: {{ detailCtrl.marker.lat }}
        <br><br>
        Longitude {{ detailCtrl.marker.lng }}
    </p>
</div>

<div class="sidebar-group" ng-if="detailCtrl.marker.history.length">
    <div class="row">
        <div class="col-sm-12">
            <h1>History:</h1>
        </div>
    </div>

    <hr ng-repeat-start="history in detailCtrl.marker.history">
    <img ng-src="./{{ history.image }}" ng-if="history.image" />

    <div class="row">
        <div class="col-sm-12">
            <strong>Description:</strong>
            <div class="text-secondary">{{ history.description || 'No description' }}</div>
        </div>
    </div>

    <div class="row" ng-repeat-end>
        <div class="col-sm-6">
            <strong>Create:</strong>
            <div class="text-secondary">{{ history.create | amDateFormat: 'L' }}</div>
        </div>

        <div class="col-sm-6" ng-if="history.edit">
            <strong>Edit:</strong>
            <div class="text-secondary">{{ history.edit | amDateFormat: 'L' }}</div>
        </div>
    </div>
</div>