<style>
    .page-header.navbar .page-logo {
        color: #f3f5f7;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 31px;
        letter-spacing: 2px;
        line-height: 57px;
        text-shadow: 0 0 10px rgba(0, 0, 0, .3);
        width: 251px;
        margin-left: -8px;
        height: 15px;
    }

    td,
    th {
        padding: 21px 13px;
        color: #c1c1c1;
        font-weight: 900;
        font-size: initial;
        color: #ffffff;
    }

    img.ng-scope {
        width: 83px;
        height: 83px;
    }

    td {
        padding: 14px 8px;
        color: #c1c1c1;
        font-weight: 900;
        font-size: initial;
        color: #ffffff;
        white-space: normal;
    }

</style>

<div class="page-main overflow-scroll">
    <p style="display:none">
        Filter:
        <span class="filter label label-good"
              ng-class="{'filter-disabled': !vm.filters.good}"
              ng-click="vm.filters.good = !vm.filters.good; vm.filterMarker()">Good</span>

        <span class="filter label label-ugly"
              ng-class="{'filter-disabled': !vm.filters.ugly}"
              ng-click="vm.filters.ugly = !vm.filters.ugly; vm.filterMarker()">Ugly</span>

        <span class="filter label label-bad"
              ng-class="{'filter-disabled': !vm.filters.bad}"
              ng-click="vm.filters.bad = !vm.filters.bad; vm.filterMarker()">Bad</span>

        <span class="filter label label-planned"
              ng-class="{'filter-disabled': !vm.filters.planned}"
              ng-click="vm.filters.planned = !vm.filters.planned; vm.filterMarker()">Planned</span>
    </p>

    <table ng-init="sort = 'create'; reverse = true">
        <tr>
            <th ng-click="reverse = sort === 'image' ? !reverse : false; sort = 'image'"
                class="sortable">
                Picture
                <i class="fa fa-sort-asc"
                   ng-if="sort === 'image' && !reverse"></i>
                <i class="fa fa-sort-desc"
                   ng-if="sort === 'image' && reverse"></i>
                <i class="fa fa-sort"
                   ng-if="sort !== 'image'"></i>
            </th>

            <th ng-click="reverse = sort === 'markerId' ? !reverse : false; sort = 'markerId'"
                class="sortable">
                Marker ID
                <i class="fa fa-sort-asc"
                   ng-if="sort === 'markerId' && !reverse"></i>
                <i class="fa fa-sort-desc"
                   ng-if="sort === 'markerId' && reverse"></i>
                <i class="fa fa-sort"
                   ng-if="sort !== 'markerId'"></i>
            </th>

            <th ng-click="reverse = sort === 'description' ? !reverse : false; sort = 'description'"
                class="sortable">
                Description
                <i class="fa fa-sort-asc"
                   ng-if="sort === 'description' && !reverse"></i>
                <i class="fa fa-sort-desc"
                   ng-if="sort === 'description' && reverse"></i>
                <i class="fa fa-sort"
                   ng-if="sort !== 'description'"></i>
            </th>

            <th ng-click="reverse = sort === 'status' ? !reverse : false; sort = 'status'"
                class="sortable">
                Status
                <i class="fa fa-sort-asc"
                   ng-if="sort === 'status' && !reverse"></i>
                <i class="fa fa-sort-desc"
                   ng-if="sort === 'status' && reverse"></i>
                <i class="fa fa-sort"
                   ng-if="sort !== 'status'"></i>
            </th>

            <th ng-click="reverse = sort === 'routeName' ? !reverse : false; sort = 'routeName'"
                class="sortable">
                Route Name
                <i class="fa fa-sort-asc"
                   ng-if="sort === 'routeName' && !reverse"></i>
                <i class="fa fa-sort-desc"
                   ng-if="sort === 'routeName' && reverse"></i>
                <i class="fa fa-sort"
                   ng-if="sort !== 'routeName'"></i>
            </th>

            <th ng-click="reverse = sort === 'create' ? !reverse : false; sort = 'create'"
                class="sortable">
                Created
                <i class="fa fa-sort-asc"
                   ng-if="sort === 'create' && !reverse"></i>
                <i class="fa fa-sort-desc"
                   ng-if="sort === 'create' && reverse"></i>
                <i class="fa fa-sort"
                   ng-if="sort !== 'create'"></i>
            </th>

            <th ng-click="reverse = sort === 'user.username' ? !reverse : false; sort = 'user.username'"
                class="sortable">
                User
                <i class="fa fa-sort-asc"
                   ng-if="sort === 'user.username' && !reverse"></i>
                <i class="fa fa-sort-desc"
                   ng-if="sort === 'user.username' && reverse"></i>
                <i class="fa fa-sort"
                   ng-if="sort !== 'user.username'"></i>
            </th>

            <th ng-click="reverse = sort === 'user.company' ? !reverse : false; sort = 'user.company'"
                class="sortable">
                Company
                <i class="fa fa-sort-asc"
                   ng-if="sort === 'user.company' && !reverse"></i>
                <i class="fa fa-sort-desc"
                   ng-if="sort === 'user.company' && reverse"></i>
                <i class="fa fa-sort"
                   ng-if="sort !== 'user.company'"></i>
            </th>

            <th>Modify</th>
        </tr>

        <tbody ng-repeat="item in vm.list | orderBy : sort : reverse"
               ng-if="vm.filters[vm.statuses[item.status]] && routeFiltersByName[item.routeName]
               && (item.markerId.toLowerCase().indexOf($root.search.toLowerCase()) > -1 || !$root.search)">
            <tr>
                <td>
                    <img ng-src="{{ './' + item.image }}"
                         height="50"
                         ng-if="!item.uploadImage && item.image" />

                    <img ng-src="{{ item.uploadImage }}"
                         height="50"
                         ng-if="item.uploadImage" />

                    <div ng-show="vm.editingId === item._id && !vm.historyId">
                        <a id="drop-down"
                           class="btn btn-primary"
                           ng-click="vm.upload(item._id)">
                            <span ng-if="!item.image">Upload</span>
                            <span ng-if="item.image">U</span>
                        </a>
                    </div>
                </td>

                <td ng-if="vm.editingId !== item._id || vm.historyId">{{ item.markerId }}</td>
                <td ng-if="vm.editingId === item._id && !vm.historyId">
                    <input class="form-control"
                           ng-model="vm.editingItem.markerId" />
                </td>

                <td ng-if="vm.editingId !== item._id || vm.historyId">
                    <pre class="app-pre"
                         ng-bind-html="item.description || 'No description'"></pre>
                </td>
                <td ng-if="vm.editingId === item._id && !vm.historyId">
                    <textarea class="form-control"
                              ng-model="vm.editingItem.description"></textarea>
                </td>

                <td ng-if="vm.editingId !== item._id || vm.historyId">
                    <span class="label label-good"
                          ng-if="item.status == 1"> Good </span>
                    <span class="label label-ugly"
                          ng-if="item.status == 3"> Ugly </span>
                    <span class="label label-bad"
                          ng-if="item.status == 2"> Bad </span>
                    <span class="label label-planned"
                          ng-if="item.status == 4"> Planned </span>
                </td>
                <td ng-if="vm.editingId === item._id && !vm.historyId"
                    class="page-main__status">
                    <select ng-model="vm.editingItem.status"
                            class="form-control">
                        <option value="1">Good</option>
                        <option value="3">Ugly</option>
                        <option value="2">Bad</option>
                        <option value="4">Planned</option>
                    </select>
                </td>

                <td ng-if="vm.editingId !== item._id || vm.historyId">{{ item.routeName }}</td>
                <td ng-if="vm.editingId === item._id && !vm.historyId">
                    <input class="form-control"
                           ng-model="vm.editingItem.routeName" />
                </td>

                <td>{{ item.create | amDateFormat: 'MM.DD.YYYY h:mm:ss a' }}</td>

                <td class="avatar-group">
                    <div class="avatar-name small">
                        <strong>{{ item.user.username }}</strong>
                    </div>
                </td>

                <td>{{ item.user.company }}</td>

                <td>
                    <div ng-if="(!vm.editingId || vm.editingId === item._id) && !vm.historyId"
                         class="page-main__actions">
                        <a class="btn btn-primary"
                           ng-click="vm.addHistory(item._id)"
                           ng-if="(vm.editingId !== 1 || vm.historyId)">
                            <i class="fa fa-plus"></i>
                        </a>

                        <a class="btn btn-warning"
                           ng-if="vm.editingId !== item._id || vm.historyId"
                           ng-click="vm.edit(item._id)">
                            <i class="fa fa-pencil"></i>
                        </a>

                        <a class="btn btn-success"
                           ng-if="vm.editingId === item._id && !vm.historyId"
                           ng-click="vm.save()">
                            <i class="fa fa-save"></i>
                        </a>

                        <a class="btn btn-warning"
                           ng-if="vm.editingId === item._id && !vm.historyId"
                           ng-click="vm.cancel()">
                            <i class="fa fa-times"></i>
                        </a>

                        <a class="btn btn-danger"
                           ng-click="vm.delete(item._id)"
                           ng-if="vm.editingId !== item._id || vm.historyId">
                            <i class="fa fa-trash"></i>
                        </a>

                        <a class="btn btn-primary"
                           ui-sref="app.report({ id: item._id, appId: appId() })">
                            <i class="fa fa-eye"></i>
                        </a>
                    </div>
                </td>
            </tr>

            <!-- History -->
            <tr ng-repeat="(historyIndex, history) in item.history | limitTo: (vm.editingId === item._id && 3) || 2"
                ng-if="history.create !== item.create
                       && (!vm.historyId || vm.editingId !== item._id || (vm.editingId === item._id && vm.historyId === history._id))">
                <td class="history-image">
                    <img ng-src="./{{ history.image }}"
                         height="40"
                         ng-if="!history.uploadImage && history.image" />

                    <img ng-src="{{ history.uploadImage }}"
                         height="40"
                         ng-if="history.uploadImage" />

                    <div ng-if="vm.editingId === item._id && vm.historyId === history._id">
                        <a class="btn btn-primary"
                           ng-click="vm.upload(item._id, history._id)">
                            <span ng-if="!history.image">Upload</span>
                            <span ng-if="history.image">Update</span>
                        </a>
                    </div>
                </td>

                <td></td>

                <td ng-if="vm.editingId !== item._id || vm.historyId !== history._id">
                    <pre class="app-pre"
                         ng-bind-html="history.description || 'No description'"></pre>
                </td>
                <td ng-if="vm.editingId === item._id && vm.historyId === history._id">
                    <textarea class="form-control"
                              ng-model="vm.editingHistoryItem.description"></textarea>
                </td>

                <td ng-if="vm.editingId !== item._id || vm.historyId !== history._id">
                    <span class="label label-good"
                          ng-if="history.status == 1"> Good </span>
                    <span class="label label-ugly"
                          ng-if="history.status == 3"> Ugly </span>
                    <span class="label label-bad"
                          ng-if="history.status == 2"> Bad </span>
                    <span class="label label-planned"
                          ng-if="history.status == 4"> Planned </span>
                </td>

                <td ng-if="vm.editingId === item._id && vm.historyId === history._id"
                    class="page-main__status">
                    <select ng-model="vm.editingHistoryItem.status"
                            class="form-control">
                        <option value="1">Good</option>
                        <option value="3">Ugly</option>
                        <option value="2">Bad</option>
                    </select>
                </td>

                <td></td>

                <td>{{ history.create | amDateFormat: 'DD.MM.YYYY h:mm:ss a' }}</td>

                <td colspan="2"></td>

                <td>
                    <div ng-if="(!vm.editingId || (vm.editingId === item._id && vm.historyId === history._id))"
                         class="page-main__actions">
                        <a class="btn btn-warning"
                           ng-if="vm.editingId !== item._id || vm.historyId !== history._id"
                           ng-click="vm.edit(item._id, history._id)">
                            <i class="fa fa-pencil"></i>
                        </a>
                        <a class="btn btn-success"
                           ng-if="vm.editingId === item._id && vm.historyId === history._id"
                           ng-click="vm.save()">
                            <i class="fa fa-save"></i>
                        </a>
                        <a class="btn btn-warning"
                           ng-if="vm.editingId === item._id && vm.historyId === history._id"
                           ng-click="vm.cancel()">
                            <i class="fa fa-times"></i>
                        </a>
                        <a class="btn btn-danger"
                           ng-click="vm.delete(item._id, history._id)"
                           ng-if="vm.editingId !== item._id || vm.historyId !== history._id">
                            <i class="fa fa-trash"></i>
                        </a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
