<!DOCTYPE html>
<html ng-app="App">

<head>
    <meta charset="UTF-8">
    <title>NEW APP</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="./lib/dark.css" />
    <link rel="stylesheet" href="./lib/project.css" />
    <link rel="stylesheet" href="./lib/button.css" />
    <link rel="stylesheet" href="./lib/main.css" />
    <link rel="stylesheet" href="./lib/main.media.css" />
    <link rel="stylesheet" href="./app.css" />
</head>

<body ng-controller="GlobalController as globalCtrl" ng-class="'container-' + globalCtrl.state.current.name">
    <div class="page-container">
        <div ng-include="'./modules/header/header.html'"></div>

        <div class="page-main-sidebar" ng-class="'page-' + globalCtrl.state.current.name">
            <div ui-view></div>
        </div>

        <div ng-controller="MapController as mapCtrl" ng-class="{'map-hide': globalCtrl.noMapStates.indexOf(globalCtrl.state.current.name) > -1}"
            class="app-panel app-panel--map">
            <div class="app-panel--map-overview">
                <div class="app-panel--map-overview-title">
                    Map overview
                </div>
                <span ng-cloak>
                    {{ globalCtrl.subtitle }}
                </span>
            </div>
            <div id="map" ng-init="mapCtrl.showMap()" ng-class="globalCtrl.filters"></div>

            <div id="capture-bar">
                <div id="capture-container">
                    <div id="capture-close">
                        <i class="fa fa-times" ng-click="globalCtrl.closeCapture()"></i>
                    </div>
                    <div id="capture"></div>
                </div>
            </div>
            <div class="app-panel-map-sidebar">
                <div class="app-panel-map-sidebar-title app-panel-map-sidebar-group">
                    Route 2256
                </div>
                <div class="app-panel-map-sidebar-group">
                    <div class="row">
                        <div class="col-sm-6 app-panel-map-sidebar-group-title">
                            Status
                        </div>
                        <div class="col-sm-6">
                            <div class="app-panel-map-sidebar-group-label">
                                Analize
                                <i class="fa fa-angle-right"></i>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            HEALTH
                        </div>
                        <div class="col-sm-6 text-right">
                            WARNING
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            TOTAL ALERTS
                        </div>
                        <div class="col-sm-6 text-right">
                            88
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            CONNECTED DEVICES
                        </div>
                        <div class="col-sm-6 text-right">
                            24/32
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            RECEIVED DATA
                        </div>
                        <div class="col-sm-6 text-right">
                            396 Gb
                        </div>
                    </div>
                </div>
                <div class="app-panel-map-sidebar-group" ng-if="mapCtrl.chart">
                    <div class="row">
                        <div class="sidebar-chart-label col-sm-6 col-sm-offset-6">
                            TOTAL:
                            <span class="grey">(64)</span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <canvas id="doughnut" class="chart chart-doughnut" chart-data="mapCtrl.chart.data" chart-labels="mapCtrl.chart.labels">
                            </canvas>
                        </div>

                        <div class="col-sm-6 form-group" ng-cloak>
                            <div class="sidebar-chart-label">
                                <div class="box" ng-style="{ 'background-color': mapCtrl.chart.colors[0] }"></div>
                                GOOD:
                                <span class="grey">({{ mapCtrl.chart.data[0] }})</span>
                            </div>
                            <div class="sidebar-chart-label">
                                <div class="box" ng-style="{ 'background-color': mapCtrl.chart.colors[1] }"></div>
                                BAD:
                                <span class="grey">({{ mapCtrl.chart.data[1] }})</span>
                            </div>
                            <div class="sidebar-chart-label">
                                <div class="box" ng-style="{ 'background-color': mapCtrl.chart.colors[2] }"></div>
                                UGLY:
                                <span class="grey">({{ mapCtrl.chart.data[2] }})</span>
                            </div>
                            <div class="sidebar-chart-label">
                                <div class="box" ng-style="{ 'background-color': mapCtrl.chart.colors[3] }"></div>
                                PLANNED:
                                <span class="grey">({{ mapCtrl.chart.data[3] }})</span>
                            </div>
                            <div class="sidebar-chart-label">
                                <div class="box" ng-style="{ 'background-color': mapCtrl.chart.colors[4] }"></div>
                                ROUTE:
                                <span class="grey">({{ mapCtrl.chart.data[4] }})</span>
                            </div>
                        </div>

                        <div class="col-sm-12 form-group">
                            <canvas id="bar" class="chart chart-bar" chart-data="mapCtrl.chart.data" chart-labels="mapCtrl.chart.labels">
                            </canvas>
                        </div>

                        <div class="col-sm-12 form-group">
                            <canvas id="line" class="chart chart-line" chart-data="mapCtrl.chart.routeData" chart-labels="mapCtrl.chart.routeLabels"
                                chart-options="mapCtrl.chart.routeOptions">
                            </canvas>
                        </div>
                    </div>
                </div>

                <div class="app-panel-map-sidebar-group">
                    <div class="app-panel-map-sidebar-group-title">
                        Last Activity
                    </div>
                    <div class="app-panel-map-sidebar-group-content">
                        Lorem lipsum dolor sit amet
                        <div class="app-panel-map-sidebar-group-content-date">
                            Jul 1, at 2:54pm
                        </div>
                    </div>
                    <div class="app-panel-map-sidebar-group-content">
                        Lorem lipsum dolor sit amet
                        <div class="app-panel-map-sidebar-group-content-date">
                            Jul 1, at 2:54pm
                        </div>
                    </div>
                    <div class="app-panel-map-sidebar-group-content">
                        Lorem lipsum dolor sit amet
                        <div class="app-panel-map-sidebar-group-content-date">
                            Jul 1, at 2:54pm
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        window.apiUrl = './api/';
        window.authUrl = './auth/';
    </script>

    <!-- end .page -->
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCPAdIAHZgYcfps-Sn3UnnbIVP_J0Estq0"></script>

    <script src='lib/jquery.min.js'></script>
    <script src='lib/lodash.min.js'></script>
    <script src='lib/angular.min.js'></script>
    <script src='lib/angular-route.min.js'></script>
    <script src='lib/angular-sanitize.min.js'></script>
    <script src='lib/angular-ui-router.min.js'></script>
    <script src='lib/ui-bootstrap-tpls.min.js'></script>
    <script src='lib/Chart.min.js'></script>
    <script src='lib/moment.min.js'></script>
    <script src='lib/angular-moment.min.js'></script>

    <script src='lib/angular-chart.min.js'></script>
    <script src='./app.js'></script>
    <script src='./modules/global.js'></script>
    <script src='./modules/map.js'></script>
    <script src='./modules/main/main.js'></script>
    <script src='./modules/detail/detail.js'></script>
    <script src='./modules/chart/chart.js'></script>
    <script src='./modules/markers/markers.js'></script>
    <script src='./modules/route-markers/route-markers.js'></script>
    <script src='./modules/marker-confirm/marker-confirm.js'></script>
    <script src='./modules/upload/upload.js'></script>
    <script src='./modules/report/report.js'></script>
    <script src='./modules/profile/profile.js'></script>
    <script src='./modules/auth/auth.js'></script>
</body>

</html>