@import url(https://fonts.googleapis.com/css?family=Open+Sans);
*,
*:after,
*:before {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-size: 13px;
}

body {
    background: #596B88;
    color: #96a2b4;
    font: normal 1em/1.5 "Open Sans";
    margin: 0;
}

table {
    width: 100%;
}

td,
th {
    padding: 5px 15px;
}

th.sortable {
    cursor: pointer;
    user-select: none;
    white-space: nowrap;
}

th .fa-sort {
    opacity: .4;
}

.app-panel {
    margin: 20px;
    margin-bottom: 60px;
}

.app-panel--map {
    height: calc(100vh - 84px);
    margin: 0;
    position: relative;
}

.app-panel--map-overview {
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    color: #79859b;
    font-size: 14px;
    height: 80px;
    line-height: 20px;
    padding-bottom: 30px;
    padding-top: 30px;
    position: relative;
    z-index: 4;
}

.app-panel--map-overview-title {
    border-right: #dddee2 1px solid;
    color: #3b4963;
    display: inline-block;
    font-size: 16px;
    padding: 0 20px 0 40px;
    text-transform: uppercase;
}

.app-panel--map-overview span {
    padding-left: 20px;
}

.app-panel-map-sidebar {
    background: #f8fafc;
    bottom: 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    line-height: 40px;
    overflow-y: auto;
    position: absolute;
    right: 0;
    top: 80px;
    width: 380px;
    z-index: 3;
}

.app-panel-map-sidebar-title {
    color: #425065;
    font-size: 16px;
}

.app-panel-map-sidebar-group {
    border-bottom: #e4e7ed 1px solid;
    padding: 30px;
}

.app-panel-map-sidebar-group-title {
    color: #00ccbb;
    font-size: 16px;
}

.app-panel-map-sidebar-group-label {
    background: #00ccbb;
    border-radius: 5px !important;
    color: white;
    display: block;
    float: right;
    height: 30px;
    line-height: 30px;
    padding: 0 15px;
}

.app-panel-map-sidebar-group-content {
    border-bottom: #e4e7ed 1px solid;
    padding: 15px 30px;
    margin: 0 -30px;
    line-height: 30px;
}

.app-panel-map-sidebar-group-content-date {
    color: #97a2b6;
    font-size: 10px;
}

.app-panel-map-sidebar .box {
    border-radius: 3px;
    display: inline-block;
    height: 10px;
    width: 10px;
}

.sidebar-chart-label {
    line-height: 30px;
}

.mapboxgl-ctrl-top-right,
.nav-main,
#map {
    width: calc(100vw - 380px);
    max-width: calc(100% - 380px);
    height: calc(100vh - 164px);
}

#capture-bar {
    background: #f8fafc;
    position: absolute;
    right: -380px;
    top: 80px;
    transition: right .3s ease-out;
    z-index: 99;
    width: 380px;
}

#capture-bar.show {
    right: 0;
}

#capture-container {
    padding: 10px;
    position: relative;
}

#capture-close {
    text-align: right;
    color: white;
    cursor: pointer;
    font-size: 20px;
    text-shadow: 0 0 5px rgba(0, 0, 0, .4);
}

#capture-close:hover {
    color: #00ccbb;
}

#capture {
    margin-top: 10px;
}

.btn,
.form-control {
    border-radius: 0;
}

/*
  *************************************************************
*  Navigation
  *************************************************************
*/

.nav-main {
    position: relative;
    z-index: 6;
    margin: -4px -2px;
}

.nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-list li {
    float: left;
    height: 40px;
    padding: 10px 10px 0;
    position: relative;
    width: 33.3333%;
}

.nav-item {
    background: #284a58;
    bottom: 0;
    color: white;
    cursor: pointer;
    height: 36%;
    left: 0;
    margin-bottom: 0;
    padding-bottom: 5px;
    padding-top: 20px;
    position: absolute;
    width: 100%;
}

.label-text {
    left: 5px;
    position: absolute;
    top: 2px;
}

.page-container {
    background: #1e2e4a;
    height: 100vh;
    margin: 0 auto;
    padding-left: 380px;
    padding-top: 84px;
    position: relative;
    width: 100%;
}

/*
  *************************************************************
*  Mapbox
  *************************************************************
*/

#map {
    overflow: visible;
    padding: 0;
    z-index: 2;
}

#map .fa-map-marker {
    font-size: 16px;
}

#map .fa-map-marker:hover {
    font-size: 20px;
    color: orange;
    cursor: pointer;
}

.mapboxgl-ctrl-attrib,
.mapboxgl-ctrl-logo {
    display: none !important;
}

.mapboxgl-canvas-container {
    height: 350px;
    overflow: hidden;
    position: relative;
}

.mapboxgl-ctrl-top-right {
    bottom: -115px;
    left: 50%;
    margin-top: 15px;
    max-width: 100vw;
    padding: 0 22px;
    position: fixed;
    top: auto;
    transform: translateX(-50%);
    width: 100vw;
    z-index: 2;
}

.container-detail .mapboxgl-ctrl-top-right {
    display: none;
}

.mapboxgl-ctrl-top-right .mapboxgl-ctrl {
    margin: 0;
    width: 100%;
    max-width: 100%;
}

.load {
    display: none;
}

.good .marker-1 {
    display: block;
}

.bad .marker-2 {
    display: block;
}

.ugly .marker-3 {
    display: block;
}

.label-good {
    background: #49b5d5;
}

.label-bad {
    background: #e25b5a;
}

.label-ugly {
    background: #f6c92e;
}

.label-planned {
    background: #46bfbd;
}

.label-route {
    background: #fdb45c;
}

.page-main__status {
    min-width: 120px;
}

.page-main__actions {
    white-space: nowrap;
    text-align: right;
}

/*
  *************************************************************
*  Navigation Style
  *************************************************************
*/

.page-tab-content {
    box-shadow: 0 0 4px rgba(0, 0, 0, .3);
    padding: 10px;
}

.page-header.navbar {
    background-color: #203657;
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    height: 84px;
    left: 0;
    right: 0;
    position: absolute;
    padding-left: 30px;
}

.page-header.navbar .page-logo {
    color: #f3f5f7;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 26px;
    height: 84px;
    letter-spacing: 2px;
    line-height: 84px;
    text-shadow: 0 0 10px rgba(0, 0, 0, .3);
    width: 380px;
}

.page-header.navbar .page-logo .logo-default {
    margin: 0 15px 0 0;
}

.page-header .top-menu li {
    color: #64728c;
    cursor: pointer;
    font-size: 14px;
    height: 53px;
    line-height: 53px;
    margin-left: 40px;
    padding-top: 0;
    padding-bottom: 0;
    text-shadow: 0 0 5px rgba(0, 0, 0, .3);
    text-transform: uppercase;
}

.page-header .top-menu li.active {
    color: #f3f5f7;
}

.page-header .top-menu li .fa {
    padding-left: 5px;
}

.page-header .top-menu .dropdown-menu li {
    line-height: 24px;
    height: auto;
    text-shadow: none;
    margin-left: 0;
}

.page-header .top-menu .nav.navbar-nav.auth {
    border-left: #1c3050 3px solid;
    height: 84px;
    line-height: 84px;
    width: 300px;
}

.page-main-sidebar {
    bottom: 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, .4);
    color: #f3f5f7;
    font-size: 14px;
    left: 0;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    top: 84px;
    width: 380px;
    z-index: 4;
}

.container-chart .page-container,
.container-markers .page-container,
.container-route-markers .page-container,
.container-reports .page-container,
.container-report .page-container,
.container-register .page-container,
.container-login .page-container,
.container-profile .page-container {
    padding: 15px 0 0;
    overflow: unset;
}

.container-chart .footer {
    display: none;
}

.page-main-sidebar.page-chart {
    padding: 30px;
}

.page-main-sidebar.page-chart,
.page-main-sidebar.page-markers,
.page-main-sidebar.page-route-markers,
.page-main-sidebar.page-reports,
.page-main-sidebar.page-report,
.page-main-sidebar.page-register,
.page-main-sidebar.page-login,
.page-main-sidebar.page-profile {
    background: #1e2e4a;
    overflow: unset;
    position: relative;
    width: 100%;
}

.page-register,
.page-login {
    padding: 50px;
}

.page-main-sidebar input[type="text"] {
    background: #192642;
    border: none;
    border-radius: 5px !important;
    color: #f3f5f7;
    margin: 10px 0;
    appearance: none;
    -webkit-appearance: none;
}

.page-main-sidebar ::placeholder {
    color: #4f5b71;
}

.page-main-sidebar h4 {
    color: #66738a;
    font-size: 11px;
    text-transform: uppercase;
}

.page-main-sidebar .sidebar-group {
    border-bottom: #1b2b45 3px solid;
    padding: 30px;
}

.page-main-sidebar .search-area {
    padding: 10px 0;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown-user .dropdown-toggle>img {
    height: 54px;
    width: 54px;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown-user .dropdown-toggle {
    padding-top: 20px;
    padding-left: 30px;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown>.dropdown-toggle>i {
    padding-top: 15px;
    padding-left: 10px;
    color: #7a889c;
}

.footer {
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    color: #79859b;
    font-size: 14px;
    height: 80px;
    left: 380px;
    line-height: 80px;
    padding-bottom: 0;
    padding-top: 0;
    position: absolute;
    z-index: 2;
}

.footer-copyright {
    color: #3b4963;
    font-size: 16px;
    text-transform: uppercase;
}

.form-control {
    height: 45px;
}

.nav-list li {
    padding: 5px 5px 0;
    overflow: hidden;
}

.nav-list li:first-child {
    padding-left: 1px;
}

.nav-list li:last-child {
    padding-right: 1px;
}

.nav-list li .nav-content {
    background: #2f353b;
    color: #96a2b4;
    cursor: pointer;
    height: 60px;
    padding: 8px;
    text-align: center;
}

.nav-list li.active .nav-content {
    background: #292929;
    color: white;
}

@media (max-width: 767px) {
    body {
        padding: 0 10px;
    }
    .mapboxgl-ctrl-top-right {
        padding: 0 32px;
    }
}

.padding {
    padding: 10px;
}

.map-hide {
    opacity: 0;
    z-index: -1;
    position: fixed;
}

.nowrap {
    white-space: nowrap;
}

.history-image {
    padding-left: 20px;
}

.padding {
    padding: 10px;
}

.text-secondary {
    opacity: 0.5;
}

a {
    cursor: pointer;
}

.gm-style>div>div>div>div {
    color: rgb(255, 105, 127) !important;
    font-size: 20px !important;
    line-height: 47px !important;
}

.img-responsive {
    width: auto;
}

.avatar-group {
    width: 200px;
}

div.avatar {
    border-radius: 60px !important;
    background-color: #333;
    background-size: cover;
    background-position: center;
    float: left;
    height: 60px;
    margin-right: 8px;
    overflow: hidden;
    width: 60px;
}

div.avatar.small {
    border-radius: 40px !important;
    height: 40px;
    width: 40px;
}

div.avatar-name {
    float: left;
    line-height: 60px;
}

div.avatar-name.small {
    line-height: 40px;
}

td {
    white-space: nowrap;
}

td div {
    display: inline-block !important;
    float: none !important;
    overflow: hidden;
    text-overflow: ellipsis;
}

.margin-right-bottom {
    display: inline-block;
    margin-right: 8px;
    margin-bottom: 8px;
}

.overflow-scroll {
    overflow: scroll;
}

.app-autocomplete {
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
}

.app-autocomplete-item {
    border-bottom: lightgray 1px dashed;
    cursor: pointer;
    padding: 10px 15px;
}

.app-autocomplete-item:last-child {
    border: none;
}

.app-autocomplete-item:hover {
    background: whitesmoke;
}

.header-username {
    display: inline-block !important;
    height: 53px !important;
    line-height: 53px !important;
    margin-left: 0 !important;
    overflow: hidden;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 185px !important;
}

.table-no-padding {
    margin-left: -13px;
    margin-right: -13px;
}

.admin {
    background: white;
    padding-top: 10px;
}

.admin-row {
    line-height: 40px;
    height: 40px;
    border-bottom: lightgrey 1px dashed;
}

.admin-edit {
    padding-top: 10px;
    padding-bottom: 10px;
}

.auth {
    margin: auto;
    width: 380px;
}

.app-pre {
    background: transparent;
    color: inherit;
    border: none;
    padding: 0;
    font-size: inherit;
    white-space: pre-wrap;
}

.td-time {
    white-space: nowrap;
}