<style>
    div#whole-format {
        margin-left: 43px;
    }

    td, th {
        padding: 21px 13px;
        color: #c1c1c1;
        font-weight: 900;
        font-size: initial;
        color: #ffffff;
    }

    img.ng-scope {
        width: 83px;
        height: 83px;
    }

    a.btn.btn-primary {
        margin-left: 41px;
        background-color: #61bd64;
    }

    div#space {
        color: #192e4c;
        padding: 39px;
    }

        td {
        padding: 14px 13px;
        color: #c1c1c1;
        font-weight: 900;
        font-size: initial;
        color: #ffffff;
        white-space: normal;
    }

    img {

        width: 300px;
    }
</style>

<div class="rm_padding">
    <!-- Details -->
    <div id="whole-format"
         ng-if="vm.data"
         class="col-lg-12 ">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-4">
                    <h1>Station Report | Current</h1>
                </div>

                <div class="col-sm-3">
                    <h1>Station Report | History</h1>
                </div>
            </div>

            <div class="row"
                 ng-repeat="data in vm.data">
                <div class="col-sm-4">
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <strong>Station Marker ID:</strong>
                            <div class="text-secondary">{{ data.markerId }}</div>
                        </div>

                        <div class="col-sm-6 form-group">
                            <strong>Created:</strong>
                            <div class="text-secondary">{{ data.create | amDateFormat: 'DD.MM.YYYY h:mm:ss a' }}</div>
                        </div>
                    </div>

                    <strong>Status:</strong>

                    <p>
                        <div class="label label-good"
                             ng-if="data.status == 1"> Good </div>
                        <div class="label label-bad"
                             ng-if="data.status == 2"> Bad </div>
                        <div class="label label-ugly"
                             ng-if="data.status == 3"> Ugly </div>
                        <div class="label label-planned"
                             ng-if="data.status == 4"> Planned </div>
                        <div class="label label-route"
                             ng-if="data.status == 5">Route {{ history.route }}</div>
                    </p>

                    <div ng-if="data.image">
                        <strong>Station Image:</strong><br /><br />
                        <div>
                            <img ng-src="./{{ data.image }}" />
                        </div>
                    </div>

                    <strong>Marker is located in Route:</strong>
                    <div class="text-secondary">{{ data.routeName }}</div>

                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <strong>Latitude:</strong>
                            <div class="text-secondary">{{ data.lat }}</div>
                        </div>

                        <div class="col-sm-6 form-group">
                            <strong>Longitude:</strong>
                            <div class="text-secondary">{{ data.lng }}</div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <strong>Station Description:</strong>
                            <div class="text-secondary">
                                {{ data.description }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div ng-if="data.history.length">
                        <br ng-if="index > 0">
                        <hr id="hr_line"
                            ng-repeat-start="(index, history) in data.history | limitTo: 2"
                            ng-if="index > 0">

                        <img ng-src="./{{ history.image }}"
                             ng-if="history.image && index > 0" />

                        <div class="row"
                             ng-if="index > 0">
                            <br />
                            <div class="col-sm-6">
                                <strong>Station Description:</strong>
                                <div class="text-secondary">{{ history.description || 'No description' }}</div>
                            </div>
                        </div>

                        <strong ng-if="history.image && index > 0">Status:</strong>

                        <div ng-if="index > 0">
                            <div class="label label-good"
                                 ng-if="history.status == 1"> Good </div>
                            <div class="label label-bad"
                                 ng-if="history.status == 2"> Bad </div>
                            <div class="label label-ugly"
                                 ng-if="history.status == 3"> Ugly </div>
                            <div class="label label-planned"
                                 ng-if="history.status == 4"> Planned </div>
                            <div class="label label-route"
                                 ng-if="history.status == 5">Route {{ history.route }}</div>
                        </div>

                        <br ng-if="index > 0">

                        <div class="row"
                             ng-repeat-end
                             ng-if="index > 0">
                            <div class="col-sm-6"><br />
                                <strong>Created:</strong>
                                <div class="text-secondary">{{ history.create | amDateFormat: 'DD.MM.YYYY h:mm:ss a' }}</div>
                            </div>

                            <div class="col-sm-6"
                                 ng-if="history.edit">
                                <strong>Edit:</strong>
                                <div class="text-secondary">{{ history.edit | amDateFormat: 'DD.MM.YYYY h:mm:ss a' }}</div>
                            </div>

                            <div id="space">--</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- List -->
    <div ng-if="vm.shownList"
         class="overflow-scroll">
        <p style="display:none"> Filter: <span class="filter label label-good"
                  ng-class="{'filter-disabled': !vm.filters.good}"
                  ng-click="vm.filters.good = !vm.filters.good; vm.filterMarker()">Good</span>
            <span class="filter label label-bad"
                  ng-class="{'filter-disabled': !vm.filters.bad}"
                  ng-click="vm.filters.bad = !vm.filters.bad; vm.filterMarker()">Bad</span>

            <span class="filter label label-ugly"
                  ng-class="{'filter-disabled': !vm.filters.ugly}"
                  ng-click="vm.filters.ugly = !vm.filters.ugly; vm.filterMarker()">Ugly</span>

            <span class="filter label label-planned"
                  ng-class="{'filter-disabled': !vm.filters.planned}"
                  ng-click="vm.filters.planned = !vm.filters.planned; vm.filterMarker()">Planned</span>
        </p>

        <table ng-init="sort = 'create'; reverse = true">
            <tr>
                <th ng-if="!vm.printing">
                    <input type="checkbox"
                           ng-model="vm.allSelected"
                           ng-change="vm.toggleSelection()" />
                </th>

                <th ng-click="reverse = sort === 'image' ? !reverse : false; sort = 'image'"
                    class="sortable"> Picture
                    <i class="fa fa-sort-asc"
                       ng-if="sort === 'image' && !reverse"></i>
                    <i class="fa fa-sort-desc"
                       ng-if="sort === 'image' && reverse"></i>
                    <i class="fa fa-sort"
                       ng-if="sort !== 'image'"></i>
                </th>

                <th ng-click="reverse = sort === 'markerId' ? !reverse : false; sort = 'markerId'"
                    class="sortable">
                    Marker ID
                    <i class="fa fa-sort-asc"
                       ng-if="sort === 'markerId' && !reverse"></i>
                    <i class="fa fa-sort-desc"
                       ng-if="sort === 'markerId' && reverse"></i>
                    <i class="fa fa-sort"
                       ng-if="sort !== 'markerId'"></i>
                </th>

                <th ng-click="reverse = sort === 'description' ? !reverse : false; sort = 'description'"
                    class="sortable">
                    Description
                    <i class="fa fa-sort-asc"
                       ng-if="sort === 'description' && !reverse"></i>
                    <i class="fa fa-sort-desc"
                       ng-if="sort === 'description' && reverse"></i>
                    <i class="fa fa-sort"
                       ng-if="sort !== 'description'"></i>
                </th>

                <th ng-click="reverse = sort === 'status' ? !reverse : false; sort = 'status'"
                    class="sortable">
                    Status
                    <i class="fa fa-sort-asc"
                       ng-if="sort === 'status' && !reverse"></i>
                    <i class="fa fa-sort-desc"
                       ng-if="sort === 'status' && reverse"></i>
                    <i class="fa fa-sort"
                       ng-if="sort !== 'status'"></i>
                </th>

                <th ng-click="reverse = sort === 'routeName' ? !reverse : false; sort = 'routeName'"
                    class="sortable">
                    Route Name
                    <i class="fa fa-sort-asc"
                       ng-if="sort === 'routeName' && !reverse"></i>
                    <i class="fa fa-sort-desc"
                       ng-if="sort === 'routeName' && reverse"></i>
                    <i class="fa fa-sort"
                       ng-if="sort !== 'routeName'"></i>
                </th>

                <th ng-click="reverse = sort === 'create' ? !reverse : false; sort = 'create'"
                    class="sortable">
                    Created
                    <i class="fa fa-sort-asc"
                       ng-if="sort === 'create' && !reverse"></i>
                    <i class="fa fa-sort-desc"
                       ng-if="sort === 'create' && reverse"></i>
                    <i class="fa fa-sort"
                       ng-if="sort !== 'create'"></i>
                </th>

                <th ng-click="reverse = sort === 'user.username' ? !reverse : false; sort = 'user.username'"
                    class="sortable">
                    User
                    <i class="fa fa-sort-asc"
                       ng-if="sort === 'user.username' && !reverse"></i>
                    <i class="fa fa-sort-desc"
                       ng-if="sort === 'user.username' && reverse"></i>
                    <i class="fa fa-sort"
                       ng-if="sort !== 'user.username'"></i>
                </th>

                <th ng-click="reverse = sort === 'user.company' ? !reverse : false; sort = 'user.company'"
                    class="sortable">
                    Company
                    <i class="fa fa-sort-asc"
                       ng-if="sort === 'user.company' && !reverse"></i>
                    <i class="fa fa-sort-desc"
                       ng-if="sort === 'user.company' && reverse"></i>
                    <i class="fa fa-sort"
                       ng-if="sort !== 'user.company'"></i>
                </th>

                <th></th>
            </tr>

            <tbody ng-repeat="(index, item) in vm.list | orderBy : sort : reverse"
                   ng-if="vm.filters[vm.statuses[item.status]] && routeFiltersByName[item.routeName]
                          && (item.markerId.toLowerCase().indexOf($root.search.toLowerCase()) > -1 || !$root.search)">
                <tr>
                    <td ng-if="!vm.printing">
                        <input type="checkbox"
                               ng-model="vm.selected[item._id]"
                               ng-change="vm.toggleSelection(item._id)" />
                    </td>

                    <td>
                        <img ng-src="{{ './' + item.image }}"
                             height="50"
                             ng-if="!item.uploadImage && item.image" />

                        <img ng-src="{{ item.uploadImage }}"
                             height="50"
                             ng-if="item.uploadImage" />
                    </td>

                    <td>{{ item.markerId }}</td>

                    <td>
                        <pre class="app-pre"
                             ng-bind-html="item.description || 'No description'"></pre>
                    </td>

                    <td>
                        <span class="label label-good"
                              ng-if="item.status == 1"> Good </span>
                        <span class="label label-bad"
                              ng-if="item.status == 2"> Bad </span>
                        <span class="label label-ugly"
                              ng-if="item.status == 3"> Ugly </span>
                        <span class="label label-planned"
                              ng-if="item.status == 4"> Planned </span>
                    </td>

                    <td>{{ item.routeName }}</td>

                    <td>{{ item.create | amDateFormat: 'MM.DD.YYYY h:mm:ss a' }}</td>

                    <td class="avatar-group">
                        <div class="avatar-name small">
                            <strong>{{ item.user.username }}</strong>
                        </div>
                    </td>

                    <td>{{ item.user.company }}</td>

                    <td>
                        <div class="page-main__actions">
                            <a class="btn btn-primary"
                               ui-sref="app.report({ id: item._id, appId: appId() })">
                                <i class="fa fa-eye"></i>
                            </a>
                        </div>
                    </td>
                </tr>

                <!-- History -->
                <tr ng-repeat="(historyIndex, history) in item.history | limitTo: (vm.editingIndex === index + 1 && 3) || 2"
                    ng-if="(historyIndex !== 0 || (vm.editingIndex === index + 1 && vm.historyIndex === 1))
                        && (historyIndex !== 1 || (vm.editingIndex !== index + 1 || vm.historyIndex !== 1))">
                    <td ng-if="!vm.printing"></td>

                    <td class="history-image">
                        <img ng-src="./{{ history.image }}"
                             height="40"
                             ng-if="!history.uploadImage && history.image" />
                        <img ng-src="{{ history.uploadImage }}"
                             height="40"
                             ng-if="history.uploadImage" />
                        <div ng-if="vm.editingIndex === index + 1 && vm.historyIndex === historyIndex + 1">
                            <a class="btn btn-primary"
                               ng-click="vm.upload(index, historyIndex + 1)">
                                <span ng-if="!history.image">Upload</span>
                                <span ng-if="history.image">Update</span>
                            </a>
                        </div>
                    </td>
                    <td></td>
                    <td ng-if="vm.editingIndex !== index + 1 || vm.historyIndex !== historyIndex + 1">
                        <pre class="app-pre"
                             ng-bind-html="history.description || 'No description'"></pre>
                    </td>
                    <td ng-if="vm.editingIndex !== index + 1 || vm.historyIndex !== historyIndex + 1">
                        <span class="label label-good"
                              ng-if="history.status == 1"> Good </span>
                        <span class="label label-bad"
                              ng-if="history.status == 2"> Bad </span>
                        <span class="label label-ugly"
                              ng-if="history.status == 3"> Ugly </span>
                        <span class="label label-planned"
                              ng-if="history.status == 4"> Planned </span>
                    </td>
                    <td ng-if="vm.editingIndex === index + 1 && vm.historyIndex === historyIndex + 1">
                        <textarea class="form-control"
                                  ng-model="vm.editingHistoryItem.description"></textarea>
                    </td>
                    <td ng-if="vm.editingIndex === index + 1 && vm.historyIndex === historyIndex + 1"
                        class="page-main__status">
                        <select ng-model="vm.editingHistoryItem.status"
                                class="form-control">
                            <option value="1">Good</option>
                            <option value="2">Bad</option>
                            <option value="3">Ugly</option>
                        </select>
                    </td>
                    <td></td>
                    <td>{{ history.create | amDateFormat: 'DD.MM.YYYY h:mm:ss a' }}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>

    <script>
        function myFunction() {
            location.reload();
        }
    </script>

    <!-- History -->
    <table>
        <tbody>
            <tr ng-repeat="(historyIndex, history) in item.history | limitTo: 1"
                ng-if="vm.historyIndex !== 1">
                <td class="history-image">
                    <img ng-src="./{{ history.image }}"
                         height="40"
                         ng-if="history.image" />
                </td>

                <td colspan="2"></td>

                <td>
                    <span class="label label-good"
                          ng-if="history.status == 1"> Good </span>
                    <span class="label label-bad"
                          ng-if="history.status == 2"> Bad </span>
                    <span class="label label-ugly"
                          ng-if="history.status == 3"> Ugly </span>
                    <span class="label label-planned"
                          ng-if="history.status == 4"> Planned </span>
                    <span class="label label-route"
                          ng-if="history.status == 5"> Route {{ history.route }} </span>
                </td>

                <td></td>

                <td>{{ history.create | amDateFormat: 'MM.DD.YYYY , h:mm:ss a' }}</td>

                <td>{{ history.edit | amDateFormat: 'MM.DD.YYYY , h:mm:ss a' }}</td>

                <td></td>
            </tr>
        </tbody>
    </table>
</div>

<div class="col-sm-12 btn-group"> <br />
    <a class="btn btn-primary"
       ng-click="vm.export()">
        <i class="fa fa-download"></i>
        Print, Export, Save
    </a>

    <div ng-if="vm.selections()">
        <a class="btn btn-primary green-btn"
           ui-sref="app.report({ id: vm.selections(), appId: appId() })">
            <i class="fa fa-eye"></i>
        </a>
    </div>
</div>

<div class="clearfix"></div>
