<div class="auth">
    <h4>Update password</h4>
    <div id="user-pass"
         class="row">
        <div class="col-sm-6 form-group">
            <strong>New password:</strong>
            <input class="form-control"
                   ng-model="vm.password"
                   placeholder="Password"
                   type="password" />
        </div>
    </div>

    <button class="btn btn-danger"
            ng-click="vm.submit()">Submit</button>
</div>
