<div class="page-container">
    <div class="page-content">
        <div class="map-container">
            <div id="map"></div>
            <div id='distance' class='distance-container'></div>
        </div>
        <div id="sidebar-1"></div>
        <div id="sidebar-2"></div>
        <div id="sidebar-3"></div>
    </div>
</div>