<div class="col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
        <div>APP</div>

        <select class="form-control"
                ng-change="$ctrl.onSelect()"
                ng-model="$ctrl.appId">
                <option disabled
                        value="">Select an app</option>

                <option value="master" ng-if="$ctrl.showMaster">Master</option>

                <option ng-repeat="item in $ctrl.list"
                        value="{{ item._id }}">{{ item.name }}</option>
        </select>
</div>
