<md-dialog>
    <div class="page">

        <div class="row ui-section">
            <div class="col-lg-8 clearfix">
                <h2 class="section-header">New pulse</h2>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Lat</label>
                    <input type="number"
                           class="form-control"
                           ng-model="data.lat">
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label>Lon</label>
                    <input type="number"
                           class="form-control"
                           ng-model="data.lon">
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label>Value 1</label>
                    <input class="form-control"
                           ng-model="data.value_1">
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label>Value 2</label>
                    <input class="form-control"
                           ng-model="data.value_2">
                </div>
            </div>

            <div class="col-md-6">
                <md-button type="submit"
                           class="md-raised btn-w-md md-primary"
                           ng-click="submit()">Submit</md-button>
            </div>
        </div>
    </div>
</md-dialog>
