<style>
    .calculation-box {
        height: 75px;
        width: 150px;
        position: absolute;
        bottom: 40px;
        left: 10px;
        background-color: rgba(255, 255, 255, .9);
        padding: 15px;
        text-align: center;
    }

    p {
        font-family: 'Open Sans';
        margin: 0;
        font-size: 13px;
    }

    .md-select-menu-container {
        z-index: 9999;
    }

</style>

<div class="page">

    <div class="row ui-section">
        <div class="col-md-2 clearfix">
            <h2 class="section-header">Geo fence</h2>
        </div>

        <div class="col-md-2">
            <md-input-container class="md-block"
                                ng-if="list.length">
                <label>Select saved fence</label>
                <md-select ng-model="index">
                    <!-- 
                        ng-click = view({})
                        view function is $scope.view
                        in fence.controller.js
                        so you can read the code there
                     -->
                    <md-option value="new"
                               ng-click="view({})">New Fence</md-option>

                    <md-option value="all"
                               ng-click="view({name: 'All fences'}, 'all')">All Fences</md-option>

                    <!-- 
                       ng-repeat
                       equal to for ... in
                       so
                       ng-repeat = (id, item) in list
                       equal to
                       for (id in $scope.list) {
                           item = $scope.list[id]
                           ....
                           Do something here
                           ....
                       }
                       ng-click = view...
                       is explained above
                    -->
                    <md-option ng-value="id"
                               ng-repeat="(id, item) in list"
                               ng-click="view(item, id)">
                        <!-- 
                            display name
                            by {{ item.name }}
                            item is $scope.list[id]
                            explained above
                         -->
                        {{ item.name }} {{ item.id }}
                    </md-option>
                </md-select>
                <div class="md-errors-spacer"></div>
            </md-input-container>
        </div>

        <div class="col-md-2">
            <md-input-container class="md-block">
                <label for="name">Name</label>

                <!-- 
                    ng-model="fence.name"
                    fence.name is $scope.fence.name in the controller file
                    so everything here
                    in the template
                    is the scope value in the controller
                    if you write {{ a }}
                    it will take $scope.a from the controller
                    ng-model="a" doing the same
                    ng-click = save() call the $scope.save() when click
                    same for remove
                 -->
                <input type="text"
                       id="name"
                       ng-model="fence.name">
            </md-input-container>
        </div>

        <div class="col-md-2 color-picker-container">
            <label>Color</label>
            <color-picker ng-model="fence.color"></color-picker>
        </div>

        <div class="col-md-4"
             style="padding-top: 16px">
            <md-button type="button"
                       class="md-raised btn-w-md md-block"
                       ng-click="save()">Submit</md-button>
            <md-button type="button"
                       class="md-raised btn-w-md md-block"
                       ng-click="view({name: 'All fences'}, 'all')">All fences</md-button>
        </div>

        <div class="clearfix"></div>

        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <section class="panel panel-default">
                        <div class="panel-body">
                            <div id="calculated-area"></div>
                            <div class="map-custom-control">
                                <md-button type="button"
                                           class="md-raised md-primary btn-w-md md-block"
                                           ng-click="showPulse = !showPulse">
                                    <span ng-if="showPulse">Hide pulses</span>
                                    <span ng-if="!showPulse">Show pulses</span>
                                </md-button>
                                <md-button type="button"
                                           class="md-raised btn-w-md md-block"
                                           ng-class="{'md-primary': !activated, 'md-danger': activated}"
                                           ng-click="activated = !activated">
                                    <span ng-if="showPulse">Activate</span>
                                </md-button>
                            </div>
                            <div id='map'
                                 ng-class="{'show-pulse': showPulse, 'pulse-inactive': !activated}"
                                 style="height: 600px"></div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>

</div>
