<div class="page page-profile">
    <header class="profile-header">
        <div class="profile-img">
            <img alt="{{ profile.image }}"
                 ng-src="{{ getProfileImage(profile.image) }}"
                 ng-click="edit.active = !edit.active"
                 class="img-circle">

            <div class="profile-popup"
                 ng-init="edit.active = false"
                 ng-class="{active: edit.active}">
                <div class="profile-default"
                     ng-repeat="img in defaultAvatars"
                     ng-click="profile.image = img; edit.active = false">

                    <img alt="{{ img }}"
                         ng-src="{{ img }}"
                         class="img-circle">
                </div>
                <div class="mt"
                     uploader="uploader">
                    <input type="file"
                           accept=".png, .jpg, .jpeg"
                           nv-file-select=""
                           uploader="uploader" />
                </div>
            </div>
        </div>
    </header>

    <div class="divider divider-lg"></div>
    <div class="row ui-section">
        <div class="col-lg-8 clearfix">
            <h2 class="section-header">Bio</h2>
        </div>

        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div ng-if="!edit.bio">{{ profile.bio || 'No information' }}</div>

                    <textarea class="form-control"
                              rows="6"
                              ng-if="edit.bio"
                              ng-model="profile.bio"></textarea>

                    <a ng-if="!edit.bio"
                       href="javascript:"
                       ng-click="edit.bio = true">Edit</a>

                    <div class="clearfix"></div>

                    <button class="btn btn-primary mt"
                            ng-click="save()">Save</button>
                </div>
            </div>
        </div>
    </div>


</div>
