<div class="page pulse">
    <div class="row ui-section">
        <div class="col-lg-12 clearfix">
            <div layout="row"
                 layout-align="space-between center">
                <h2 class="section-header">Pulse <span ng-if="loadingAll">Loading...</span>
                </h2>
                <md-chips ng-if="active"
                          readonly="true">
                    <md-chip>Active: "{{ active }}"</md-chip>
                </md-chips>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4"
                     ng-repeat="(index, item) in loading track by $index">
                    <div class="card pulse-card"
                         ng-class="{'bg-dark-light': !error[index], 'bg-danger': error[index]}">
                        <div class="card-image"
                             ng-click="upload(index)">
                            <div class="card-image-text">Edit Image</div>
                            <div class="card-image-content"
                                 ng-style="{'background-image': 'url(' + apiUrl.split('/api').join('') + 'pulse/' + fileList[index].split('.json').join('.png') + '#' + hash[index] + ')'}"></div>
                        </div>
                        <div class="card-chart">
                            <div ng-if="chartData.length">
                                <canvas class="chart chart-line"
                                        chart-data="chartData[index]"
                                        chart-labels="labels"
                                        chart-options="options">
                                </canvas>
                            </div>
                        </div>
                        <!-- {{ chartData[index] }} <canvas class="card-chart"
                                class="chart chart-line"
                                chart-data="chartData[index]">
                            </canvas> -->
                        <div class="card-content"
                             ng-if="deleting[index]">
                            <span class="card-title">{{ title[index] }}</span>
                            <p>Deleting...</p>
                        </div>
                        <div class="card-content"
                             ng-if="!deleting[index]">
                            <a class="card-title"
                               href="javascript:"
                               ui-sref="geo/pulsetable({id : fileList[index]})">{{ title[index] }}
                                <small ng-if="item">Loading...</small>
                            </a>
                            <p ng-if="error[index]">Error loading data!!!</p>
                            <p ng-repeat="(key, val) in data[index] track by $index"
                               ng-if="val !== ''">
                                <strong>{{ key }}</strong>: {{ val }}</p>
                        </div>
                        <div class="card-action">
                            <a href="javascript:"
                               ng-if="error[index] || data[index]"
                               ng-click="delete(index)">Delete</a>
                            <a href="javascript:"
                               ng-if="error[index] || data[index]"
                               ui-sref="geo/fence({ pulseIndex: index, index: 'new' })">Locate</a>
                            <a href="javascript:"
                               ui-sref="geo/pulsetable({id : fileList[index]})"> Table</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card bg-dark-light pulse-card card-new"
                         uploader="uploader">
                        <div class="card-content">
                            <span class="card-title">New Pulse</span>
                            <p>
                                <input type="file"
                                       accept=".json"
                                       nv-file-select=""
                                       uploader="uploader" />
                                <!-- <a ng-click="newPulse()"
                                   href="javascript:">
                                    <i class="fa fa-plus-circle"></i> Add new pulse
                                </a> -->
                            </p>
                        </div>
                        <div class="card-action"> &nbsp; </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
