<section class="container-fluid with-maxwidth chapter ng-scope"
         ng-controller="nutritionController">

    <div class="row ui-section">
        <div class="col-lg-8 clearfix">
            <h2 class="section-header">LIVE LoRaWAN | Application Server Data</h2>
        </div>
        <div class="col-md-12">
            <article class="article">
                <div class="divider divider-md"></div>
                <md-card class="no-margin-h _md">
                    <md-table-container>
                        <table class="ng-pristine ng-untouched ng-valid md-table ng-isolate-scope ng-not-empty md-row-select">
                            <thead class="md-head ng-scope ng-isolate-scope">
                                <tr class="md-row">
                                    <th class="md-column md-active md-sort">Lon</th>
                                    <th class="md-column md-active md-sort">Lat</th>
                                    <th class="md-column md-active md-sort">Timestamp</th>
                                    <th class="md-column md-active md-sort">Value 1</th>
                                    <th class="md-column md-active md-sort">Value 2</th>
                                    <!-- <th ng-repeat="col in vm.columns"
                                        class="md-column md-active md-sort">{{col}}</th> -->
                                </tr>
                            </thead>
                            <tbody class="md-body">
                                <tr ng-repeat="item in vm.data"
                                    class="md-row ng-scope ng-isolate-scope">
                                    <td class="md-cell">{{ item.lon }}</td>
                                    <td class="md-cell">{{ item.lat }}</td>
                                    <td class="md-cell">{{ item.timestamp }}</td>
                                    <td class="md-cell">{{ item.value_1 }}</td>
                                    <td class="md-cell">{{ item.value_2 }}</td>
                                    <!-- <td class="md-cell"
                                        ng-repeat="col in vm.columns">{{ item[col] }}</td> -->
                                </tr>
                            </tbody>
                        </table>
                    </md-table-container>
                </md-card>
            </article>
        </div>
    </div>
</section>
