<div class="page">

    <div class="row ui-section">
        <div class="col-lg-12 clearfix">
            <div layout="row"
                 layout-align="space-between center">
                <h2 class="section-header">Geo</h2>
                <md-chips ng-if="active"
                          readonly="true">
                    <md-chip>Active: "{{ active }}"</md-chip>
                </md-chips>
            </div>
        </div>
        <table class="table table-bordered table-striped">
            <thead>
                <tr class="bg-dark">
                    <th class="text-center vertical-middle">Name</th>
                    <th class="text-center">Lon</th>
                    <th class="text-center">Lat</th>
                    <th class="text-center vertical-middle">Size</th>
                    <th class="text-center vertical-middle">Timestamp</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="(index, item) in data">
                    <td class="text-center">{{ item.name }}</td>
                    <td class="text-center">
                        <p ng-repeat="latlon in item.data.features[0].geometry.coordinates[0]"
                           class="row">{{ latlon[0] }}</p>
                    </td>
                    <td class="text-center">
                        <p ng-repeat="latlon in item.data.features[0].geometry.coordinates[0]"
                           class="row">{{ latlon[1] }}</p>
                    </td>
                    <td class="text-center">{{ item.area }}</td>
                    <td class="text-center">{{ item.create }}</td>
                    <td class="text-center">
                        <a href="javascript:"
                           ng-click="showGeo(index)">Show</a>
                        <a href="javascript:"
                           ng-click="remove(index)">Remove</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
