<div class="modal-body">
    <h4>Upload image</h4>
    <input type="file" id="fileUpload" />
    <canvas id="canvas-upload" width="0" height="0"></canvas>
    <hr />
    <button class="btn btn-primary" ng-click="vm.submit()">Yes</button>
    <button class="btn btn-default" ng-click="vm.cancel()">No</button>
</div>
