<section class="container-fluid with-maxwidth chapter ng-scope">
    <div class="row ui-section">
        <div class="col-lg-8 clearfix">
            <h2 class="section-header">Users</h2>
        </div>
        <div class="col-md-12">
            <article class="article">
                <div class="divider divider-md"></div>
                <md-card class="no-margin-h _md">
                    <md-table-container>
                        <table class="ng-pristine ng-untouched ng-valid md-table ng-isolate-scope ng-not-empty md-row-select">
                            <thead class="md-head ng-scope ng-isolate-scope">
                                <tr class="md-row">
                                    <th class="md-column md-active md-sort">Email</th>
                                    <th class="md-column md-active md-sort"
                                        colspan="2">Verification Code</th>
                                    <th class="md-column md-active md-sort">Is Admin</th>
                                    <th class="md-column md-active md-sort">Username</th>
                                    <th class="md-column md-active md-sort">Company</th>
                                    <th class="md-column md-active md-sort">Create</th>
                                    <th class="md-column md-active md-sort">Edit</th>
                                    <th class="md-column md-active md-sort">Image</th>
                                    <th class="md-column md-active md-sort">Name</th>
                                    <th class="md-column md-active md-sort">Bio</th>
                                </tr>
                            </thead>
                            <tbody class="md-body">
                                <tr ng-repeat="item in list"
                                    class="md-row ng-scope ng-isolate-scope">
                                    <td class="md-cell">{{ item.email }}</th>
                                    <td class="md-cell"><input type="text"
                                               ng-model="item.verificationCode"
                                               disabled /></td>
                                    <td class="md-cell">
                                        <button class="btn btn-success"
                                                ng-if="item.verificationCode"
                                                ng-click="updateUser(item, 'verificationCode', '')">Verify user</button></th>
                                    <td class="md-cell">
                                        <button class="btn btn-success"
                                                ng-if="!item.isAdmin"
                                                ng-click="updateUser(item, 'isAdmin', true)">Make user admin</button>
                                        <button class="btn btn-danger"
                                                ng-if="item.isAdmin"
                                                ng-click="updateUser(item, 'isAdmin', false)">Cancel user admin role</button></th>
                                    <td class="md-cell">{{ item.username }}</th>
                                    <td class="md-cell"><input type="text"
                                               ng-model="item.company"
                                               ng-change="updateUser(item, 'company', item.company)" /></th>
                                    <td class="md-cell">{{ item.create }}</th>
                                    <td class="md-cell">{{ item.edit }}</th>
                                    <td class="md-cell">{{ item.image }}</th>
                                    <td class="md-cell"><input type="text"
                                               ng-model="item.name"
                                               ng-change="updateUser(item, 'name', item.name)" />{{ item.name }}</th>
                                    <td class="md-cell"><input type="text"
                                               ng-model="item.bio"
                                               ng-change="updateUser(item, 'bio', item.bio)" /></th>
                                </tr>
                            </tbody>
                        </table>
                    </md-table-container>
                </md-card>
            </article>
        </div>
    </div>
</section>
