<div class="page page-tables-datatables page-table" ng-init="page = 0">

    <!-- row -->
    <div class="row">
        <!-- col -->
        <div class="col-md-12">
            <!-- tile -->
            <section class="tile active">

                <!-- tile header -->
                <div class="tile-header dvd dvd-btm">
                    <h1 class="custom-font"><strong>DRIVERS</strong> DATABASE</h1>
                </div>
                <!-- /tile header -->

                <!-- tile body -->
                <div class="tile-body" ng-if="data && sort">
                    <table class="table table-custom dt-responsive dataTable no-footer dtr-inline" id="responsive-usage" width="100%" role="grid"
                        aria-describedby="responsive-usage_info" style="width: 100%;">
                        <thead>
                            <tr role="row">
                                <th ng-class="{'sorting_asc': sort === index && reverse, 'sorting_desc': sort === index && !reverse}" ng-click="sortBy(index)"
                                    ng-repeat="(index, item) in data[0]">{{ index }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr role="row" ng-class="{'odd': rowIndex % 2 === 1, 'even': rowIndex % 2 === 0}" ng-repeat="(rowIndex, row) in data | orderBy: sort: reverse"
                                ng-if="rowIndex >= page * 10 && rowIndex < page * 10 + 10" ui-sref="map_detail({lat: row.lat, lon: row.lon, speed: row.speed, rotate: row.rotate })">
                                <td ng-repeat="(index, item) in data[0]">
                                    {{ row[index] }}
                                </th>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /tile body -->

            </section>
            <!-- /tile -->

        </div>
        <!-- /col -->
    </div>
    <!-- /row -->

    <div class="row">
        <div class="col-sm-5">
            <div class="dataTables_info" id="responsive-usage_info" role="status" aria-live="polite">Showing {{ page * 10 + 1 }} to {{ page * 10 + 10 }} of {{ data.length }} entries</div>
        </div>
        <div class="col-sm-7">
            <div class="dataTables_paginate paging_simple_numbers" id="responsive-usage_paginate">
                <ul class="pagination">
                    <li class="paginate_button previous" ng-class="{'disabled': page === 0}">
                        <a ng-if="page" ng-click="page -= 1">Previous</a>
                        <a ng-if="!page">Previous</a>
                    </li>
                    <li class="paginate_button" ng-if="page > 1">
                        <a ng-click="page = page - 2">{{ page - 1 }}</a>
                    </li>
                    <li class="paginate_button" ng-if="page">
                        <a ng-click="page = page - 1">{{ page }}</a>
                    </li>
                    <li class="paginate_button active">
                        <a>{{ page + 1 }}</a>
                    </li>
                    <li class="paginate_button" ng-if="page + 1 < data.length / 10">
                        <a ng-click="page = page + 1">{{ page + 2 }}</a>
                    </li>
                    <li class="paginate_button" ng-if="page + 2 < data.length / 10">
                        <a ng-click="page = page + 2">{{ page + 3 }}</a>
                    </li>
                    <li class="paginate_button next" ng-class="{'disabled': page < data.length / 10}">
                        <a ng-if="page < data.length / 10" ng-click="page = page + 1">Next</a>
                        <a ng-if="page >= data.length / 10">Next</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>