<div class="sidebar-3d">
    <div id='listings' class='listings'></div>
</div>
<div id="map-3d" class="map-3d" ng-init="boot()" ng-class="{'map--hide-slave': !showLine}">
    <svg id="svg" class="svg-3d" ng-show="showLine">
        <line x1="0" y1="0" x2="0" y2="0" id="line" />
    </svg>
</div>