<header class="clearfix">

    <!-- Branding -->
    <div class="branding">
        <a class="brand" href="index.html">
            <span><strong>MASTER</strong> | SLAVE</span>
        </a>
        <a href="#" class="offcanvas-toggle visible-xs-inline"><i class="fa fa-bars"></i></a>
    </div>
    <!-- Branding end -->
    <!-- Left-side navigation -->
    <ul class="nav-left pull-left list-unstyled list-inline">
        <li class="sidebar-collapse divided-right">
            <a href="#" class="collapse-sidebar">
                <i class="fa fa-outdent"></i>
            </a>
        </li>
        <li class="dropdown divided-right settings">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-cog"></i>
            </a>
            <ul class="dropdown-menu with-arrow animated littleFadeInUp" role="menu">
                <li>
                    <ul class="color-schemes list-inline">
                        <li class="title">Header Color:</li>
                        <li><a href="#" class="scheme-drank header-scheme" data-scheme="scheme-default"></a></li>
                        <li><a href="#" class="scheme-black header-scheme" data-scheme="scheme-black"></a></li>
                        <li><a href="#" class="scheme-greensea header-scheme" data-scheme="scheme-greensea"></a></li>
                        <li><a href="#" class="scheme-cyan header-scheme" data-scheme="scheme-cyan"></a></li>
                        <li><a href="#" class="scheme-lightred header-scheme" data-scheme="scheme-lightred"></a></li>
                        <li><a href="#" class="scheme-light header-scheme" data-scheme="scheme-light"></a></li>
                        <li class="title">Branding Color:</li>
                        <li><a href="#" class="scheme-drank branding-scheme" data-scheme="scheme-default"></a></li>
                        <li><a href="#" class="scheme-black branding-scheme" data-scheme="scheme-black"></a></li>
                        <li><a href="#" class="scheme-greensea branding-scheme" data-scheme="scheme-greensea"></a></li>
                        <li><a href="#" class="scheme-cyan branding-scheme" data-scheme="scheme-cyan"></a></li>
                        <li><a href="#" class="scheme-lightred branding-scheme" data-scheme="scheme-lightred"></a></li>
                        <li><a href="#" class="scheme-light branding-scheme" data-scheme="scheme-light"></a></li>
                        <li class="title">Sidebar Color:</li>
                        <li><a href="#" class="scheme-drank sidebar-scheme" data-scheme="scheme-default"></a></li>
                        <li><a href="#" class="scheme-black sidebar-scheme" data-scheme="scheme-black"></a></li>
                        <li><a href="#" class="scheme-greensea sidebar-scheme" data-scheme="scheme-greensea"></a></li>
                        <li><a href="#" class="scheme-cyan sidebar-scheme" data-scheme="scheme-cyan"></a></li>
                        <li><a href="#" class="scheme-lightred sidebar-scheme" data-scheme="scheme-lightred"></a></li>
                        <li><a href="#" class="scheme-light sidebar-scheme" data-scheme="scheme-light"></a></li>
                        <li class="title">Active Color:</li>
                        <li><a href="#" class="scheme-drank color-scheme" data-scheme="drank-scheme-color"></a></li>
                        <li><a href="#" class="scheme-black color-scheme" data-scheme="black-scheme-color"></a></li>
                        <li><a href="#" class="scheme-greensea color-scheme" data-scheme="greensea-scheme-color"></a></li>
                        <li><a href="#" class="scheme-cyan color-scheme" data-scheme="cyan-scheme-color"></a></li>
                        <li><a href="#" class="scheme-lightred color-scheme" data-scheme="lightred-scheme-color"></a></li>
                        <li><a href="#" class="scheme-light color-scheme" data-scheme="light-scheme-color"></a></li>
                    </ul>
                </li>

                <li>
                    <div class="form-group">
                        <div class="row">
                            <label class="col-xs-8 control-label">Fixed header</label>
                            <div class="col-xs-4 control-label">
                                <div class="onoffswitch lightred small">
                                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="fixed-header" checked="">
                                    <label class="onoffswitch-label" for="fixed-header">
                                        <span class="onoffswitch-inner"></span>
                                        <span class="onoffswitch-switch"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="form-group">
                        <div class="row">
                            <label class="col-xs-8 control-label">Fixed aside</label>
                            <div class="col-xs-4 control-label">
                                <div class="onoffswitch lightred small">
                                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="fixed-aside" checked="">
                                    <label class="onoffswitch-label" for="fixed-aside">
                                        <span class="onoffswitch-inner"></span>
                                        <span class="onoffswitch-switch"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
    <!-- Left-side navigation end -->

    <!-- Search -->
    <div class="search" id="main-search">
        <input type="text" class="form-control underline-input" placeholder="Search...">
    </div>
    <!-- Search end -->


</header>
