<div id="sidebar-wrap">
    <div class="panel-group slim-scroll" role="tablist">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#sidebarNav">
                        Navigation <i class="fa fa-angle-up"></i>
                    </a>
                </h4>
            </div>
            <div id="sidebarNav" class="panel-collapse collapse in" role="tabpanel">
                <div class="panel-body">
                    <!-- ===================================================
                        ================= NAVIGATION Content ===================
                        ==================================================== -->
                    <ul id="navigation">
                        <!-- ui-sref: angular way to define a link (state), see app.js, configRouter function -->
                        <li><a ui-sref="slave"><i class="fa fa-database"></i> <span>Slave Database</span></a></li>
                        <li><a ui-sref="master"><i class="fa fa-database"></i> <span>Master Database</span></a></li>
                        <li><a ui-sref="datatable"><i class="fa fa-database"></i> <span>Data Table</span></a></li>
                        <li><a ui-sref="offenders"><i class="fa fa-exclamation-triangle"></i> <span>Offendering Slave Database</span> <span class="label label-success">new events</span></a></li>
                        <li><a ui-sref="global_map"><i class="fa fa-map-marker"></i> <span>Global Map</span></a></li>
                        <li><a ui-sref="global_map_3d"><i class="fa fa-globe"></i> <span>3D Global Map</span></a></li>
                    </ul>
                    <!--/ NAVIGATION Content -->

                </div>
            </div>
        </div>
    </div>
</div>
