<div class="page page-gallery">
    <div role="tabpanel">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs tabs-dark" role="tablist">
            <li role="presentation">
                <a ui-sref="master">Master</a>
            </li>

            <li role="presentation" class="active">
                <a>Slave</a>
            </li>
        </ul>

        <ul class="mix-controls">
            <li class="select-all">
                <label class="checkbox checkbox-custom checkbox-custom inline-block m-0">
                    <input type="checkbox">
                    <i></i> Select all
                </label>
            </li>
            <li class="mix-control disabled">
                <a href="javascript:;">
                    <i class="fa fa-envelope-o"></i> Email</a>
            </li>
            <li class="mix-control disabled">
                <a href="javascript:;">
                    <i class="fa fa-download"></i> Download</a>
            </li>
            <li class="mix-control disabled">
                <a href="javascript:;">
                    <i class="fa fa-pencil"></i> Edit</a>
            </li>
            <li class="mix-control disabled">
                <a href="javascript:;">
                    <i class="fa fa-trash-o"></i> Delete</a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active">
                <!-- row -->
                <div class="row mix-grid">
                    <div class="gallery" data-lightbox="gallery">
                        <div class="col-md-4 col-sm-6 mb-20 mix_all cats" ng-repeat="list in data">
                            <div class="img-container">
                                <!-- tile widget -->
                                <div class="tile-widget p-30 text-center">
                                    <div class="thumb thumb-xl">
                                        <!--img class="img-circle" src="assets/images/arnold-avatar.jpg" alt=""-->
                                    </div>
                                    <h4 class="mb-0">
                                        <strong>Slave {{ list[0].name }}</strong>
                                    </h4>
                                    <br>
                                    <span class="text-muted">ID {{ list[0].id }}</span>
                                    <br>
                                    <span class="text-muted">Licence {{ list[0].licence }}</span>
                                    <br>
                                    <span class="text-muted">Elapsed time {{ list[0].elapsed_time }}</span>
                                    <br>
                                    <span class="text-muted">Opt read {{ list[0].opt_read }}</span>
                                    <br>
                                    <span class="text-muted">Sensor 1 {{ list[0].sensor_1 }}</span>
                                    <br>
                                    <span class="text-muted">Address {{ list[0].address }}</span>
                                    <br>
                                    <span class="text-muted">Lat {{ list[0].lat }}</span>
                                    <br>
                                    <span class="text-muted">Lon {{ list[0].lon }}</span>
                                    <br>
                                    <span class="text-muted">Speed {{ list[0].speed }}</span>
                                    <br>
                                    <span class="text-muted">Rotate {{ list[0].rotate }}</span>
                                    <br>
                                    <span class="text-muted">{{ list[0].timestamp | amDateFormat: 'LL LT' }}</span>
                                    <br>
                                    <div class="mt-10">
                                        <button class="btn btn-rounded-20 btn-sm btn-greensea">
                                            <a ui-sref="slave_detail({list: 0, index: 0})" style="color: #ffffff;text-decoration: none;">Detail</a>
                                        </button>
                                        <button class="btn btn-rounded-20 btn-sm btn-lightred">Console</button>
                                    </div>

                                </div>
                                <!-- /tile widget -->

                                <!-- tile body -->
                                <div class="tile-body text-center bg-blue p-0">

                                    <ul class="list-inline tbox m-0">
                                        <li class="tcol p-10">
                                            <h2 class="m-0">{{ list[0].elapsed_time }}</h2>
                                            <span class="text-transparent-white">Alive</span>
                                        </li>
                                        <li class="tcol bg-blue dker p-10">
                                            <h2 class="m-0">{{ list[0].opt_read }}</h2>
                                            <span class="text-transparent-white">Opt</span>
                                        </li>
                                        <li class="tcol p-10">
                                            <h2 class="m-0">{{ list[0].sensor_1 }}</h2>
                                            <span class="text-transparent-white">Sensor</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="clearfix"></div>
                    </div>
                </div>
                <!-- /row -->
            </div>
        </div>
    </div>
</div>