<!-- row -->
<div class="row_2">
    <!-- col -->
    <div class="col-md-5" id="map_row">
        <!-- tile -->
        <section class="tile">
            <!-- tile header -->
            <div class="tile-header dvd dvd-btm">
                <h1 class="custom-font">
                    <strong>Slave</strong> Location
                </h1>

                <ul class="controls">
                    <li class="dropdown">
                        <a role="button" tabindex="0" class="dropdown-toggle settings" data-toggle="dropdown">
                            <i class="fa fa-cog"></i>
                            <i class="fa fa-spinner fa-spin"></i>
                        </a>

                        <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                            <li>
                                <a role="button" tabindex="0" class="tile-toggle">
                                    <span class="minimize">
                                        <i class="fa fa-angle-down"></i>&nbsp;&nbsp;&nbsp;Minimize</span>
                                    <span class="expand">
                                        <i class="fa fa-angle-up"></i>&nbsp;&nbsp;&nbsp;Expand</span>
                                </a>
                            </li>
                            <li>
                                <a role="button" tabindex="0" class="tile-refresh">
                                    <i class="fa fa-refresh"></i> Refresh
                                </a>
                            </li>
                            <li>
                                <a role="button" tabindex="0" class="tile-fullscreen">
                                    <i class="fa fa-expand"></i> Fullscreen
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="remove">
                        <a role="button" tabindex="0" class="tile-close">
                            <i class="fa fa-times"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- /tile header -->

            <!-- tile body -->
            <div class="tile-body">
                <div id="basic-map" style="height: 700px;"></div>
            </div>
            <!-- /tile body -->
        </section>
        <!-- /tile -->
    </div>
</div>

<!-- row -->
<div class="row">
    <!-- col -->
    <div class="col-md-7 pull-right">
        <!-- tile -->
        <section class="tile time-simple">
            <!-- tile body -->
            <div class="tile-body">
                <!-- row -->
                <div class="row">
                    <!-- col -->
                    <div class="col-md-9">

                        <p class="text-uppercase text-strong mt-40 mb-0 custom-font">Status</p>
                        <h3 class="text-uppercase text-success mt-0 mb-20">Online</h3>
                    </div>
                    <!-- /col -->
                </div>
                <!-- /row -->
                <!-- row -->
                <div class="row b-t pt-20">
                    <!-- col -->
                    <div class="col-md-3 b-r">
                        <p class="text-uppercase text-strong mb-10 custom-font">Slave Details</p>
                        <ul class="list-unstyled text-default lt mb-20">
                            <li>
                                <strong>ID: {{ data.id }}</strong>
                                <!--a href="javascript:;">35651</a-->
                            </li>
                            <li>{{ data.timestamp | amDateFormat: 'L LT' }}</li>
                            <li>{{ data.name }}</li>
                            <li>Ukraine</li>
                        </ul>
                    </div>
                    <!-- /col -->
                    <!-- col -->
                    <div class="col-md-6 b-r">
                        <p class="text-uppercase text-strong mb-10 custom-font">
                            Slave Address
                            <a href="javascript:;" class="btn btn-default btn-rounded-20 btn-xs pull-right">
                                <i class="fa fa-pencil"></i>
                            </a>
                        </p>
                        <!-- col -->
                        <div class="col-md-6">
                            <ul class="list-unstyled text-default lt mb-20">
                                <li>{{ data.name }}</li>
                                <li>{{ data.address }}</li>
                            </ul>
                        </div>
                        <!-- /col -->
                        <!-- col -->
                        <div class="col-md-6">
                            <ul class="list-unstyled text-default lt mb-20">
                                <li>john.douey@gmail.com</li>
                                <li>655 169 4599</li>
                            </ul>
                        </div>
                        <!-- /col -->
                    </div>
                    <!-- /col -->
                    <!-- col -->
                    <div class="col-md-3">
                        <p class="text-uppercase text-strong mb-10 custom-font">Sensor</p>
                        <ul class="list-unstyled text-default lt mb-20">
                            <li>
                                <strong>Sensor:</strong> {{ data.sensor_1 }}</li>
                            <li>
                                <strong>Reading:</strong> {{ data.opt_read }}</li>
                        </ul>
                    </div>
                    <!-- /col -->
                </div>
                <!-- /row -->
            </div>
            <!-- /tile body -->
        </section>

        <!-- /tile -->
        <section class="tile">
            <!-- tile header -->
            <div class="tile-header dvd dvd-btm">
                <h1 class="custom-font">
                    <strong> Chart</strong> // datastream from "angular_scope_learning"
                </h1>

                <ul class="controls">
                    <li class="dropdown">
                        <a role="button" tabindex="0" class="dropdown-toggle settings" data-toggle="dropdown">
                            <i class="fa fa-cog"></i>
                            <i class="fa fa-spinner fa-spin"></i>
                        </a>

                        <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                            <li>
                                <a role="button" tabindex="0" class="tile-toggle">
                                    <span class="minimize">
                                        <i class="fa fa-angle-down"></i>&nbsp;&nbsp;&nbsp;Minimize</span>
                                    <span class="expand">
                                        <i class="fa fa-angle-up"></i>&nbsp;&nbsp;&nbsp;Expand</span>
                                </a>
                            </li>
                            <li>
                                <a role="button" tabindex="0" class="tile-refresh">
                                    <i class="fa fa-refresh"></i> Refresh
                                </a>
                            </li>
                            <li>
                                <a role="button" tabindex="0" class="tile-fullscreen">
                                    <i class="fa fa-expand"></i> Fullscreen
                                </a>
                            </li>
                        </ul>

                    </li>
                    <li class="remove">
                        <a role="button" tabindex="0" class="tile-close">
                            <i class="fa fa-times"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- /tile header -->

            <!-- tile body -->
            <div class="tile-body">
                <canvas class="chart chart-bar" chart-data="chartData" chart-labels="labels" chart-options="chartOptions"></canvas>
            </div>
            <!-- /tile body -->
        </section>

        <!-- tile -->
        <section class="tile ">
            <!-- tile header -->
            <div class="tile-header dvd dvd-btm">
                <h1 class="custom-font">
                    <strong>DataTable </strong> // datastream from "test_details" ONLY SHOW LAST 3 enteries</h1>
                <ul class="controls">
                    <li class="dropdown">
                        <a role="button" tabindex="0" class="dropdown-toggle settings" data-toggle="dropdown">
                            <i class="fa fa-cog"></i>
                            <i class="fa fa-spinner fa-spin"></i>
                        </a>

                        <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                            <li>
                                <a role="button" tabindex="0" class="tile-toggle">
                                    <span class="minimize">
                                        <i class="fa fa-angle-down"></i>&nbsp;&nbsp;&nbsp;Minimize</span>
                                    <span class="expand">
                                        <i class="fa fa-angle-up"></i>&nbsp;&nbsp;&nbsp;Expand</span>
                                </a>
                            </li>
                            <li>
                                <a role="button" tabindex="0" class="tile-refresh">
                                    <i class="fa fa-refresh"></i> Refresh
                                </a>
                            </li>
                            <li>
                                <a role="button" tabindex="0" class="tile-fullscreen">
                                    <i class="fa fa-expand"></i> Fullscreen
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="remove">
                        <a role="button" tabindex="0" class="tile-close">
                            <i class="fa fa-times"></i>
                        </a>
                    </li>
                </ul>
            </div>

            <!-- tile body -->
            <div class="tile-body p-0">

                <div class="table-responsive">
                    <table class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>NAME</th>
                                <th>RESULT</th>
                                <th>PERCENT</th>
                                <th>TESTED</th>
                                <th>NEXT TEST DATE</th>
                                <th>COMPLETE</th>
                                <th>OFFSET</th>
                                <th>RUN</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in list | limitTo: 3">
                                <td>
                                    <a href="javascript:;">{{ item.id }}</a>
                                </td>
                                <td>{{ item.name }}</td>
                                <td>
                                    <span class="label label-success">{{ item.result }}</span>
                                </td>
                                <td class="ng-binding">{{ item.percent }}</td>
                                <td>{{ item.tested }}</td>
                                <td>{{ item.nexttestdate }}</td>
                                <td>{{ item.complete }} %</td>
                                <td class="ng-binding">{{ item.offset }}</td>
                                <td class="ng-binding">{{ item.run }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
            <!-- /tile body -->

        </section>
        <!-- /tile -->




    </div>
    <!-- /col -->
</div>
<!-- /row -->