<div class="page-container">
    <div ng-include="'./modules/header/header.html'"></div>

<div class="col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 admin">
    <h3 id="masters_1" >Water Check Manager</h3>

    <div ng-repeat-start="(index, item) in $ctrl.list"
         ng-if="item._id"
         class="row admin-row">
        <div id="masters" class="col-sm-9">{{ item.name }}</div>

        <div class="col-sm-3 text-right">
            <a ng-click="$ctrl.onDelete(item)">
                <i class="fa fa-trash-o"></i>
            </a>
            /
            <a ng-click="$ctrl.onEdit(item, index)">
                <i class="fa fa-pencil"></i>
            </a>
        </div>
    </div>

    <div ng-if="$ctrl.edit.success === item._id">
        Update success
    </div>

    <div ng-if="$ctrl.edit.item === item"
         class="admin-edit">
        <input class="form-control"
               id="editing-item"
               ng-model="item.name"
               ng-blur="$ctrl.onSave(item)"
               placeholder="Type a water check area name and click outside the box" />
    </div>

    <div ng-if="$ctrl.edit.item === item && $ctrl.edit.error"
         ng-repeat-end>
        {{ $ctrl.edit.error }}
    </div>

    <div class="admin-edit"
         ng-if="!$ctrl.edit.item">
        <button id="create-water" ng-click="$ctrl.onCreate()"
                class="btn btn-primary">
            <i class="fa fa-plus"></i> Create Water Check Area
        </button>
        <button id="next" ui-sref="select({ next: 'main' })" class="btn btn-primary pull-right">
         <i class="fa fa-angle-double-right"></i> NEXT
        </button>


        <!--a class="pull-right"
           ui-sref="select({ next: 'main' })">Continue</a-->
    </div>
</div>
</div>

