<div class="page">

    <div class="row ui-section">
        <div class="col-lg-8 clearfix">
            <h2 class="section-header">Geo</h2>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <section class="panel panel-default">
                        <div class="panel-body">
                            <div id='map' style="height: 600px"></div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>

</div>
