<div class="page">

    <div class="row ui-section">
        <div class="col-md-9 col-sm-8 col-xs-6 clearfix">
            <h2 class="section-header">Geo</h2>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <div class="form-group">
                <div class="ui-input-group">
                    <input type="number"
                           class="form-control text-right"
                           ng-model="limit">
                    <span class="input-bar"></span>
                    <label>Limit</label>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <section class="panel panel-default">
                        <div class="panel-body">
                            <div id='map'
                                 style="height: 600px"></div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>

</div>
