<div class="page">

    <div class="row ui-section">
        <div class="col-lg-8 clearfix">
            <h2 id="live"
                class="section-sub-header">LIVE LoRaWAN | Application Server Data</h2>
        </div>
        <table class="table table-bordered table-striped">
            <thead>
                <tr class="bg-dark">
                    <th class="text-center">Latitude</th>
                    <th class="text-center">Longitude</th>
                    <th class="text-center">Value 1</th>
                    <th class="text-center">Time Stamp</th>
                    <th class="text-center"
                        ng-if="vm.showValue3">Value 3</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in vm.data">
                    <td class="text-center">{{ item.latitude }}</td>
                    <td class="text-center">{{ item.longitude }}</td>
                    <td class="text-center">{{ item.value_1 }}</td>
                    <td class="text-center">{{ item.timestamp }}</td>
                    <td class="text-center"
                        ng-if="vm.showValue3">{{ item.value_3 }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
