<section class="page">

    <section class="row ui-section">
        <div class="col-lg-8 clearfix">
            <h2 class="section-header">Basic Card</h2>
        </div>
        <div class="col-lg-8">
            <div class="row">
                <div class="col-md-6">
                    <div class="card bg-dark-light">
                        <div class="card-content">
                            <span class="card-title">Card Title</span>
                            <p>Hey there, I am a very simple card. I am good at containing small bits of information.
                                I am quite convenient because I require little markup to use effectively.</p>
                        </div>
                        <div class="card-action">
                            <a href="javascript:;">A link</a>
                            <a href="javascript:;">A link</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="card bg-primary">
                        <div class="card-content">
                            <span class="card-title">Card Title</span>
                            <p>Hey there, I am a very simple card. I am good at containing small bits of information.
                                I am quite convenient because I require little markup to use effectively.</p>
                            </div>
                        <div class="card-action">
                            <a href="javascript:;">A link</a>
                            <a href="javascript:;">A link</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="card bg-info">
                        <div class="card-content">
                            <span class="card-title">Card Title</span>
                            <p>Hey there, I am a very simple card. I am good at containing small bits of information.
                                I am quite convenient because I require little markup to use effectively.</p>
                        </div>
                        <div class="card-action">
                            <a href="javascript:;">A link</a>
                            <a href="javascript:;">A link</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="card bg-white">
                        <div class="card-content">
                            <span class="card-title">Card Title</span>
                            <p>Hey there, I am a very simple card. I am good at containing small bits of information.
                                I am quite convenient because I require little markup to use effectively.</p>
                        </div>
                        <div class="card-action">
                            <a href="javascript:;">A link</a>
                            <a href="javascript:;" class="color-primary">A link</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="row ui-section">
        <div class="col-lg-8 clearfix">
            <h2 class="section-header">Image Card</h2>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <div class="card bg-white">
                        <div class="card-image">
                            <img src="assets/images/assets/600_400-2.jpg">
                            <span class="card-title">Image Card</span>
                        </div>
                        <div class="card-content">
                            <p>Hey there, I am a very simple card. I am good at containing small bits of information.
                                I am quite convenient because I require little markup to use effectively.</p>
                        </div>
                        <div class="card-action">
                            <a href="javascript:;">A link</a>
                            <a href="javascript:;" class="color-primary">A link</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card bg-white">
                        <div class="card-image">
                            <img src="assets/images/assets/600_400-3.jpg">
                            <span class="card-title">Image Card with Pofile</span>
                        </div>
                        <div class="card-content">
                            <a class="card-profile-img pull-right" href="javascript:;"><img src="assets/images/g1.jpg" alt=""></a>
                            <p>I am a very simple card. I am good at containing small bits of information.
                                I am convenient because I require little markup to use effectively.</p>
                        </div>
                        <div class="card-action">
                            <a href="javascript:;">A link</a>
                            <a href="javascript:;">A link</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card bg-white">
                        <div class="card-image">
                            <img src="assets/images/assets/600_400-1.jpg">
                            <span class="card-title">Image Card with Icon Button</span>
                        </div>
                        <div class="card-content">
                            <a class="card-button pull-right" href="javascript:;">
                                <button class="btn btn-icon btn-icon-round btn-floating btn-danger"><i class="fa fa-heart"></i></button>
                            </a>
                            <p>I am a very simple card. I am good at containing small bits of information.
                                I am quite convenient because I require little markup to use effectively.</p>
                        </div>
                        <div class="card-action">
                            <a href="javascript:;">A link</a>
                            <a href="javascript:;">A link</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</section>
