#cover {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    display: none;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
}

#map {
    -o-transition: 1s opacity ease;
    -webkit-transition: 1s opacity ease;
    border: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    margin: 0;
    overflow: visible;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: 1s opacity ease;
    width: 100%;
    z-index: 1;
}

#map.hide,
.menu-open,
.hide-history .history-marker,
.mapboxgl-ctrl-attrib.mapboxgl-ctrl {
    display: none;
}

#sidebar h3 {
    color: #00a4a1;
    float: left;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: -.36px;
    line-height: 37px;
    margin-bottom: 10px;
    margin-top: 20px;
}

#sidebar-1,
#sidebar-2 {
    right: -250px;
    transition: .3s right ease-out;
}

#sidebar-1,
#sidebar-2,
#sidebar-3 {
    background: rgba(60, 68, 79, 0.8);
    color: #999;
}

#sidebar-1,
#sidebar-2,
#sidebar-3,
#sidebar-4 {
    border: none;
    bottom: 0;
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 25px 20px;
    position: fixed;
    top: 146px;
    width: 250px;
    word-break: break-word;
    z-index: 10;
}

#sidebar-1.active,
#sidebar-2.active {
    right: 0;
}

#sidebar-1.active-both {
    right: 250px;
}

#sidebar-3 {
    left: -250px;
    transition: .3s left ease-out;
}

#sidebar-3.active {
    left: 0;
}

#sidebar-4 {
    background: rgba(255, 255, 255, 0.95);
    color: #333;
    left: 0;
    overflow: hidden;
    padding: 0;
    right: 0;
    top: auto;
    transition: .3s bottom ease-out;
    width: auto;
    z-index: 9;
}

#sidebar-4 .panel {
    background-color: transparent;
}

#sidebar-4.active {
    bottom: 0!important;
}

.auto-active {
    border-radius: 34px;
    float: right;
    margin-top: 10px;
    padding: 2px 15px;
    text-align: right;
}

.basic-lines__container {
    margin-top: -35px;
}

.basic-lines__container,
.high-lines__container,
.low-lines__container {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.basic-lines__cover {
    top: 35px;
    z-index: 2;
}

.basic-lines__cover,
.high-lines__cover,
.low-lines__cover {
    height: 375px;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
}

.box-closeButton {
    bottom: 0;
    cursor: pointer;
    height: 12px;
    position: absolute;
    right: 12px;
    top: 12px;
    width: 12px;
}

.box-closeButton path {
    fill: #aaa;
}

.box-closeButton:hover path {
    fill: #888;
}

.box-content {
    background-color: #fff;
    padding: 10px 15px;
}

.box-title {
    color: #FFF;
    font-size: 13px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.btn {
    background-color: #ccc;
    border: 1px solid #999;
    border-radius: 2px;
    cursor: pointer;
    display: inline-block;
    float: left;
    font-size: 16px;
    padding: 4px 8px;
}

.btn:hover {
    background-color: #999;
    transition: 250ms;
}

.buttons {
    position: absolute;
    right: 8px;
    top: 4px;
    z-index: 100;
}

.chart-group {
    height: 200px;
    padding: 20px 0 0;
    position: relative;
}

.chart-group .content-group {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.chart-item {
    float: left;
    opacity: 0;
    position: relative;
    transition: opacity 1s ease;
    width: 33%;
}

.close-button {
    cursor: pointer;
    left: 10px;
    position: absolute;
    top: 10px;
    z-index: 99;
}

.closed .text-group.text-0 .line1,
.closed .text-group.text-0 .line2,
.closed .text-group.text-1 .line1,
.closed .text-group.text-2 .line1,
.closed .text-group.text-2 .line2 {
    border-top-color: rgba(80, 89, 99, 1);
}

.cmn-toggle {
    margin-left: -9999px;
    position: absolute;
    visibility: hidden;
}

.cmn-toggle+label {
    cursor: pointer;
    display: block;
    outline: none;
    position: relative;
    user-select: none;
}

.container {
    height: 100%;
    margin-top: 500px;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    width: 100%;
}

.description-title {
    color: #FFF;
    float: left;
    font-size: 13px;
    font-weight: 500;
    line-height: 20px;
    text-transform: uppercase;
    width: 50%;
}

.description-value {
    color: #999;
    float: left;
    font-size: 13px;
    font-weight: 500;
    line-height: 20px;
    width: 50%;
}

.double-bounce1 {
    -webkit-animation: bounce 2s infinite ease-in-out;
    animation: bounce 2s infinite ease-in-out;
    background-color: #fff;
    border-radius: 25px;
    height: 50px;
    left: 0;
    opacity: 0.6;
    position: absolute;
    top: 0;
    width: 50px;
}

.double-bounce2 {
    -webkit-animation: bounce 2s infinite ease-in-out;
    -webkit-animation-delay: 1s;
    animation: bounce 2s infinite ease-in-out;
    animation-delay: 1s;
    background-color: #fff;
    border-radius: 25px;
    height: 50px;
    left: 0;
    opacity: 0.6;
    position: absolute;
    top: 0;
    width: 50px;
}

.fakeloader {
    background-color: #1c1d2f;
    height: 100%;
    left: 0;
    opacity: 1;
    position: fixed;
    top: 0;
    transition: opacity .3s ease;
    width: 100%;
    z-index: 99999;
}

.fakeloader.hide-fakeloader {
    opacity: 0;
}

.fl.spinner1 {
    left: 50%;
    position: absolute;
    top: 50%;
}

.hamburger {
    -webkit-transition: 0 200ms;
    background: #FFF;
    display: block;
    height: 3px;
    left: 50%;
    margin-left: -12.5px;
    margin-top: -1.5px;
    position: absolute;
    top: 50%;
    transition: transform 200ms 0 200ms;
    width: 25px;
}

.hamburger-1 {
    -webkit-transform: translate3d(0, -8px, 0);
    transform: translate3d(0, -8px, 0);
}

.hamburger-2 {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.hamburger-3 {
    -webkit-transform: translate3d(0, 8px, 0);
    transform: translate3d(0, 8px, 0);
}

.history-marker {
    background: #FFF;
    border-radius: 10px;
    cursor: pointer;
    height: 20px;
    margin: -10px;
    position: relative;
    width: 20px;
}

.history-marker:hover .history-marker__tooltip {
    display: block;
}

.history-marker__tooltip {
    -webkit-filter: drop-shadow(001pxrgba(0, 0, 0, 0.5));
    background: #FFF;
    border-radius: 10px;
    bottom: 30px;
    display: none;
    left: -90px;
    padding: 10px;
    position: absolute;
    text-align: left;
    width: 200px;
}

.history-marker__tooltip:after {
    border-left: 8px transparent solid;
    border-right: 8px transparent solid;
    border-top: 10px #FFF solid;
    bottom: -10px;
    content: '';
    height: 10px;
    left: 92px;
    position: absolute;
    width: 16px;
}

.jBox-Modal .jBox-title,
.jBox-Confirm .jBox-title {
    background: rgba(96, 101, 109, 0.16);
    color: #FFF;
    text-shadow: none;
}

.jBox-container {
    background: rgba(60, 68, 79, 0.8);
    border: none;
    color: #999;
    float: right;
    height: 754px;
    margin-left: 1255px;
    margin-top: 144px;
    position: relative;
    width: 345px;
    z-index: 3;
}

.lines-box {
    cursor: ns-resize;
    height: 20px;
    margin-top: -10px;
    padding: 9px 40px 0;
    position: absolute;
    width: 100%;
    z-index: 5;
}

.lines-box-1 {
    top: 35px;
}

.lines-box-1 .lines-box-line {
    border-top: #ef5350 2px dashed;
}

.lines-box-2 {
    top: 375px;
}

.lines-box-2 .lines-box-line {
    border-top: #ffe155 2px dashed;
}

.lines-box-line {
    height: 1px;
    width: 100%;
}

.load {
    height: 100px;
    left: 24px;
    margin: -100px -25px;
    position: relative;
    top: 50px;
    width: 100px;
}

.load-pulse {
    -moz-animation: pulse 2000ms linear infinite;
    -webkit-animation: pulse 2000ms linear infinite;
    animation: pulse 2000ms linear infinite;
    position: absolute;
    top: 50px;
}

.load-pulse-container {
    background-color: #4a80c7;
    border-radius: 100px;
    left: 0;
    margin-top: -50px;
}

.load-pulse-container.high:after,
.load-pulse-container.high:before {
    background-color: #ef5350;
}

.load-pulse-container.low:after,
.load-pulse-container.low:before {
    background-color: #ffe155;
}

.load-pulse-container:after {
    -webkit-animation: outer-ripple 2000ms linear infinite;
    animation: outer-ripple 2000ms linear infinite;
    z-index: -100;
}

.load-pulse-container:after,
.load-pulse-container:before {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 100px;
    content: "";
    display: inline-block;
    height: 100px;
    margin: 0 0 0 -50px;
    position: absolute;
    width: 100px;
}

.load-pulse-container:before {
    -webkit-animation: inner-ripple 2000ms linear infinite;
    animation: inner-ripple 2000ms linear infinite;
    z-index: -200;
}

.low-lines__container {
    margin-top: -375px;
}

.low-lines__cover {
    top: 375px;
    z-index: 3;
}

.map-container {
    height: 890px;
    position: relative;
    width: 100%;
}

.mapboxgl-canvas {
    position: relative!important;
}

.mapboxgl-control-container {
    position: absolute;
    right: 500px;
    top: -135px;
}

.mapboxgl-marker:nth-child(2) {
    z-index: 99;
}

.mapicon {
    cursor: pointer;
    height: 100px;
    position: absolute;
    width: 100px;
    z-index: 9999999;
}

.mapicon .click-area {
    height: 100px;
    width: 100px;
}

.menu {
    -webkit-filter: url(#goo);
    box-sizing: border-box;
    filter: url(#goo);
    font-size: 20px;
    height: 310px;
    margin-left: -155px;
    margin-top: -105px;
    position: absolute;
    text-align: left;
    width: 290px;
    z-index: 2;
}

.menu-2 {
    margin-left: -700px!important;
    margin-top: 48px;
    transform: rotate(180deg);
}

.menu-3 {
    margin-left: -300px!important;
    margin-top: 400px;
    transform: rotate(90deg);
}

.menu-4 {
    margin-left: -350px!important;
    margin-top: -350px;
    transform: rotate(270deg);
}

.menu-item,
.menu-open-button {
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: 0 ease-out 200ms;
    background: rgba(80, 89, 99, 1);
    border-radius: 100%;
    color: #FFF;
    height: 80px;
    left: 195px;
    line-height: 80px;
    margin-left: -80px;
    margin-top: 0;
    position: absolute;
    text-align: center;
    top: 115px;
    transform: translate3d(0, 0, 0);
    transition: transform ease-out 200ms 0 ease-out 200ms;
    width: 80px;
}

.menu-item-marker-node {
    background: rgba(80, 89, 99, 1);
    border-radius: 20px;
    height: 40px;
    margin-left: -20px;
    margin-top: -20px;
    width: 40px;
}

.menu-item-marker-title {
    background: #FFF;
    border: #ccc 1px solid;
    border-radius: 5px;
    color: rgba(80, 89, 99, 1);
    font-size: 14px;
    margin-top: 5px;
    padding: 2px 5px;
    text-align: center;
    transform: translateX(-50%);
}

.menu-item-marker-tooltip {
    background: rgba(80, 89, 99, 0.8);
    border-radius: 3px;
    color: #FFF;
    font-size: 14px;
    margin-top: -121px;
    opacity: 0;
    padding: 10px 20px;
    position: relative;
    text-align: center;
    transform: translateX(-50%);
    transition: opacity .2s ease;
}

.menu-item-marker-tooltip:after {
    border-left: transparent 10px solid;
    border-right: transparent 10px solid;
    border-top: rgba(80, 89, 99, 0.8) 10px solid;
    bottom: -10px;
    content: '';
    height: 10px;
    left: 50%;
    margin-left: -10px;
    position: absolute;
    width: 10px;
}

.menu-item.active {
    background: #4a80c7!important;
}

.menu-item:hover {
    background: #00a4a1;
}

.menu-item:nth-child(3),
.menu-item:nth-child(4),
.menu-item:nth-child(5),
.menu-item:nth-child(6),
.menu-item:nth-child(7),
.menu-item:nth-child(8),
.menu-item:nth-child(9) {
    -webkit-transition-duration: 180ms;
    transition-duration: 180ms;
}

.menu-open-button {
    -webkit-transform: scale(1.1, 1.1) translate3d(0, 0, 0);
    -webkit-transition-duration: 400ms;
    -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    cursor: pointer;
    transform: scale(1.1, 1.1) translate3d(0, 0, 0);
    transition-duration: 400ms;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 2;
}

.menu-open-button:hover {
    -webkit-transform: scale(1.2, 1.2) translate3d(0, 0, 0);
    transform: scale(1.2, 1.2) translate3d(0, 0, 0);
}

.menu-open:checked+.menu-open-button {
    -webkit-transform: scale(0.8, 0.8) translate3d(0, 0, 0);
    -webkit-transition-duration: 200ms;
    -webkit-transition-timing-function: linear;
    background: #00a4a1;
    transform: scale(0.8, 0.8) translate3d(0, 0, 0);
    transition-duration: 200ms;
    transition-timing-function: linear;
}

.menu-open:checked+.menu-open-button .hamburger-1 {
    -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
    transform: translate3d(0, 0, 0) rotate(45deg);
}

.menu-open:checked+.menu-open-button .hamburger-2 {
    -webkit-transform: translate3d(0, 0, 0) scale(0.1, 1);
    transform: translate3d(0, 0, 0) scale(0.1, 1);
}

.menu-open:checked+.menu-open-button .hamburger-3 {
    -webkit-transform: translate3d(0, 0, 0) rotate(-45deg);
    transform: translate3d(0, 0, 0) rotate(-45deg);
}

.menu-open:checked~.menu-item {
    -webkit-transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
    transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
}

.menu-open:checked~.menu-item:nth-child(3) {
    -webkit-transform: translate3d(0.08361px, -104.99997px, 0);
    -webkit-transition-duration: 180ms;
    transform: translate3d(0.08361px, -104.99997px, 0);
    transition-duration: 180ms;
}

.menu-open:checked~.menu-item:nth-child(4) {
    -webkit-transform: translate3d(90.9466px, -52.47586px, 0);
    -webkit-transition-duration: 280ms;
    transform: translate3d(90.9466px, -52.47586px, 0);
    transition-duration: 280ms;
}

.menu-open:checked~.menu-item:nth-child(5) {
    -webkit-transform: translate3d(90.9466px, 52.47586px, 0);
    -webkit-transition-duration: 380ms;
    transform: translate3d(90.9466px, 52.47586px, 0);
    transition-duration: 380ms;
}

.menu-open:checked~.menu-item:nth-child(6) {
    -webkit-transform: translate3d(0.08361px, 104.99997px, 0);
    -webkit-transition-duration: 480ms;
    transform: translate3d(0.08361px, 104.99997px, 0);
    transition-duration: 480ms;
}

.menu-open:checked~.menu-item:nth-child(7) {
    -webkit-transform: translate3d(-90.86291px, 52.62064px, 0);
    -webkit-transition-duration: 580ms;
    transform: translate3d(-90.86291px, 52.62064px, 0);
    transition-duration: 580ms;
}

.menu-open:checked~.menu-item:nth-child(8) {
    -webkit-transform: translate3d(-91.03006px, -52.33095px, 0);
    -webkit-transition-duration: 680ms;
    transform: translate3d(-91.03006px, -52.33095px, 0);
    transition-duration: 680ms;
}

.menu-open:checked~.menu-item:nth-child(9) {
    -webkit-transform: translate3d(-0.25084px, -104.9997px, 0);
    -webkit-transition-duration: 780ms;
    transform: translate3d(-0.25084px, -104.9997px, 0);
    transition-duration: 780ms;
}

.navbar-header {
    text-align: left;
}

.navbar-header .logo img {
    width: 100px;
}

.navbar-inverse .navbar-collapse .btn.btn-icon {
    background: #6cdade;
    color: #FFF;
    height: 30px;
    width: 30px;
}

.panel-right {
    height: 890px;
    width: 350px;
}

.pin {
    -webkit-transform-origin: 50% 120.71068% 0;
    height: 100px;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
    position: absolute;
    top: 50%;
    transform-origin: 50% 120.71068% 0;
    width: 100px;
}

.pin-wrap {
    -webkit-transform-origin: 50% 120.71068% 0;
    height: 100px;
    margin-left: -50px;
    margin-top: -120.71068px;
    position: absolute;
    transform-origin: 50% 120.71068% 0;
    width: 100px;
}

.pin::after {
    -webkit-transform: rotateZ(-45deg);
    border: 20px solid #f93c11;
    border-radius: 50% 50% 50% 50%;
    box-sizing: border-box;
    content: '';
    display: block;
    height: 100px;
    position: absolute;
    transform: rotateZ(-45deg);
    width: 100px;
}

.pin::before {
    -webkit-transform: rotateZ(-45deg);
    border: 18px solid #d22b05;
    border-radius: 50% 50% 50% 0;
    box-sizing: border-box;
    content: '';
    display: block;
    height: 100px;
    position: absolute;
    transform: rotateZ(-45deg);
    width: 100px;
}

.shadow {
    position: absolute;
}

.shadow::after {
    -webkit-transform: rotateX(55deg);
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.5) 100px 0 20px;
    content: '';
    display: block;
    height: 50px;
    left: -125px;
    margin-top: -25px;
    position: absolute;
    transform: rotateX(55deg);
    width: 50px;
}

.swap-button {
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 3;
}

.text-group {
    -moz-transition: opacity .3s ease;
    -webkit-transition: opacity .3s ease;
    opacity: 0;
    position: absolute;
    top: 50px;
    transition: opacity .3s ease;
    z-index: 1;
}

.text-group .text {
    color: #FFF;
    font-family: Helvetica, Arial, sans-serif;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    white-space: nowrap;
}

.text-group.active,
.menu-item-marker:hover .menu-item-marker-tooltip,
.chart-item--visible {
    opacity: 1;
}

.text-group.text-0 .line1 {
    height: 1px;
    margin-left: -65px;
    margin-top: -36px;
    transform: rotate(45deg);
    width: 60px;
}

.text-group.text-0 .line1,
.text-group.text-0 .line2,
.text-group.text-1 .line1,
.text-group.text-2 .line1,
.text-group.text-2 .line2 {
    border-top: #00a4a1 1px solid;
}

.text-group.text-0 .line2 {
    height: 1px;
    margin-left: -76px;
    margin-top: -22px;
    width: 20px;
}

.text-group.text-0 .text,
.text-group.text-1 .text,
.text-group.text-2 .text {
    margin-left: -180px;
    margin-top: -10px;
    text-align: right;
    width: 100px;
}

.text-group.text-1 .line1 {
    height: 1px;
    margin-left: -77px;
    width: 57px;
}

.text-group.text-2 .line1 {
    height: 1px;
    margin-left: -65px;
    margin-top: 36px;
    transform: rotate(-45deg);
    width: 60px;
}

.text-group.text-2 .line2 {
    height: 1px;
    margin-left: -76px;
    margin-top: 20px;
    width: 20px;
}

10% {
    -webkit-transform: scale(1.1);
    filter: alpha(opacity=1);
    opacity: 1;
    transform: scale(1.1);
}

100% {
    -webkit-transform: scale(2.5);
    filter: alpha(opacity=0);
    opacity: 0;
    transform: scale(2.5);
}

20% {
    -webkit-transform: scale(0.9);
    filter: alpha(opacity=1);
    opacity: 1;
    transform: scale(0.9);
}

30% {
    -webkit-transform: scale(1);
    filter: alpha(opacity=50);
    opacity: 0.5;
    transform: scale(1);
}

50% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
}

80% {
    -webkit-transform: scale(3.5);
    filter: alpha(opacity=0);
    opacity: 0;
    transform: scale(3.5);
}

a {
    -webkit-transition: color .2s;
    color: #8f99a4;
    text-decoration: none;
    transition: color .2s;
}

a:hover {
    color: rgba(80, 89, 99, 1);
    text-decoration: none;
}

body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    background: #fff;
    color: rgba(80, 89, 99, 1);
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-size: 17px;
    line-height: 24px;
    text-align: center;
}

h1 {
    font-size: 3em;
}

h1,
h2,
h3,
h4 {
    margin: 10px 0;
}

html,
body {
    font-family: 'Helvetica Neue', Helvetica, Arial;
    font-size: 12px;
    line-height: 18px;
    margin: 0;
    padding: 0;
}

input.cmn-toggle-round+label {
    background-color: #ddd;
    border-radius: 20px;
    height: 20px;
    padding: 2px;
    width: 40px;
}

input.cmn-toggle-round+label:after {
    background-color: #fff;
    border-radius: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: margin .4s;
    width: 18px;
}

input.cmn-toggle-round+label:before {
    background-color: #f1f1f1;
    border-radius: 20px;
    right: 1px;
    transition: background .4s;
}

input.cmn-toggle-round+label:before,
input.cmn-toggle-round+label:after {
    bottom: 1px;
    content: "";
    display: block;
    left: 1px;
    position: absolute;
    top: 1px;
}

input.cmn-toggle-round:checked+label:after {
    margin-left: 20px;
}

input.cmn-toggle-round:checked+label:before {
    background-color: #8ce196;
}