<section class="page"
         data-ng-controller="DashboardCtrl">
    <section class="row ui-section">
        <md-chips ng-if="active"
                  readonly="true">
            <md-chip>Active: "{{ active }}"</md-chip>
        </md-chips>

        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <div class="card bg-white">
                        <div class="card-image">
                            <img src="assets/images/assets/600_400-1.jpg">
                            <span class="card-title">Main map</span>
                        </div>

                        <div class="card-content">
                            <a class="card-button pull-right"
                               href="javascript:;">
                                <button class="btn btn-icon btn-icon-round btn-floating btn-danger">
                                    <i class="material-icons">help_outline</i>
                                </button>
                            </a>

                            <p>
                                <ul>
                                    <li>Main main with ACTIVE geo fence</li>
                                </ul>
                            </p>
                        </div>

                        <div class="card-action">
                            <a href="javascript:"
                               ui-sref="geo/fence({ index: activeFence, pulseIndex: '' })">Main map</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card bg-white">
                        <div class="card-image">
                            <img src="assets/images/assets/600_400-1.jpg">
                            <span class="card-title">Pulses</span>
                        </div>
                        <div class="card-content">
                            <a class="card-button pull-right"
                               href="javascript:;">
                                <button class="btn btn-icon btn-icon-round btn-floating btn-danger">
                                    <i class="material-icons">help_outline</i>
                                </button>
                            </a>
                            <p>
                                <ul>
                                    <li>Pulse list</li>
                                </ul>
                            </p>
                        </div>
                        <div class="card-action">
                            <a href="javascript:"
                               ui-sref="geo/pulse">Pulses</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card bg-white">
                        <div class="card-image">
                            <img src="assets/images/assets/600_400-1.jpg">
                            <span class="card-title">Fence Designer</span>
                        </div>
                        <div class="card-content">
                            <a class="card-button pull-right"
                               href="javascript:;">
                                <button class="btn btn-icon btn-icon-round btn-floating btn-danger">
                                    <i class="material-icons">help_outline</i>
                                </button>
                            </a>
                            <p>
                                <ul>
                                    <li>Fence list</li>
                                </ul>
                            </p>
                        </div>
                        <div class="card-action">
                            <a href="javascript:"
                               ui-sref="geo/table">Fence Designer</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
