<style>

    canvas#doughnut {
        padding: 50px;
    }

    canvas#bar {
        margin-top: 100px;
        margin-left: 97px;
    }

    canvas#line {
        margin-top: 100px;
        margin-left: 237px;
    }

    .page-main-sidebar.page-chart, .page-main-sidebar.page-markers, .page-main-sidebar.page-route-markers, .page-main-sidebar.page-reports, .page-main-sidebar.page-report, .page-main-sidebar.page-register, .page-main-sidebar.page-login, .page-main-sidebar.page-profile {
        background: #1e2e4a;
        overflow: unset;
        position:  absolute ;
        width: 100%;
    }

    .col-xs-6.ng-scope {
        margin-left: 50px;
        margin-top: 47px;
    }

</style>

<div class="row">
    <div class="col-sm-3">
        <canvas id="doughnut" class="chart chart-doughnut" chart-data="chartCtrl.data" chart-labels="chartCtrl.labels">
        </canvas>
    </div>
    <div class="col-sm-3">
        <canvas id="bar" class="chart chart-bar" chart-data="chartCtrl.data" chart-labels="chartCtrl.labels">
        </canvas>
    </div>
    <div class="col-sm-3">
        <canvas id="line" class="chart chart-line" chart-data="chartCtrl.routeData" chart-labels="chartCtrl.routeLabels">
        </canvas>
    </div>
    </div>
    <div class="col-xs-6">
        <div ng-repeat="(index, item) in chartCtrl.labels">
            <i class="fa fa-map-marker"></i> {{ chartCtrl.data[index]/chartCtrl.total * 100 | number: 2 }}% - {{ item }}
        </div>
    </div>
</div>

