<div class="page-main">
    <p style="display:none"> Filter: <span class="filter label label-good"
              ng-class="{'filter-disabled': !vm.filters.good}"
              ng-click="vm.filters.good = !vm.filters.good; vm.filterMarker()">Good</span>
        <span class="filter label label-bad"
              ng-class="{'filter-disabled': !vm.filters.bad}"
              ng-click="vm.filters.bad = !vm.filters.bad; vm.filterMarker()">Bad</span>
        <span class="filter label label-ugly"
              ng-class="{'filter-disabled': !vm.filters.ugly}"
              ng-click="vm.filters.ugly = !vm.filters.ugly; vm.filterMarker()">Ugly</span>
        <span class="filter label label-planned"
              ng-class="{'filter-disabled': !vm.filters.planned}"
              ng-click="vm.filters.planned = !vm.filters.planned; vm.filterMarker()">Planned</span>
    </p>
    <table>
        <tr>
            <th ng-click="reverse = sort === 'image' ? !reverse : false; sort = 'image'"
                class="sortable"> Picture <i class="fa fa-sort-asc"
                   ng-if="sort === 'image' && !reverse"></i>
                <i class="fa fa-sort-desc"
                   ng-if="sort === 'image' && reverse"></i>
                <i class="fa fa-sort"
                   ng-if="sort !== 'image'"></i>
            </th>
            <th ng-click="reverse = sort === 'markerId' ? !reverse : false; sort = 'markerId'"
                class="sortable"> Marker ID <i class="fa fa-sort-asc"
                   ng-if="sort === 'markerId' && !reverse"></i>
                <i class="fa fa-sort-desc"
                   ng-if="sort === 'markerId' && reverse"></i>
                <i class="fa fa-sort"
                   ng-if="sort !== 'markerId'"></i>
            </th>
            <th ng-click="reverse = sort === 'description' ? !reverse : false; sort = 'description'"
                class="sortable"> Description <i class="fa fa-sort-asc"
                   ng-if="sort === 'description' && !reverse"></i>
                <i class="fa fa-sort-desc"
                   ng-if="sort === 'description' && reverse"></i>
                <i class="fa fa-sort"
                   ng-if="sort !== 'description'"></i>
            </th>
            <th ng-click="reverse = sort === 'status' ? !reverse : false; sort = 'status'"
                class="sortable"> Status <i class="fa fa-sort-asc"
                   ng-if="sort === 'status' && !reverse"></i>
                <i class="fa fa-sort-desc"
                   ng-if="sort === 'status' && reverse"></i>
                <i class="fa fa-sort"
                   ng-if="sort !== 'status'"></i>
            </th>
            <th ng-click="reverse = sort === 'routeName' ? !reverse : false; sort = 'routeName'"
                class="sortable"> Route Name <i class="fa fa-sort-asc"
                   ng-if="sort === 'routeName' && !reverse"></i>
                <i class="fa fa-sort-desc"
                   ng-if="sort === 'routeName' && reverse"></i>
                <i class="fa fa-sort"
                   ng-if="sort !== 'routeName'"></i>
            </th>
            <th ng-click="reverse = sort === 'route' ? !reverse : false; sort = 'route'"
                class="sortable"> Route <i class="fa fa-sort-asc"
                   ng-if="sort === 'route' && !reverse"></i>
                <i class="fa fa-sort-desc"
                   ng-if="sort === 'route' && reverse"></i>
                <i class="fa fa-sort"
                   ng-if="sort !== 'route'"></i>
            </th>
            <th ng-click="reverse = sort === 'lat' ? !reverse : false; sort = 'lat'"
                class="sortable"> Lat <i class="fa fa-sort-asc"
                   ng-if="sort === 'lat' && !reverse"></i>
                <i class="fa fa-sort-desc"
                   ng-if="sort === 'lat' && reverse"></i>
                <i class="fa fa-sort"
                   ng-if="sort !== 'lat'"></i>
            </th>
            <th ng-click="reverse = sort === 'long' ? !reverse : false; sort = 'long'"
                class="sortable"> Long <i class="fa fa-sort-asc"
                   ng-if="sort === 'long' && !reverse"></i>
                <i class="fa fa-sort-desc"
                   ng-if="sort === 'long' && reverse"></i>
                <i class="fa fa-sort"
                   ng-if="sort !== 'long'"></i>
            </th>
            <th ng-click="reverse = sort === 'created' ? !reverse : false; sort = 'created'"
                class="sortable"> Create <i class="fa fa-sort-asc"
                   ng-if="sort === 'created' && !reverse"></i>
                <i class="fa fa-sort-desc"
                   ng-if="sort === 'created' && reverse"></i>
                <i class="fa fa-sort"
                   ng-if="sort !== 'created'"></i>
            </th>
            <th ng-click="reverse = sort === 'edit' ? !reverse : false; sort = 'edit'"
                class="sortable"> Edit <i class="fa fa-sort-asc"
                   ng-if="sort === 'edit' && !reverse"></i>
                <i class="fa fa-sort-desc"
                   ng-if="sort === 'edit' && reverse"></i>
                <i class="fa fa-sort"
                   ng-if="sort !== 'edit'"></i>
            </th>
            <th ng-click="reverse = sort === 'user.username' ? !reverse : false; sort = 'user.username'"
                class="sortable"> User <i class="fa fa-sort-asc"
                   ng-if="sort === 'user.username' && !reverse"></i>
                <i class="fa fa-sort-desc"
                   ng-if="sort === 'user.username' && reverse"></i>
                <i class="fa fa-sort"
                   ng-if="sort !== 'user.username'"></i>
            </th>
            <th></th>
        </tr>
        <tbody ng-repeat="(index, item) in vm.list | orderBy : sort : reverse"
               ng-if="vm.filters[vm.statuses[item.status]]">
            <tr>
                <td>
                    <img ng-src="./{{ item.image }}"
                         height="50"
                         ng-if="!item.uploadImage && item.image" />
                    <img ng-src="{{ item.uploadImage }}"
                         height="50"
                         ng-if="item.uploadImage" />
                    <div ng-show="vm.editingIndex === index + 1 && !vm.historyIndex">
                        <a class="btn btn-primary"
                           ng-click="vm.upload(index, 0)">
                            <span ng-if="!item.image">Upload</span>
                            <span ng-if="item.image">Update</span>
                        </a>
                    </div>
                </td>
                <td ng-if="(vm.editingIndex !== index + 1 || vm.historyIndex) && appId() === 'master'">{{ item.appid }}</td>
                <td ng-if="vm.editingIndex !== index + 1 || vm.historyIndex">{{ item.markerId }}</td>
                <td ng-if="vm.editingIndex !== index + 1 || vm.historyIndex">{{ item.description || 'No description' }}</td>
                <td ng-if="vm.editingIndex !== index + 1 || vm.historyIndex">
                    <span class="label label-route"
                          ng-if="item.status == 5"> Route {{ item.route }}
                    </span>
                </td>
                <td ng-if="vm.editingIndex !== index + 1 || vm.historyIndex">
                    {{ item.routeName }}
                </td>
                <td ng-if="vm.editingIndex !== index + 1 || vm.historyIndex">
                    {{ item.route }}
                </td>
                <td ng-if="vm.editingIndex !== index + 1 || vm.historyIndex">{{ item.lat }}</td>
                <td ng-if="vm.editingIndex !== index + 1 || vm.historyIndex">{{ item.lng }}</td>
                <td ng-if="vm.editingIndex === index + 1 && !vm.historyIndex">
                    <input class="form-control"
                           ng-model="vm.editingItem.markerId" />
                </td>
                <td ng-if="vm.editingIndex === index + 1 && !vm.historyIndex">
                    <textarea class="form-control"
                              ng-model="vm.editingItem.description"></textarea>
                </td>
                <td ng-if="vm.editingIndex === index + 1 && !vm.historyIndex"
                    class="page-main__status">
                    <select ng-model="vm.editingItem.status"
                            class="form-control">
                        <option value="5">Route</option>
                    </select>
                </td>
                <td ng-if="vm.editingIndex === index + 1 && !vm.historyIndex">
                    <input class="form-control"
                           ng-model="vm.editingItem.routeName" />
                </td>
                <td ng-if="vm.editingIndex === index + 1 && !vm.historyIndex"
                    class="page-main__status">
                    <select ng-model="vm.editingItem.route"
                            class="form-control"
                            ng-if="vm.editingItem.status == 5">
                        <option value="1">Route 1</option>
                        <option value="2">Route 2</option>
                        <option value="3">Route 3</option>
                    </select>
                </td>
                <td ng-if="vm.editingIndex === index + 1 && !vm.historyIndex">
                    <input type="number"
                           class="form-control"
                           ng-model="vm.editingItem.lat" />
                </td>
                <td ng-if="vm.editingIndex === index + 1 && !vm.historyIndex">
                    <input type="number"
                           class="form-control"
                           ng-model="vm.editingItem.lng" />
                </td>
                <td ng-if="vm.editingIndex === index + 1 && !vm.historyIndex && vm.editingItem.status == 4">
                    <input type="date"
                           class="form-control"
                           ng-model="vm.editingItem.create" />
                </td>
                <td ng-if="vm.editingIndex !== index + 1 || vm.historyIndex || vm.editingItem.status != 4">
                    {{ item.create | amDateFormat: 'L' }}
                </td>
                <td>{{ item.edit | amDateFormat: 'L' }}</td>
                <td class="avatar-group">
                    <div class="avatar small"
                         ng-style="{ 'background-image': 'url(./' + item.user.image + ')' }"></div>
                    <div class="avatar-name small">
                        <strong>{{ item.user.username }}</strong>
                    </div>
                </td>
                <td>
                    <div ng-if="(!vm.editingIndex || vm.editingIndex === index + 1) && !vm.historyIndex"
                         class="page-main__actions">
                        <a class="btn btn-primary"
                           ng-click="vm.addHistory(index)"
                           ng-if="!item.history.length && (vm.editingIndex !== index + 1 || vm.historyIndex)">
                            <i class="fa fa-plus"></i>
                        </a>
                        <a class="btn btn-warning"
                           ng-if="vm.editingIndex !== index + 1 || vm.historyIndex"
                           ng-click="vm.edit(index, 0)">
                            <i class="fa fa-pencil"></i>
                        </a>
                        <a class="btn btn-success"
                           ng-if="vm.editingIndex === index + 1 && !vm.historyIndex"
                           ng-click="vm.save()">
                            <i class="fa fa-save"></i>
                        </a>
                        <a class="btn btn-warning"
                           ng-if="vm.editingIndex === index + 1 && !vm.historyIndex"
                           ng-click="vm.cancel()">
                            <i class="fa fa-times"></i>
                        </a>
                        <a class="btn btn-danger"
                           ng-click="vm.delete(index)"
                           ng-if="vm.editingIndex !== index + 1 || vm.historyIndex">
                            <i class="fa fa-trash"></i>
                        </a>
                    </div>
                </td>
            </tr>
            <!-- History -->
            <tr ng-repeat="(historyIndex, history) in item.history">
                <td class="history-image">
                    <img ng-src="./{{ history.image }}"
                         height="40"
                         ng-if="!history.uploadImage && history.image" />
                    <img ng-src="{{ history.uploadImage }}"
                         height="40"
                         ng-if="history.uploadImage" />
                    <div ng-if="vm.editingIndex === index + 1 && vm.historyIndex === historyIndex + 1">
                        <a class="btn btn-primary"
                           ng-click="vm.upload(index, historyIndex + 1)">
                            <span ng-if="!history.image">Upload</span>
                            <span ng-if="history.image">Update</span>
                        </a>
                    </div>
                </td>
                <td></td>
                <td ng-if="vm.editingIndex !== index + 1 || vm.historyIndex !== historyIndex + 1">{{ history.description || 'No description' }}</td>
                <td ng-if="vm.editingIndex !== index + 1 || vm.historyIndex !== historyIndex + 1">
                    <span class="label label-route"
                          ng-if="history.status == 5"> Route {{ history.route }}
                    </span>
                </td>
                <td ng-if="vm.editingIndex !== index + 1 || vm.historyIndex !== historyIndex + 1">
                    {{ history.route }}
                </td>
                <td ng-if="vm.editingIndex === index + 1 && vm.historyIndex === historyIndex + 1">
                    <textarea class="form-control"
                              ng-model="vm.editingHistoryItem.description"></textarea>
                </td>
                <td ng-if="vm.editingIndex === index + 1 && vm.historyIndex === historyIndex + 1"
                    class="page-main__status">
                    <select ng-model="vm.editingHistoryItem.status"
                            class="form-control">
                        <option value="5">Route</option>
                    </select>
                </td>
                <td ng-if="vm.editingIndex === index + 1 && vm.historyIndex === historyIndex + 1"
                    class="page-main__status">
                    <select ng-model="vm.editingHistoryItem.route"
                            class="form-control"
                            ng-if="vm.editingHistoryItem.status == 5">
                        <option value="1">Route 1</option>
                        <option value="2">Route 2</option>
                        <option value="3">Route 3</option>
                    </select>
                </td>
                <td colspan="2"></td>
                <td>{{ history.create | amDateFormat: 'L' }}</td>
                <td>{{ history.edit | amDateFormat: 'L' }}</td>
                <td></td>
                <td>
                    <div ng-if="(!vm.editingIndex || (vm.editingIndex === index + 1 && vm.historyIndex === historyIndex + 1))"
                         class="page-main__actions">
                        <a class="btn btn-primary"
                           ng-click="vm.addHistory(index)"
                           ng-if="item.history.length === historyIndex + 1 && (vm.editingIndex !== index + 1 || vm.historyIndex !== historyIndex + 1)">
                            <i class="fa fa-plus"></i>
                        </a>
                        <a class="btn btn-warning"
                           ng-if="vm.editingIndex !== index + 1 || vm.historyIndex !== historyIndex + 1"
                           ng-click="vm.edit(index, historyIndex + 1)">
                            <i class="fa fa-pencil"></i>
                        </a>
                        <a class="btn btn-success"
                           ng-if="vm.editingIndex === index + 1 && vm.historyIndex === historyIndex + 1"
                           ng-click="vm.save()">
                            <i class="fa fa-save"></i>
                        </a>
                        <a class="btn btn-warning"
                           ng-if="vm.editingIndex === index + 1 && vm.historyIndex === historyIndex + 1"
                           ng-click="vm.cancel()">
                            <i class="fa fa-times"></i>
                        </a>
                        <a class="btn btn-danger"
                           ng-click="vm.delete(index, historyIndex + 1)"
                           ng-if="vm.editingIndex !== index + 1 || vm.historyIndex !== historyIndex + 1">
                            <i class="fa fa-trash"></i>
                        </a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="padding"
         ng-if="!vm.editingIndex">
        <a class="btn btn-primary"
           ng-click="vm.add()">Add marker</a>
    </div>
</div>
