<div class="page-header navbar navbar-fixed-top">
    <!-- BEGIN HEADER INNER -->
    <div class="page-header-inner">
        <!-- BEGIN LOGO -->
        <div class="page-logo">
            <img class="logo-default" alt="logo" src="./image/logo.png"> ANDROMEDA
        </div>
        <!-- BEGIN TOP NAVIGATION MENU -->
        <div class="top-menu" ng-if="globalCtrl.isLoggedIn()">
            <ul class="nav navbar-nav">
                <li ui-sref="main" ng-class="{'active': globalCtrl.state.current.name == 'main'}">
                    <div class="nav-content">
                        Main
                        <i class="fa fa-angle-down"></i>
                    </div>
                </li>
                <li ng-class="{'active': globalCtrl.state.current.name == 'detail'}">
                    <div class="nav-content">
                        Detail
                        <i class="fa fa-angle-down"></i>
                    </div>
                </li>
                <li ui-sref="chart" ng-class="{'active': globalCtrl.state.current.name == 'chart'}">
                    <div class="nav-content">
                        Chart
                        <i class="fa fa-angle-down"></i>
                    </div>
                </li>
                <li ui-sref="markers" ng-class="{'active': globalCtrl.state.current.name == 'markers'}">
                    <div class="nav-content">
                        List of markers
                        <i class="fa fa-angle-down"></i>
                    </div>
                </li>
                <li ui-sref="route-markers" ng-class="{'active': globalCtrl.state.current.name == 'route-markers'}">
                    <div class="nav-content">
                        Route Markers
                        <i class="fa fa-angle-down"></i>
                    </div>
                </li>
                <li ui-sref="reports" ng-class="{'active': globalCtrl.state.current.name == 'reports'}">
                    <div class="nav-content">
                        Report
                        <i class="fa fa-angle-down"></i>
                    </div>
                </li>
            </ul>

            <ul class="nav navbar-nav auth pull-right">
                <!-- START USER LOGIN DROPDOWN -->
                <li class="dropdown dropdown-user dropdown-hover">
                    <a data-close-others="true" data-hover="dropdown" data-toggle="dropdown" class="dropdown-toggle" href="javascript:;">
                        <img ng-src="{{ globalCtrl.user().image || './image/placeholders.jpg' }}" class="img-circle" alt="">
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-default active">
                        <li>
                            <a ui-sref="profile" ng-class="{'active': globalCtrl.state.current.name == 'profile'}">
                                <i class="fa fa-user"></i> {{ globalCtrl.user().username }} Profile
                            </a>
                        </li>
                        <li>
                            <a ui-sref="main" ng-class="{'active': globalCtrl.state.current.name == 'main'}">
                                <i class="fa fa-gear"></i> Main
                            </a>
                        </li>
                        <li>
                            <a ui-sref="detail" ng-class="{'active': globalCtrl.state.current.name == 'detail'}">
                                <i class="fa fa-info"></i> Detail
                            </a>
                        </li>
                        <li>
                            <a ui-sref="chart" ng-class="{'active': globalCtrl.state.current.name == 'chart'}">
                                <i class="fa fa-area-chart"></i> Chart
                            </a>
                        </li>
                        <li>
                            <a ui-sref="markers" ng-class="{'active': globalCtrl.state.current.name == 'markers'}">
                                <i class="fa fa-map-marker"></i> List of markers
                            </a>
                        </li>
                        <li>
                            <a ui-sref="route-markers" ng-class="{'active': globalCtrl.state.current.name == 'route-markers'}">
                                <i class="fa fa-road"></i> Route Markers
                            </a>
                        </li>
                        <li>
                            <a ui-sref="reports" ng-class="{'active': globalCtrl.state.current.name == 'reports'}">
                                <i class="fa fa-flag"></i> Report
                            </a>
                        </li>
                        <li>
                            <a ng-click="globalCtrl.logout()">
                                <i class="fa fa-sign-out"></i> Logout
                            </a>
                        </li>
                    </ul>
                </li>
                <!-- END USER LOGIN DROPDOWN -->
            </ul>
        </div>
        <!-- END TOP NAVIGATION MENU -->
    </div>
    <!-- END HEADER INNER -->
</div>