<div class="modal-body">
    <div class="col-sm-12">
        <h2>Report</h2>
    </div>

    <div ng-if="!vm.printing" class="col-sm-12">
        <span class="btn margin-right-bottom label label-good" ng-click="vm.selectAll(1)">
            Good
        </span>
        <span class="btn margin-right-bottom label label-bad" ng-click="vm.selectAll(2)">
            Bad
        </span>
        <span class="btn margin-right-bottom label label-ugly" ng-click="vm.selectAll(3)">
            Ugly
        </span>
        <span class="btn margin-right-bottom label label-planned" ng-click="vm.selectAll(4)">
            Planned
        </span>
        <span class="btn margin-right-bottom label label-route" ng-click="vm.selectAll(5)">
            Route {{ item.route }}
        </span>
    </div>

    <div ng-if="vm.data" class="col-sm-12">
        <div class="row">
            <div class="col-sm-6 form-group">
                <strong>Marker ID:</strong>
                <div class="text-secondary">{{ vm.data.markerId }}</div>
            </div>

            <div class="col-sm-6 form-group">
                <strong>Status:</strong>
                <div class="text-secondary">{{ vm.labels[vm.data.status] }}
                    <span ng-if="vm.data.status === 5">{{ vm.data.route }}</span>
                </div>
            </div>
        </div>

        <div class="row" ng-if="vm.data.image">
            <div class="col-sm-12">
                <strong>Image:</strong>
                <div>
                    <img ng-src="./{{ vm.data.image }}" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 form-group">
                <strong>Lat:</strong>
                <div class="text-secondary">{{ vm.data.lat }}</div>
            </div>

            <div class="col-sm-6 form-group">
                <strong>Long:</strong>
                <div class="text-secondary">{{ vm.data.lng }}</div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 form-group">
                <strong>Create:</strong>
                <div class="text-secondary">{{ vm.data.create | amDateFormat: 'L' }}</div>
            </div>

            <div class="col-sm-6 form-group" ng-if="vm.data.edit">
                <strong>Edit:</strong>
                <div class="text-secondary">{{ vm.data.edit | amDateFormat: 'L' }}</div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <strong>Description:</strong>
                <div class="text-secondary">
                    {{ vm.data.description }}
                </div>
            </div>
        </div>

        <div ng-if="vm.data.history.length">
            <div class="row">
                <div class="col-sm-12">
                    <h1>History:</h1>
                </div>
            </div>

            <hr ng-repeat-start="history in vm.data.history">
            <img ng-src="./{{ history.image }}" ng-if="history.image" />

            <div class="row">
                <div class="col-sm-12">
                    <strong>Description:</strong>
                    <div class="text-secondary">{{ history.description || 'No description' }}</div>
                </div>
            </div>

            <div class="row" ng-repeat-end>
                <div class="col-sm-6">
                    <strong>Create:</strong>
                    <div class="text-secondary">{{ history.create | amDateFormat: 'L' }}</div>
                </div>

                <div class="col-sm-6" ng-if="history.edit">
                    <strong>Edit:</strong>
                    <div class="text-secondary">{{ history.edit | amDateFormat: 'L' }}</div>
                </div>
            </div>
        </div>
    </div>

    <div ng-if="vm.selections()">
        <a class="btn btn-primary" ui-sref="report({id: vm.selections()})">
            <i class="fa fa-eye"></i>
        </a>
    </div>

    <div ng-if="vm.shownList" class="col-sm-12">
        <table>
            <tr>
                <th ng-if="!vm.printing">
                    <input type="checkbox" ng-model="vm.allSelected" ng-change="vm.toggleSelection()" />
                </th>
                <th>Picture</th>
                <th>Marker ID</th>
                <th>Description</th>
                <th>Status</th>
                <th>Lat</th>
                <th>Long</th>
                <th>Create</th>
                <th>Edit</th>
                <th>User</th>
                <th ng-if="!vm.printing"></th>
            </tr>
            <tbody ng-repeat="(index, item) in vm.shownList">
                <tr>
                    <td ng-if="!vm.printing">
                        <input type="checkbox" ng-model="vm.selections[index]" ng-change="vm.toggleSelection(index)" />
                    </td>
                    <td>
                        <img ng-src="./{{ item.image }}" height="50" ng-if="item.image" />
                    </td>
                    <td>{{ item.markerId }}</td>
                    <td>{{ item.description || 'No description' }}</td>
                    <td>
                        <span class="label label-good" ng-if="item.status == 1">
                            Good
                        </span>
                        <span class="label label-bad" ng-if="item.status == 2">
                            Bad
                        </span>
                        <span class="label label-ugly" ng-if="item.status == 3">
                            Ugly
                        </span>
                        <span class="label label-planned" ng-if="item.status == 4">
                            Planned
                        </span>
                        <span class="label label-route" ng-if="item.status == 5">
                            Route {{ item.route }}
                        </span>
                    </td>
                    <td>{{ item.lat }}</td>
                    <td>{{ item.lng }}</td>
                    <td>{{ item.create | amDateFormat: 'L' }}</td>
                    <td>{{ item.edit | amDateFormat: 'L' }}</td>
                    <td class="avatar-group">
                        <div class="avatar small" ng-style="{ 'background-image': 'url(./' + item.user.image + ')' }"></div>
                        <div class="avatar-name small">
                            <strong>{{ item.user.username }}</strong>
                        </div>
                    </td>
                    <td ng-if="!vm.printing">
                        <a class="btn btn-primary" ui-sref="report({id: item._id})">
                            <i class="fa fa-eye"></i>
                        </a>
                    </td>
                </tr>

                <!-- History -->
                <tr ng-repeat="(historyIndex, history) in item.history">
                    <td ng-if="!vm.printing">
                        <input type="checkbox" ng-model="vm.selections[index]" disabled />
                    </td>
                    <td class="history-image">
                        <img ng-src="./{{ history.image }}" height="40" ng-if="history.image" />
                    </td>
                    <td></td>
                    <td>{{ history.description || 'No description' }}</td>
                    <td>
                        <span class="label label-good" ng-if="history.status == 1">
                            Good
                        </span>
                        <span class="label label-bad" ng-if="history.status == 2">
                            Bad
                        </span>
                        <span class="label label-ugly" ng-if="history.status == 3">
                            Ugly
                        </span>
                        <span class="label label-ugly" ng-if="history.status == 4">
                            Ugly
                        </span>
                        <span class="label label-ugly" ng-if="history.status == 5">
                            Ugly
                        </span>
                    </td>
                    <td colspan="2"></td>
                    <td>{{ history.create | amDateFormat: 'L' }}</td>
                    <td>{{ history.edit | amDateFormat: 'L' }}</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-sm-12">
        <a class="btn btn-primary" ng-click="vm.export()">
            <i class="fa fa-download"></i>
            Export
        </a>
    </div>

    <div class="clearfix"></div>
</div>