<div class="row">
    <div class="col-xs-6">
        <canvas id="doughnut" class="chart chart-doughnut" chart-data="chartCtrl.data" chart-labels="chartCtrl.labels">
        </canvas>

        <canvas id="bar" class="chart chart-bar" chart-data="chartCtrl.data" chart-labels="chartCtrl.labels">
        </canvas>

        <canvas id="line" class="chart chart-line" chart-data="chartCtrl.routeData" chart-labels="chartCtrl.routeLabels">
        </canvas>
    </div>
    <div class="col-xs-6">
        <div ng-repeat="(index, item) in chartCtrl.labels">
            <i class="fa fa-map-marker"></i> {{ chartCtrl.data[index]/chartCtrl.total * 100 | number: 2 }}% - {{ item }}
        </div>
    </div>
</div>