<div class="sidebar-group ">
    <div>SEARCH</div>
    <div class="search-area">
        <input type="text" class="form-control search-stations" ng-model="mainCtrl.searchText" ng-change="mainCtrl.search()" placeholder="Search Stations"
        />
    </div>
</div>
<div class="sidebar-group">
    <h4>FILTERS</h4>
    <label>
        <input type="checkbox" ng-model="mainCtrl.filters.good" ng-change="mainCtrl.filterMarker()" /> Good
    </label>
    <br />
    <label>
        <input type="checkbox" ng-model="mainCtrl.filters.ugly" ng-change="mainCtrl.filterMarker()" /> Ugly
    </label>
    <br />
    <label>
        <input type="checkbox" ng-model="mainCtrl.filters.bad" ng-change="mainCtrl.filterMarker()" /> Bad
    </label>
    <br>
    <label>
        <input type="checkbox" ng-model="mainCtrl.filters.planned" ng-change="mainCtrl.filterMarker()" /> Planned
    </label>
    <br />
</div>
<div class="sidebar-group">
    <h4>ROUTE FILTERS</h4>
    <label ng-repeat-start="(index, item) in mainCtrl.routeNames">
        <input type="checkbox" ng-model="mainCtrl.routeFilters[index]" ng-change="mainCtrl.filterRoute()" /> {{ item }}
    </label>
    <br ng-repeat-end />
</div>